.container{
    padding: 1.5rem;
    overflow-y: auto;
    padding-bottom: 3rem;
    .addButton{
        background-color: var(--color-primary);
        color: #fff;
        outline: none;
        padding: 1rem;
    }
    .inputField{
        padding: .5rem;
        width: 14rem;
        font-size: 16px;
        border-radius: 5px;
    }
    select{
        padding: .5rem;
        width: 16rem;
    }
    .select-input-field{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .select-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .user-activity-list{
        margin-top: .5rem;
        display: flex;
        gap: .4rem;
        flex-direction: row; 
        justify-content: start;
        width: 100%;
        align-items: centeer; 
    }
    .activity{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: .2rem;
        font-size: 15px;
        font-weight: 600;
        padding: .7rem;
        border: 1px solid var(--color-primary);
        border-radius: 12px;
    }
    .activity-items{
        padding: .7rem;
        border-radius: 12px;
        border: 1px solid var(--color-primary);
        font-size: 17px;
        color: #504e4e;
    }
    .form-group{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem; 
    }
    .calender-box{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    .months{
        display: flex;
        flex-direction: column;
    }
    .monthsGrid{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
    }
}