<div class="page" padding>
  <div class="container">
    <div class="top-content"></div>
    <div class="central-content">
      <!-- <img class="error-image" src="assets/img/error.png" /> -->
      <div style="margin-top: 2em">
        <h2>{{ "Something went wrong..." | translate }}</h2>
        <div>{{ "Click on the button below to retry" | translate }}</div>
        <button
          mat-raised-button
          style="margin-top: 1rem; padding: 16px"
          color="primary"
          [disabled]="reloading"
          (click)="reloadPage()"
        >
          <mat-icon>refresh</mat-icon>
          {{ "Reload" | translate }}
        </button>
      </div>
    </div>
    <div class="bottom-content">
      <div class="error-message">{{ errorMessage }}</div>
    </div>
  </div>
</div>
