:host {
  width: 60px;
  display: flex;
  flex-direction: column;
}

#lineToolSlider {
  flex: 1;
  padding: 0;
}
.lineToolInputField {
  width: 100%;
  text-align: center;
  height: 64px;
}
.lineToolInput {
  width: 60px;
  margin-left: -16px;
  margin-right: -16px;
  text-align: center;
}
.calendar-picker-button {
  margin-left: -10px;
  margin-top: -24px;
}
