<div style="display: flex" *mobxAutorun>
  <div style="width:24px">
    <button
      mat-button
      class="balance-button"
      [disabled]="currentScale === 10"
      (click)="scaleValues(10)"
    >
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button
      mat-button
      class="balance-button"
      [disabled]="currentScale === 0.1"
      (click)="scaleValues(0.1)"
    >
      <mat-icon>arrow_downward</mat-icon>
    </button>
  </div>
  <div style="flex:1">
    <div *ngFor="let dot of dotsLegend">
      <div style="display: flex; font-size: small">
        <div>
          <img
            class="dot-value-image"
            [src]="'assets/images/dot-' + dot[0] + '-positive.png'"
          />
        </div>
        <div *ngIf="!editDotValue">= {{ dot[1] | number: '.0' }}</div>
      </div>
    </div>
  </div>
</div>
