table.resources-table {
  max-height: 50vh;
  display: block;
  overflow: auto;
}
tr.resource-row {
  cursor: pointer;
  &:hover {
    background: whitesmoke;
  }
}
th {
  font-weight: bold;
}

td {
  cursor: pointer;
}