<div class="page-content">
  <div style="display: flex">
    <h2 style="flex: 1">Translations</h2>
  </div>
  <table mat-table [dataSource]="service.translations">
    
    <!-- 'en' Column -->
    <ng-container matColumnDef="en" clickable>
      <th mat-header-cell *matHeaderCellDef> en </th>
      <td mat-cell *matCellDef="let element"> {{ element.en }} </td>
    </ng-container>

     <!-- 'mw_ny' Column -->
     <ng-container matColumnDef="mw_ny">
      <th mat-header-cell *matHeaderCellDef> mw_ny </th>
      <td mat-cell *matCellDef="let element"> {{ element.mw_ny }} </td>
    </ng-container>

     <!-- 'sw' Column -->
     <ng-container matColumnDef="sw">
      <th mat-header-cell *matHeaderCellDef> sw </th>
      <td mat-cell *matCellDef="let element"> {{ element.sw }} </td>
    </ng-container>

    <!-- 'tg' Column -->
    <ng-container matColumnDef="tg">
      <th mat-header-cell *matHeaderCellDef> tg </th>
      <td mat-cell *matCellDef="let element"> {{ element.tg }} </td>
    </ng-container>

    <!-- 'zm_ny' Column -->
    <ng-container matColumnDef="zm_ny">
      <th mat-header-cell *matHeaderCellDef> zm_ny </th>
      <td mat-cell *matCellDef="let element"> {{ element.zm_ny }} </td>
    </ng-container>

    <!-- 'created_at' Column -->
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element">  {{ element.created_at | date: 'mediumDate' }} </td>
    </ng-container>

  
    <!-- Table Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToRecord(row)"></tr>
  </table>
</div>
