.dialog-container{
    width: 25rem;
    .dialog-container{
        font-weight: 700;
    }
    .inputField{
        padding: .5rem;
        width: 14rem;
        font-size: 16px;
        border-radius: 5px;
    }
}