<div class="page-content">
  <h2>Import Translations</h2>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="XLSX Translations">
      <dashboard-translation-xlsx-import></dashboard-translation-xlsx-import>
    </mat-tab>
    <mat-tab label="App JSON">
      <dashboard-translation-json-import></dashboard-translation-json-import>
      <button mat-stroked-button class="my-8" (click)="service.exportAllAppJsons()">Export All</button>
    </mat-tab>
  </mat-tab-group>
</div>
