<div class="page-content">
  <div style="display: flex; gap: 64px; flex-wrap: wrap">
    <!-- Import translation source strings -->
    <div style="flex: 1; min-width: 320px">
      <h2>JSON Source</h2>
      <dashboard-translation-json-import></dashboard-translation-json-import>
    </div>
    <!-- Import translated strings -->
    <div style="flex: 1; min-width: 320px">
      <h2>CSV Translations</h2>
      <dashboard-translation-csv-import></dashboard-translation-csv-import>
    </div>
  </div>
</div>
