:host {
  display: block;
}
.download-progress {
  position: relative;
  width: 48px;
}
button.download-cancel {
  height: 48px;
  width: 48px;
  min-width: 48px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  mat-icon {
    margin-right: 0;
  }
}
