<div style="display: flex; flex-direction: column; flex: 1">
  <div style="flex: 1">
    <h3 style="margin-top: 0">{{ 'Tools' | translate }}</h3>
    <button mat-button *ngIf="store.activeBudget && store.activeBudget.meta" (click)="toggleEditorMode()">
      <mat-icon>calendar_view_week</mat-icon>{{ 'Edit Budget' | translate }}
    </button>
    <mat-divider></mat-divider>
    <h3>{{ 'Legend' | translate }}</h3>
    <budget-balance-legend [valueCounters]="store.valueCounters"></budget-balance-legend>
    <mat-divider></mat-divider>
  </div>
  <picsa-configuration-select></picsa-configuration-select>
</div>
