<table ngClass="header-table sticky">
  <thead>
    <tr ngClass="header-title fixed-header">
      <th colspan="4" rowspan="4">Crop Information Sheet – CHIPATA MET STATION</th>
    </tr>
    <tr ngClass="right-cells fixed-width">
      <th>1-Nov</th>
      <th>15-Nov</th>
      <th>30-Nov</th>
      <th>15-Dec</th>
      <th>30-Dec</th>
    </tr>
    <tr ngClass="right-cells">
      <th colspan="5" ngClass="font-weight-700">Probability of season start on or before above date</th>
    </tr>
    <tr ngClass="right-cells">
      <th>1/10</th>
      <th>4/10</th>
      <th>6/10</th>
      <th>9/10</th>
      <th>10/10</th>
    </tr>
  </thead>
</table>
