<table ngClass="header-table sticky">
  <thead>
    <tr ngClass="header-title fixed-header">
      <th colspan="4" rowspan="4">Crop Information - {{stationName}}</th>
    </tr>
    <tr ngClass="right-cells fixed-width">
      <th *ngFor="let date of seasonDates">{{date}}</th>
    </tr>
    <tr ngClass="right-cells">
      <th colspan="5" ngClass="font-weight-700">Probability of season start on or before above date</th>
    </tr>
    <tr ngClass="right-cells">
      <th *ngFor="let probability of seasonProbabilities">{{probability}}</th>
    </tr>
  </thead>
</table>
