.header-table {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  .header-title {
    text-align: left;
    font-size: 20px;
  }
  .right-cells th {
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #cec3c3;
  }
  th.font-weight-700 {
    font-weight: 700;
  }
  .fixed-width th {
    width: 100px;
  }
  .fixed-header th {
    width: 800px;
  }
}
