.slider-container {
  padding-bottom: 50px;
  padding-top: 30px;
  width: 60px;
  text-align: center;
}
#lineToolInputField {
  width: 100%;
  text-align: center;
}
#lineToolInput {
}
#lineToolSlider {
  height: 100%;
  padding: 0;
}
#exportButton {
  position: absolute;
  right: 20px;
  z-index: 2;
}
