<div class="page">
  <picsa-header> {{ title | translate }} </picsa-header>
  <div class="page-content">
    <div *ngIf="collection; else elseBlock">
      <picsa-resource-item [resource]="collection" viewStyle="expanded">
        <div style="margin-top: 2rem">
          <mat-card-title style="font-size: 20px">{{
            'Resources' | translate
          }}</mat-card-title>
          <div class="list-container">
            <picsa-resource-item
              *ngFor="let resource of collection.resources"
              [resource]="resource"
              style="margin-bottom: 8px"
            >
            </picsa-resource-item>
          </div>
        </div>
      </picsa-resource-item>
    </div>

    <!--  -->

    <ng-template #elseBlock>{{
      'Collection not found' | translate
    }}</ng-template>
  </div>
</div>
