:host {
  height: 70px;
  max-height: 90%;
  display: inline-block;
}

:host(.small) {
  width: 40px;
  height: 40px;
  padding: 0 5px 5px 0;
}
:host(.x-small) {
  width: 30px;
  height: 30px;
  padding: 0 5px 5px 0;
}

img.card-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-height: 65px;
}
