
.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .warningText{
    text-align: center;
    color: red;
    font-size: 12px;
  }

  .dialog-content{
    
    .StepTitle{
      display: flex;
      justify-content: center;
      font-size: medium;
      font-weight: bold;
    }
    .StepContainer{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      gap: .4rem;
    
    .StepContent{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .form-group {
        // width: 500px;
         padding-top: 10px;
         padding-bottom: 20px;
      }
      label {
        font-size: 14px;
        font-weight: 400;
        margin-right: 10px;
      }
      input.form-control {
        font-size: 16px;
        outline-color: #8a2644;
        padding: 10px;
        width: 90%;
      }
      .ButtonSection{
        width: 15rem;

      }
    }
    }
    .genderDiv{
      display: flex;
      align-items: center;
      gap: 5px;
      margin-top: 1rem;
      margin-bottom: 1rem;
      flex-direction: row;
    }
    .genderType{
      width: 5rem;
      height: 5rem;
      font-weight: 700;
      display: flex;
      border-radius: 5px;
      margin: 2px;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    
  }
