<div class="dialog-content">
  <!-- <button class="saveButtonPosition" mat-button mat-raised-button (click)="submitForm()" color="primary">
    {{ 'Close' | translate }}
  </button> -->
  <mat-icon svgIcon="picsa_options_close" class="saveButtonPosition"  (click)="submitForm()"  ></mat-icon>

  <mat-stepper [linear]="isLinear" #stepper>
    <!-- Practice -->
    <mat-step matStepContent>
      <ng-template matStepLabel>{{ 'Practice' | translate }}</ng-template>
      <div class="StepContainer">
        <div class="StepTitle">{{ 'Enter the practice for this option' | translate }}</div>
        <div class="StepContent">
          <div class="form-group">
            <label>{{ 'Practice' | translate }}</label>
            <input [(ngModel)]="values.practice" class="form-control" />
          </div>
          <div class="importantText">{{ '*This field is required' | translate }}</div>
        </div>
        <div>
          <button mat-raised-button color="primary" [disabled]="!values.practice" matStepperNext>
            {{ 'Next' | translate }}
          </button>
        </div>
        <button mat-stroked-button style="margin-top: 3em" (click)="promptDelete()" [disabled]="!values.practice">
          <mat-icon name="delete">delete</mat-icon> {{ 'Delete' | translate }}
        </button>
      </div>
    </mat-step>

    <!-- Who does it -->
    <mat-step matStepContent>
      <ng-template  matStepLabel>{{ 'Decisions' | translate }}</ng-template>
      <div class="StepContainer" style="left: 10%">
        <div class="StepTitle">{{ 'Who makes decisions' | translate }}?</div>
        <div class="StepContent">
          <div class="genderDiv">
            <div
              class="genderType"
              style="color: #800080"
              (click)="handleGender('female', 'gender_decisions')"
              [ngStyle]="{
                'background-color': values.gender_decisions.includes('female') ? 'wheat' : 'lightgray'
              }"
            >
              {{ 'Female' | translate }}
              <mat-icon svgIcon="picsa_options_female"></mat-icon>
            </div>
            <div
              class="genderType"
              (click)="handleGender('male', 'gender_decisions')"
              style="color: #008066"
              [ngStyle]="{
                'background-color': values.gender_decisions.includes('male') ? 'wheat' : 'lightgray'
              }"
            >
              {{ 'Male' | translate }}
              <mat-icon svgIcon="picsa_options_male"></mat-icon>
            </div>
            <div
              class="genderType"
              (click)="handleBothGenderInput()"
              style="color: #8D1039;"
              [ngStyle]="{
                'background-color': values.gender_decisions.includes('male') || values.gender_decisions.includes('male')
                 ? 'wheat' : 'lightgray'
              }"
            >
              {{ 'BOTH' | translate }}
            </div>
          </div>
          <div style="height: 1rem">
            {{
              values.gender_decisions.length > 1 ? values.gender_decisions.join(' and ') : values.gender_decisions[0]
            }}
          </div>
        </div>
        <div class="ButtonSection">
          <button mat-button matStepperPrevious>{{ 'Back' | translate }}</button>
          <button mat-raised-button color="primary" [disabled]="!(values.gender_decisions.length > 0)" matStepperNext>
            {{ 'Next' | translate }}
          </button>
        </div>
      </div>
    </mat-step>

    <!-- Who does it -->
    <mat-step matStepContent>
      <ng-template matStepLabel>{{ 'Activities' | translate }}</ng-template>
      <div class="StepContainer" style="left: 20%">
        <div class="StepTitle">{{ 'Who does the activity' | translate }}?</div>
        <div class="StepContent">
          <div class="genderDiv">
            <div
              class="genderType"
              style="color: #800080"
              (click)="handleGender('female', 'gender_activities')"
              [ngStyle]="{
                'background-color': values.gender_activities.includes('female') ? 'wheat' : 'lightgray'
              }"
            >
              {{ 'Female' | translate }}
              <mat-icon svgIcon="picsa_options_female"></mat-icon>
            </div>
            <div
              class="genderType"
              (click)="handleGender('male', 'gender_activities')"
              style="color: #008066"
              [ngStyle]="{
                'background-color': values.gender_activities.includes('male') ? 'wheat' : 'lightgray'
              }"
            >
              {{ 'Male' | translate }}
              <mat-icon svgIcon="picsa_options_male"></mat-icon>
            </div>
          </div>
          <div style="height: 1rem">
            {{
              values.gender_activities.length > 1 ? values.gender_activities.join(' and ') : values.gender_activities[0]
            }}
          </div>
        </div>
        <div class="ButtonSection">
          <button mat-button matStepperPrevious>{{ 'Back' | translate }}</button>
          <button mat-raised-button color="primary" [disabled]="!(values.gender_activities.length > 0)" matStepperNext>
            {{ 'Next' | translate }}
          </button>
        </div>
      </div>
    </mat-step>

    <!-- Benefits -->
    <mat-step matStepContent>
      <ng-template matStepLabel>{{ 'Benefits' | translate }}</ng-template>
      <div class="StepContainer" style="left: 36%" >
        <div class="StepTitle">{{ 'Benefits and who ' | translate }} ?</div>
        <div class="StepContent">
          <div style="margin-bottom: 1.5rem; padding: 2px; margin-top: 2rem">
            <div *ngFor="let benefit of values.benefits; index as i">
              <div style="display: flex; flex-direction: row; gap: 3px; padding-bottom: 3px">
                <textarea [(ngModel)]="benefit.benefit" class="form-control"></textarea>
                <div
                  class="genderType"
                  style="color: #800080; padding: 3px; height: 6rem"
                  (click)="handleBenficiaryGender(i, 'female')"
                  [ngStyle]="{
                    'background-color': benefit.beneficiary.includes('female') ? 'wheat' : 'lightgray'
                  }"
                >
                  {{ 'Female' | translate }}
                  <mat-icon svgIcon="picsa_options_female"></mat-icon>
                </div>
                <div
                  class="genderType"
                  (click)="handleBenficiaryGender(i, 'male')"
                  style="color: #008066; padding: 3px; height: 6rem"
                  [ngStyle]="{
                    'background-color': benefit.beneficiary.includes('male') ? 'wheat' : 'lightgray'
                  }"
                >
                  {{ 'Male' | translate }}
                  <mat-icon svgIcon="picsa_options_male"></mat-icon>
                </div>
                <button
                  mat-button
                  color="primary"
                  (click)="handleRemovingBenefits(i)"
                  [disabled]="!values.benefits[i] || !values.benefits[i].benefit"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </div>
            <button style="float: left; margin-top: 7px" (click)="handleMoreBenefits()" mat-button>
              + {{ 'Add benefit' | translate }}
            </button>
          </div>
        </div>
        <div class="ButtonSection">
          <button matStepperPrevious mat-button>{{ 'Back' | translate }}</button>
          <button mat-raised-button color="primary" [disabled]="!(values.benefits.length > 0)" matStepperNext>
            {{ 'Next' | translate }}
          </button>
        </div>
      </div>
    </mat-step>

    <!-- Performance -->
    <mat-step matStepContent>
      <ng-template matStepLabel>{{ 'Performance' | translate }}</ng-template>
      <div class="StepContainer" style="left: 48%" >
        <div class="StepTitle">{{ 'Performance in high, mid and low RF (rainfall)' | translate }}?</div>
        <div class="StepContent">
          <div class="performenceItemHolders">
            <div class="performenceItem">
              <div style="font-weight: 700">{{ 'High RF' | translate }}</div>
              <mat-icon  svgIcon="picsa_options_bad_rain"></mat-icon>
              <div class="emoji-wrapper">
                <div class="emojiTextContainer">
                    <mat-icon [ngStyle]="{'opacity': values.performance.highRf !== 'bad' ? '0.3' : '1'}" svgIcon="picsa_options_thumbs_down" class="emoji_size"></mat-icon>
                 <div class="guideText">{{ 'Bad' | translate }}</div>
                </div>
                <div class="emojiTextContainer">
                  <mat-icon [ngStyle]="{'opacity': values.performance.highRf !== 'ok' ? '0.3' : '1'}" svgIcon="picsa_options_fist_bump" class="emoji_size"></mat-icon>
                  <div class="guideText">{{ 'Ok' | translate }}</div>
                </div>
                <div class="emojiTextContainer">
                  <mat-icon [ngStyle]="{'opacity': values.performance.highRf !== 'good' ? '0.3' : '1'}" svgIcon="picsa_options_thumbs_up" class="emoji_size"></mat-icon>
                  <div class="guideText">{{ 'Good' | translate }}</div>
                </div>
                </div>
              <input type="range" min="0" max="2" [ngModel]="values.performance.highRf === 'bad' ? 0 : values.performance.highRf === 'ok'?1 : 2"  (input)="updatePerformance($event, 'high')" class="guideText">  
            </div>

            <div class="performenceItem">
              <div style="font-weight: 700">{{ 'Mid RF' | translate }}</div>
              <mat-icon svgIcon="picsa_options_mid_rain">water_drop</mat-icon>
              <div class="emoji-wrapper">
                <div class="emojiTextContainer">
                    <mat-icon [ngStyle]="{'opacity': values.performance.midRf !== 'bad' ? '0.3' : '1'}" svgIcon="picsa_options_thumbs_down" class="emoji_size"></mat-icon>
                 <div class="guideText">{{ 'Bad' | translate }}</div>
                </div>
                <div class="emojiTextContainer">
                  <mat-icon [ngStyle]="{'opacity': values.performance.midRf !== 'ok' ? '0.3' : '1'}" svgIcon="picsa_options_fist_bump" class="emoji_size"></mat-icon>
                  <div class="guideText">{{ 'Ok' | translate }}</div>
                </div>
                <div class="emojiTextContainer">
                  <mat-icon [ngStyle]="{'opacity': values.performance.midRf !== 'good' ? '0.3' : '1'}" svgIcon="picsa_options_thumbs_up" class="emoji_size"></mat-icon>
                  <div class="guideText">{{ 'Good' | translate }}</div>
                </div>
                </div>
              <input type="range" min="0" max="2" [ngModel]="values.performance.midRf === 'bad' ? 0 : values.performance.midRf === 'ok'?1 : 2"  (input)="updatePerformance($event, 'mid')" class="guideText">  
            </div>
            <div class="performenceItem">
              <div style="font-weight: 700">{{ 'Low RF' | translate }}</div>
              <mat-icon svgIcon="picsa_options_low_rain">water_drop</mat-icon>
              <div class="emoji-wrapper">
                <div class="emojiTextContainer">
                    <mat-icon [ngStyle]="{'opacity': values.performance.lowRf !== 'bad' ? '0.3' : '1'}" svgIcon="picsa_options_thumbs_down" class="emoji_size"></mat-icon>
                 <div class="guideText">{{ 'Bad' | translate }}</div>
                </div>
                <div class="emojiTextContainer">
                  <mat-icon [ngStyle]="{'opacity': values.performance.lowRf !== 'ok' ? '0.3' : '1'}" svgIcon="picsa_options_fist_bump" class="emoji_size"></mat-icon>
                  <div class="guideText">{{ 'Ok' | translate }}</div>
                </div>
                <div class="emojiTextContainer">
                  <mat-icon [ngStyle]="{'opacity': values.performance.lowRf !== 'good' ? '0.3' : '1'}" color="#a01222" svgIcon="picsa_options_thumbs_up" class="emoji_size"></mat-icon>
                  <div class="guideText">{{ 'Good' | translate }}</div>
                </div>
                </div>
              <input type="range" min="0" max="2" [ngModel]="values.performance.lowRf === 'bad' ? 0 : values.performance.lowRf === 'ok'?1 : 2"  (input)="updatePerformance($event, 'low')" class="guideText">  
            </div>
          </div>
        </div>
        <div class="ButtonSection">
          <button mat-button matStepperPrevious>{{ 'Back' | translate }}</button>
          <button
            mat-raised-button
            color="primary"
            [disabled]="!(values.performance.lowRf && values.performance.midRf && values.performance.highRf)"
            matStepperNext
          >
            {{ 'Next' | translate }}
          </button>
        </div>
      </div>
    </mat-step>

      <!-- Investment -->
      <mat-step matStepContent>
        <ng-template matStepLabel>{{ 'Investment' | translate }}</ng-template>
        <div class="StepContainer" style="left: 60%">
          <div class="StepTitle">{{ 'Investment in terms of money and time' | translate }}?</div>
          <div class="StepContent">
            <div
              style="
                display: flex;
                justify-content: space-evenly;
                gap: 1rem;
                width: 100%;
                flex-direction: row;
                margin-bottom: 1.5rem;
                margin-top: 2rem;
              "
            >
              <div class="performenceItem">
                <div style="font-weight: 700" > 
                  {{ 'Money' | translate }}
                </div>
                <mat-icon style="color: #8a2644; font-size: 20px">payments</mat-icon>
                <div class="emoji-wrapper">
                  <div class="emojiTextContainer">
                      <mat-icon [ngStyle]="{'opacity': values.investment.money !== 'low' ? '0.3' : '1'}" svgIcon="picsa_options_thumbs_up" class="emoji_size"></mat-icon>
                   <div class="guideText">{{ 'Low' | translate }}</div>
                  </div>
                  <div class="emojiTextContainer">
                    <mat-icon [ngStyle]="{'opacity': values.investment.money !== 'mid' ? '0.3' : '1'}" svgIcon="picsa_options_fist_bump" class="emoji_size"></mat-icon>
                    <div class="guideText">{{ 'Mid' | translate }}</div>
                  </div>
                  <div class="emojiTextContainer">
                    <mat-icon [ngStyle]="{'opacity': values.investment.money!== 'high' ? '0.3' : '1'}" svgIcon="picsa_options_thumbs_down" class="emoji_size"></mat-icon>
                    <div class="guideText">{{ 'High' | translate }}</div>
                  </div>
                  </div>
                <input type="range" min="0" max="2" [ngModel]="values.investment.money === 'low' ? 0 : values.investment.money === 'mid'?1 : 2"  (input)="updateInvestmentEffort($event, 'money')" class="guideText">  
              </div>
              <div class="performenceItem">
                <div style="font-weight: 700;">
                  {{ 'Time' | translate }}
                </div>
                <mat-icon style="color: #8a2644; font-size: 20px">schedule</mat-icon>
                <div class="emoji-wrapper">
                  <div class="emojiTextContainer">
                      <mat-icon [ngStyle]="{'opacity': values.investment.time !== 'low' ? '0.3' : '1'}" svgIcon="picsa_options_thumbs_up" class="emoji_size"></mat-icon>
                   <div class="guideText">{{ 'Low' | translate }}</div>
                  </div>
                  <div class="emojiTextContainer">
                    <mat-icon [ngStyle]="{'opacity': values.investment.time !== 'mid' ? '0.3' : '1'}" svgIcon="picsa_options_fist_bump" class="emoji_size"></mat-icon>
                    <div class="guideText">{{ 'Mid' | translate }}</div>
                  </div>
                  <div class="emojiTextContainer">
                    <mat-icon [ngStyle]="{'opacity': values.investment.time!== 'high' ? '0.3' : '1'}" svgIcon="picsa_options_thumbs_down" class="emoji_size"></mat-icon>
                    <div class="guideText">{{ 'High' | translate }}</div>
                  </div>
                  </div>
                <input type="range" min="0" max="2" [ngModel]="values.investment.time === 'low' ? 0 : values.investment.time === 'mid'?1 : 2"  (input)="updateInvestmentEffort($event, 'time')" class="guideText"> 
              </div>
            </div>
          </div>
          <div class="ButtonSection">
            <button mat-button matStepperPrevious>{{ 'Back' | translate }}</button>
            <button
              mat-raised-button
              color="primary"
              [disabled]="!(values.investment.money && values.investment.time)"
              matStepperNext
            >
              {{ 'Next' | translate }}
            </button>
          </div>
        </div>
      </mat-step>

    <!-- Time -->
    <mat-step matStepContent>
      <ng-template matStepLabel>{{ 'Time' | translate }}</ng-template>
      <div class="StepContainer" style="left: 69%">
        <div class="StepTitle">{{ 'Time to start benefiting' | translate }}</div>
        <div class="StepContent">
          <div class="form-group">
            <label style="font-weight: 700; display: flex; flex-direction: row; justify-content: space-between"
              >{{ 'Time
              (months)' | translate }}
              <mat-icon style="color: #8a2644; font-size: 20px">date_range</mat-icon></label
            >
            <input [(ngModel)]="values.time" (keypress)="onlyNumbers($event)" class="form-control" />
          </div>
        </div>
        <div class="ButtonSection">
          <button matStepperPrevious mat-button>{{ 'Back' | translate }}</button>
          <button mat-raised-button color="primary" [disabled]="!values.time" matStepperNext>
            {{ 'Next' | translate }}
          </button>
        </div>
      </div>
    </mat-step>

    <!-- Risk -->
    <mat-step matStepContent>
      <ng-template matStepLabel>{{ 'Risk' | translate }}</ng-template>
      <div class="StepContainer" style="left: 72%">
        <div class="StepTitle">{{ 'Risk of practice (disadvantage)' | translate }}</div>
        <div class="StepContent">
          <div class="form-group">
            <label style="font-weight: 700; display: flex; flex-direction: column; align-items: center; gap: 10px;"
              >
              <mat-icon svgIcon="picsa_options_risks" style="padding-bottom: 10px; "></mat-icon>
            </label>
            <input style="margin-left: 4px" [(ngModel)]="values.risk" class="form-control" />
          </div>
        <div class="ButtonSection">
          <button matStepperPrevious mat-button>{{ 'Back' | translate }}</button>
          <button mat-raised-button color="primary" [disabled]="!values.risk" (click)="submitForm()">
            {{ 'Finish' | translate }}
          </button>
        </div>
      </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>
