.mat-stepper-horizontal {
  margin-top: 27px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.warningText {
  text-align: center;
  color: red;
  font-size: 12px;
}

.dialog-content {
  padding-bottom: 2rem;

  .saveButtonPosition {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .StepTitle {
    display: flex;
    justify-content: center;
    font-size: medium;
    font-weight: bold;
  }

  .importantText {
    display: flex;
    justify-content: flex-start;
    font-size: small;
    color: red;
    width: 100%;
    font-weight: normal;
  }

  .StepContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    gap: 0.4rem;

    .StepContent {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      // .rain-icon{
      //   font-size: 50px;
      //   color: black;
      // }

      .form-group {
        // width: 500px;
        padding-top: 10px;
        padding-bottom: 20px;
      }

      label {
        font-size: 14px;
        font-weight: 400;
        margin-right: 10px;
      }

      input.form-control {
        font-size: 16px;
        outline-color: #8a2644;
        padding: 5px;
        width: 90%;
      }

      textarea.form-control {
        font-size: 16px;
        outline-color: #8a2644;
        padding: 5px;
        white-space: pre-wrap;
        word-wrap: break-word;
        vertical-align: top;
      }

      .ButtonSection {
        width: 15rem;
      }
    }
  }

  .genderDiv {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: row;
  }

  .genderType {
    width: 5rem;
    height: 5rem;
    font-weight: 700;
    display: flex;
    border-radius: 5px;
    margin: 2px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.performenceItemHolders{
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: row;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}
.performenceItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.emoji_size{
  width: 2rem;
  height: 2rem;
  padding-left: .4rem;
  padding-right: .4rem;
  
}

.emoji-wrapper{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

