<div class="dialog-content">
  <button mat-mini-fab color="primary" (click)="submitForm()" class="closeButton">
    <mat-icon>close</mat-icon>
  </button>

  <mat-stepper [linear]="false" #stepper class="slim-headers">
    <!-- Step header (common) -->
    <mat-step matStepContent *ngFor="let step of stepperSteps; index as stepIndex">
      <ng-template matStepLabel>{{ step.label | translate }}</ng-template>
      <div class="StepContainer" [attr.data-step]="stepIndex + 1">
        <h3 class="StepTitle">{{ step.title | translate }}</h3>
        <div class="StepContent">
          <!-- Step inputs (loaded from templates below) -->
          <ng-container [ngSwitch]="step.id">
            <ng-container *ngSwitchCase="'practice'" [ngTemplateOutlet]="practiceInput"></ng-container>
            <ng-container *ngSwitchCase="'gender_decisions'" [ngTemplateOutlet]="decisionsInput"></ng-container>
            <ng-container *ngSwitchCase="'gender_activities'" [ngTemplateOutlet]="activitiesInput"></ng-container>
            <ng-container *ngSwitchCase="'benefits'" [ngTemplateOutlet]="benefitsInput"></ng-container>
            <ng-container *ngSwitchCase="'performance'" [ngTemplateOutlet]="performanceInput"></ng-container>
            <ng-container *ngSwitchCase="'investment'" [ngTemplateOutlet]="investmentInput"></ng-container>
            <ng-container *ngSwitchCase="'time'" [ngTemplateOutlet]="timeInput"></ng-container>
            <ng-container *ngSwitchCase="'risk'" [ngTemplateOutlet]="riskInput"></ng-container>
            <ng-container *ngSwitchDefault>Input Not found</ng-container>
          </ng-container>
        </div>
      </div>
    </mat-step>

    <!-- 1. Practice -->
    <ng-template #practiceInput>
      <div class="form-group">
        <input [(ngModel)]="values.practice" class="form-control" />
      </div>
      <ng-container [ngTemplateOutlet]="stepButtons" [ngTemplateOutletContext]="{ nextDisabled: !values.practice }">
      </ng-container>
    </ng-template>

    <!-- 2. Decisions -->
    <ng-template #decisionsInput>
      <option-gender-input
        style="margin-top: 1rem"
        [(ngModel)]="values.gender_decisions"
        [options]="{ showValueText: true }"
      ></option-gender-input>

      <ng-container
        [ngTemplateOutlet]="stepButtons"
        [ngTemplateOutletContext]="{ nextDisabled: values.gender_decisions.length === 0 }"
      >
      </ng-container>
    </ng-template>

    <!-- 3. Activity -->
    <ng-template #activitiesInput>
      <option-gender-input
        style="margin-top: 1rem"
        [(ngModel)]="values.gender_activities"
        [options]="{ showValueText: true }"
      ></option-gender-input>
      <ng-container
        [ngTemplateOutlet]="stepButtons"
        [ngTemplateOutletContext]="{ nextDisabled: values.gender_activities.length === 0 }"
      ></ng-container>
    </ng-template>

    <!-- 4. Benefits -->
    <ng-template #benefitsInput>
      <div style="margin-bottom: 1.5rem; padding: 2px; margin-top: 2rem">
        <div *ngFor="let benefit of values.benefits; index as i">
          <div style="display: flex; flex-direction: row; gap: 3px; padding-bottom: 3px">
            <input [(ngModel)]="benefit.benefit" class="form-control" />
            <option-gender-input [(ngModel)]="values.benefits[i].beneficiary"></option-gender-input>
            <button mat-button color="primary" (click)="handleRemovingBenefits(i)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <!-- Only enable adding more benefits when previous are validated -->
        <button
          style="float: left; margin-top: 7px"
          (click)="handleMoreBenefits()"
          mat-button
          [disabled]="
            values.benefits[values.benefits.length - 1] === undefined ||
            values.benefits[values.benefits.length - 1].benefit === undefined ||
            values.benefits[values.benefits.length - 1].beneficiary.length === 0
          "
        >
          + {{ 'Add benefit' | translate }}
        </button>
      </div>
      <ng-container
        [ngTemplateOutlet]="stepButtons"
        [ngTemplateOutletContext]="{ nextDisabled: values.benefits.length === 0 }"
      ></ng-container>
    </ng-template>

    <!-- 5. Performance -->
    <ng-template #performanceInput>
      <div class="performenceItemHolders">
        <div class="performenceItem">
          <div class="performenceHeading">{{ 'High' | translate }}</div>
          <div class="rainIconContainer">
            <mat-icon svgIcon="picsa_options_rain_high"></mat-icon>
          </div>
          <div class="emoji-wrapper">
            <div class="emojiTextContainer">
              <mat-icon
                [ngStyle]="{ opacity: values.performance.highRf !== 'bad' ? '0.3' : '1' }"
                svgIcon="picsa_options_thumbs_down"
                class="emoji_size"
              ></mat-icon>
              <div class="guideText">{{ 'Bad' | translate }}</div>
            </div>
            <div class="emojiTextContainer">
              <mat-icon
                [ngStyle]="{ opacity: values.performance.highRf !== 'ok' ? '0.3' : '1' }"
                svgIcon="picsa_options_fist_bump"
                class="emoji_size"
              ></mat-icon>
              <div class="guideText">{{ 'Ok' | translate }}</div>
            </div>
            <div class="emojiTextContainer">
              <mat-icon
                [ngStyle]="{ opacity: values.performance.highRf !== 'good' ? '0.3' : '1' }"
                svgIcon="picsa_options_thumbs_up"
                class="emoji_size"
              ></mat-icon>
              <div class="guideText">{{ 'Good' | translate }}</div>
            </div>
          </div>
          <!-- updatePerformance -->
        </div>

        <div class="performenceItem">
          <div class="performenceHeading">{{ 'Mid' | translate }}</div>
          <div class="rainIconContainer">
            <mat-icon svgIcon="picsa_options_rain_medium"></mat-icon>
          </div>
          <div class="emoji-wrapper">
            <div class="emojiTextContainer">
              <mat-icon
                [ngStyle]="{ opacity: values.performance.midRf !== 'bad' ? '0.3' : '1' }"
                svgIcon="picsa_options_thumbs_down"
                class="emoji_size"
              ></mat-icon>
              <div class="guideText">{{ 'Bad' | translate }}</div>
            </div>
            <div class="emojiTextContainer">
              <mat-icon
                [ngStyle]="{ opacity: values.performance.midRf !== 'ok' ? '0.3' : '1' }"
                svgIcon="picsa_options_fist_bump"
                class="emoji_size"
              ></mat-icon>
              <div class="guideText">{{ 'Ok' | translate }}</div>
            </div>
            <div class="emojiTextContainer">
              <mat-icon
                [ngStyle]="{ opacity: values.performance.midRf !== 'good' ? '0.3' : '1' }"
                svgIcon="picsa_options_thumbs_up"
                class="emoji_size"
              ></mat-icon>
              <div class="guideText">{{ 'Good' | translate }}</div>
            </div>
          </div>
        </div>
        <div class="performenceItem">
          <div class="performenceHeading">{{ 'Low' | translate }}</div>
          <div class="rainIconContainer">
            <mat-icon svgIcon="picsa_options_rain_low"></mat-icon>
          </div>
          <div class="emoji-wrapper">
            <div class="emojiTextContainer">
              <mat-icon
                [ngStyle]="{ opacity: values.performance.lowRf !== 'bad' ? '0.3' : '1' }"
                svgIcon="picsa_options_thumbs_down"
                class="emoji_size"
              ></mat-icon>
              <div class="guideText">{{ 'Bad' | translate }}</div>
            </div>
            <div class="emojiTextContainer">
              <mat-icon
                [ngStyle]="{ opacity: values.performance.lowRf !== 'ok' ? '0.3' : '1' }"
                svgIcon="picsa_options_fist_bump"
                class="emoji_size"
              ></mat-icon>
              <div class="guideText">{{ 'Ok' | translate }}</div>
            </div>
            <div class="emojiTextContainer">
              <mat-icon
                [ngStyle]="{ opacity: values.performance.lowRf !== 'good' ? '0.3' : '1' }"
                color="#a01222"
                svgIcon="picsa_options_thumbs_up"
                class="emoji_size"
              ></mat-icon>
              <div class="guideText">{{ 'Good' | translate }}</div>
            </div>
          </div>
        </div>
      </div>
      <ng-container
        [ngTemplateOutlet]="stepButtons"
        [ngTemplateOutletContext]="{
          nextDisabled: !(values.performance.lowRf && values.performance.midRf && values.performance.highRf)
        }"
      ></ng-container>
    </ng-template>

    <!-- 6. Investment -->
    <ng-template #investmentInput>
      <div class="investmentsContentContainer">
        <div class="performenceItem">
          <div class="performenceHeading">
            {{ 'Money' | translate }}
          </div>
          <mat-icon style="color: #8a2644; font-size: 20px">payments</mat-icon>
          <div class="emoji-wrapper">
            <div class="emojiTextContainer">
              <mat-icon
                [ngStyle]="{ opacity: values.investment.money !== 'low' ? '0.3' : '1' }"
                svgIcon="picsa_options_thumbs_up"
                class="emoji_size"
              ></mat-icon>
              <div class="guideText">{{ 'Low' | translate }}</div>
            </div>
            <div class="emojiTextContainer">
              <mat-icon
                [ngStyle]="{ opacity: values.investment.money !== 'mid' ? '0.3' : '1' }"
                svgIcon="picsa_options_fist_bump"
                class="emoji_size"
              ></mat-icon>
              <div class="guideText">{{ 'Mid' | translate }}</div>
            </div>
            <div class="emojiTextContainer">
              <mat-icon
                [ngStyle]="{ opacity: values.investment.money !== 'high' ? '0.3' : '1' }"
                svgIcon="picsa_options_thumbs_down"
                class="emoji_size"
              ></mat-icon>
              <div class="guideText">{{ 'High' | translate }}</div>
            </div>
          </div>
          <input
            type="range"
            min="0"
            max="2"
            [ngModel]="values.investment.money === 'low' ? 0 : values.investment.money === 'mid' ? 1 : 2"
            (input)="updateInvestmentEffort($event, 'money')"
            class="guideText"
          />
        </div>
        <div class="performenceItem">
          <div style="font-weight: 700">
            {{ 'Time' | translate }}
          </div>
          <mat-icon style="color: #8a2644; font-size: 20px">schedule</mat-icon>
          <div class="emoji-wrapper">
            <div class="emojiTextContainer">
              <mat-icon
                [ngStyle]="{ opacity: values.investment.time !== 'low' ? '0.3' : '1' }"
                svgIcon="picsa_options_thumbs_up"
                class="emoji_size"
              ></mat-icon>
              <div class="guideText">{{ 'Low' | translate }}</div>
            </div>
            <div class="emojiTextContainer">
              <mat-icon
                [ngStyle]="{ opacity: values.investment.time !== 'mid' ? '0.3' : '1' }"
                svgIcon="picsa_options_fist_bump"
                class="emoji_size"
              ></mat-icon>
              <div class="guideText">{{ 'Mid' | translate }}</div>
            </div>
            <div class="emojiTextContainer">
              <mat-icon
                [ngStyle]="{ opacity: values.investment.time !== 'high' ? '0.3' : '1' }"
                svgIcon="picsa_options_thumbs_down"
                class="emoji_size"
              ></mat-icon>
              <div class="guideText">{{ 'High' | translate }}</div>
            </div>
          </div>
          <input
            type="range"
            min="0"
            max="2"
            [ngModel]="values.investment.time === 'low' ? 0 : values.investment.time === 'mid' ? 1 : 2"
            (input)="updateInvestmentEffort($event, 'time')"
            class="guideText"
          />
        </div>
      </div>
      <ng-container
        [ngTemplateOutlet]="stepButtons"
        [ngTemplateOutletContext]="{
          nextDisabled: !(values.investment.money && values.investment.time)
        }"
      ></ng-container>
    </ng-template>

    <!-- 7. Time -->
    <ng-template #timeInput>
      <div class="form-group">
        <label style="font-weight: 700; display: flex; flex-direction: row; justify-content: space-between">
          {{ 'Time (months)' | translate }}
          <mat-icon style="color: #8a2644; font-size: 20px">date_range</mat-icon>
        </label>
        <input [(ngModel)]="values.time" type="number" class="form-control" />
      </div>
      <ng-container
        [ngTemplateOutlet]="stepButtons"
        [ngTemplateOutletContext]="{ nextDisabled: !values.time }"
      ></ng-container>
    </ng-template>

    <!-- 8. Risk -->
    <ng-template #riskInput>
      <div class="form-group">
        <label style="font-weight: 700; display: flex; flex-direction: column; align-items: center; gap: 10px">
          <mat-icon svgIcon="picsa_options_risks" style="padding-bottom: 10px"></mat-icon>
        </label>
        <input style="margin-left: 4px" [(ngModel)]="values.risk" class="form-control" />
      </div>
      <ng-container
        [ngTemplateOutlet]="stepButtons"
        [ngTemplateOutletContext]="{ nextDisabled: !values.risk }"
      ></ng-container>
    </ng-template>

    <!-- Step Footer (common) -->
    <!-- Context variables an be passed via `[ngTemplateOutletContext]="{ nextDisabled: true }"` -->
    <ng-template #stepButtons let-nextDisabled="nextDisabled" let-firstStep="stepper.selectedIndex === 0">
      <div class="step-buttons">
        <button *ngIf="stepper.selectedIndex === 0" mat-button (click)="promptDelete()" [disabled]="nextDisabled">
          <mat-icon name="delete">delete</mat-icon> {{ 'Delete' | translate }}
        </button>
        <button *ngIf="stepper.selectedIndex > 0" mat-button matStepperPrevious>{{ 'Back' | translate }}</button>
        <button
          *ngIf="stepper.selectedIndex < 7"
          mat-raised-button
          color="primary"
          [disabled]="nextDisabled"
          matStepperNext
        >
          {{ 'Next' | translate }}
        </button>
        <button
          *ngIf="stepper.selectedIndex === 7"
          mat-raised-button
          color="primary"
          [disabled]="nextDisabled"
          (click)="submitForm()"
        >
          {{ 'Finish' | translate }}
        </button>
      </div>
    </ng-template>
  </mat-stepper>
</div>
