<div class="editor-container">
  <button mat-mini-fab color="primary" (click)="submitForm()" class="closeButton">
    <mat-icon>close</mat-icon>
  </button>

  <mat-stepper [linear]="false" #stepper class="slim-headers responsive-content-padding">
    <!-- Step header (common) -->
    @for (step of stepperSteps; track step; let stepIndex = $index) {
      <mat-step matStepContent>
        <ng-template matStepLabel>{{ step.label | translate }}</ng-template>
        <div class="StepContainer" [attr.data-step]="stepIndex + 1">
          <h3 class="StepTitle">{{ step.title | translate }}</h3>
          <div class="StepContent">
            <!-- Step inputs (loaded from templates below) -->
            @switch (step.id) {
              @case ('practice') {
                <ng-container [ngTemplateOutlet]="practiceInput"></ng-container>
              }
              @case ('gender_decisions') {
                <ng-container [ngTemplateOutlet]="decisionsInput"></ng-container>
              }
              @case ('gender_activities') {
                <ng-container [ngTemplateOutlet]="activitiesInput"></ng-container>
              }
              @case ('benefits') {
                <ng-container [ngTemplateOutlet]="benefitsInput"></ng-container>
              }
              @case ('performance') {
                <ng-container [ngTemplateOutlet]="performanceInput"></ng-container>
              }
              @case ('investment') {
                <ng-container [ngTemplateOutlet]="investmentInput"></ng-container>
              }
              @case ('time') {
                <ng-container [ngTemplateOutlet]="timeInput"></ng-container>
              }
              @case ('risk') {
                <ng-container [ngTemplateOutlet]="riskInput"></ng-container>
              }
              @default {
                Input Not found
              }
            }
          </div>
        </div>
      </mat-step>
    }

    <!-- 1. Practice -->
    <ng-template #practiceInput>
      <div class="form-group">
        <input [(ngModel)]="values.practice" class="form-control" />
      </div>
      <ng-container [ngTemplateOutlet]="stepButtons" [ngTemplateOutletContext]="{ nextDisabled: !values.practice }">
      </ng-container>
    </ng-template>

    <!-- 2. Decisions -->
    <ng-template #decisionsInput>
      <option-gender-input
        style="margin-top: 1rem"
        [(ngModel)]="values.gender_decisions"
        [options]="{ showValueText: true }"
      ></option-gender-input>

      <ng-container
        [ngTemplateOutlet]="stepButtons"
        [ngTemplateOutletContext]="{ nextDisabled: values.gender_decisions.length === 0 }"
      >
      </ng-container>
    </ng-template>

    <!-- 3. Activity -->
    <ng-template #activitiesInput>
      <option-gender-input
        style="margin-top: 1rem"
        [(ngModel)]="values.gender_activities"
        [options]="{ showValueText: true }"
      ></option-gender-input>
      <ng-container
        [ngTemplateOutlet]="stepButtons"
        [ngTemplateOutletContext]="{ nextDisabled: values.gender_activities.length === 0 }"
      ></ng-container>
    </ng-template>

    <!-- 4. Benefits -->
    <ng-template #benefitsInput>
      <div class="entry-rows">
        @for (benefit of values.benefits; track benefit; let i = $index) {
          <div class="entry-row-item">
            <div class="benefit-container">
              <input [(ngModel)]="benefit.benefit" class="form-control" style="flex: 1" />
              <div style="min-width: 200px; display: flex; align-items: center; justify-content: center">
                <option-gender-input [(ngModel)]="values.benefits[i].beneficiary"></option-gender-input>
                <button mat-button color="primary" (click)="handleRemovingBenefits(i)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </div>
          </div>
        }
        <!-- Only enable adding more benefits when previous are validated
        TODO would be easier to manage all validation if using formgroups -->
        <button
          style="margin-bottom: 16px; margin-top: -16px"
          (click)="handleMoreBenefits()"
          mat-button
          [disabled]="
            values.benefits.length > 0 &&
            (values.benefits[values.benefits.length - 1].benefit === undefined ||
              values.benefits[values.benefits.length - 1].beneficiary.length === 0)
          "
        >
          + {{ 'Add' | translate }}{{ ' ' }}{{ 'benefit' | translate }}
        </button>
      </div>

      <ng-container
        [ngTemplateOutlet]="stepButtons"
        [ngTemplateOutletContext]="{ nextDisabled: values.benefits.length === 0 }"
      ></ng-container>
    </ng-template>

    <!-- 5. Performance -->
    <ng-template #performanceInput>
      <div class="entry-rows">
        @for (condition of performanceConditions; track condition) {
          <div class="entry-row-item">
            <div class="icon-with-heading">
              <div class="icon-heading">{{ condition.label | translate }}</div>
              <div class="icon-container">
                <mat-icon [svgIcon]="condition.svgIcon"></mat-icon>
              </div>
            </div>
            <option-performance-input [(ngModel)]="values.performance[condition.id]"></option-performance-input>
          </div>
        }
      </div>

      <ng-container
        [ngTemplateOutlet]="stepButtons"
        [ngTemplateOutletContext]="{
          nextDisabled: !(values.performance.lowRf && values.performance.midRf && values.performance.highRf),
        }"
      ></ng-container>
    </ng-template>

    <!-- 6. Investment -->
    <ng-template #investmentInput>
      <div class="entry-rows">
        @for (investment of investmentTypes; track investment) {
          <div class="entry-row-item">
            <div class="icon-with-heading">
              <div class="icon-heading">{{ investment.label | translate }}</div>
              <div class="icon-container">
                <mat-icon style="color: #8a2644; font-size: 36px">{{ investment.matIcon }}</mat-icon>
              </div>
            </div>
            <option-investment-input [(ngModel)]="values.investment[investment.id]"></option-investment-input>
          </div>
        }
      </div>
      <ng-container
        [ngTemplateOutlet]="stepButtons"
        [ngTemplateOutletContext]="{
          nextDisabled: !(values.investment.money && values.investment.time),
        }"
      ></ng-container>
    </ng-template>

    <!-- 7. Time -->
    <ng-template #timeInput>
      <div style="display: flex; gap: 16px; align-items: center">
        <input [(ngModel)]="values.time.value" type="number" class="form-control" style="width: 64px" />
        <mat-select class="form-control value-primary" [(value)]="values.time.unit">
          <mat-option value="month">{{ 'Months' | translate }}</mat-option>
          <mat-option value="week">{{ 'Weeks' | translate }}</mat-option>
          <mat-option value="day">{{ 'Days' | translate }}</mat-option>
        </mat-select>
      </div>

      <ng-container
        [ngTemplateOutlet]="stepButtons"
        [ngTemplateOutletContext]="{ nextDisabled: !values.time }"
      ></ng-container>
    </ng-template>

    <!-- 8. Risk -->
    <ng-template #riskInput>
      <div class="entry-rows">
        @for (risk of values.risk; track trackByIndex(i); let i = $index) {
          <div class="entry-row-item">
            <div style="display: flex; align-items: center">
              <input style="margin-left: 4px" [(ngModel)]="values.risk[i]" class="form-control" />
              <button mat-icon-button (click)="values.risk.splice(i, 1)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        }
        <button
          style="margin-bottom: 16px; margin-top: -16px"
          (click)="values.risk.push('')"
          mat-button
          [disabled]="values.risk.length > 0 && !values.risk[values.risk.length - 1]"
        >
          + {{ 'Add' | translate }}{{ ' ' }}{{ 'risk' | translate }}
        </button>
      </div>

      <ng-container
        [ngTemplateOutlet]="stepButtons"
        [ngTemplateOutletContext]="{ nextDisabled: !values.risk }"
      ></ng-container>
    </ng-template>

    <!-- Step Footer (common) -->
    <!-- Context variables an be passed via `[ngTemplateOutletContext]="{ nextDisabled: true }"` -->
    <ng-template #stepButtons let-nextDisabled="nextDisabled" let-firstStep="stepper.selectedIndex === 0">
      <div class="step-buttons">
        @if (stepper.selectedIndex === 0) {
          <button mat-button (click)="promptDelete()" [disabled]="nextDisabled">
            <mat-icon name="delete">delete</mat-icon> {{ 'Delete' | translate }}
          </button>
        }
        @if (stepper.selectedIndex > 0) {
          <button mat-button matStepperPrevious>{{ 'Back' | translate }}</button>
        }
        @if (stepper.selectedIndex < 7) {
          <button mat-raised-button color="primary" [disabled]="nextDisabled" matStepperNext>
            {{ 'Next' | translate }}
          </button>
        }
        @if (stepper.selectedIndex === 7) {
          <button mat-raised-button color="primary" [disabled]="nextDisabled" (click)="submitForm()">
            {{ 'Finish' | translate }}
          </button>
        }
      </div>
    </ng-template>
  </mat-stepper>
</div>
