<crop-probability-crop-select
  [crops]="cropIcons"
  [stationId]="station.id"
  (cropSelected)="filterData($event)"
></crop-probability-crop-select>

<section class="table-container mat-mdc-table">
  <!-- Main table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="crop" sticky>
      <th mat-header-cell *matHeaderCellDef class="crop-title">Crop</th>
      <td mat-cell *matCellDef="let element" class="crop-title">
        {{ element.crop }}
      </td>
    </ng-container>
    <ng-container matColumnDef="variety">
      <th mat-header-cell *matHeaderCellDef>Variety</th>
      <td mat-cell *matCellDef="let element">
        {{ element.variety }}
      </td>
    </ng-container>
    <ng-container matColumnDef="days">
      <th mat-header-cell *matHeaderCellDef>Days to maturity</th>
      <td mat-cell *matCellDef="let element">
        {{ element.days }}
      </td>
    </ng-container>
    <ng-container matColumnDef="water">
      <th mat-header-cell *matHeaderCellDef>Crop water requirement (mm)*</th>
      <td mat-cell *matCellDef="let element" class="multi-row-cell">
        <div *ngFor="let water of element.water">{{ water }}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="probabilities">
      <th mat-header-cell *matHeaderCellDef>
        Chance of receiving the water requirement in the days to maturity for this crop variety
      </th>

      <td mat-cell *matCellDef="let element" class="probabilities-cell" style="position: relative">
        <table class="probability-values nested">
          <tr>
            <td *ngFor="let probability of element.probabilities">
              {{ probability }}
            </td>
          </tr>
        </table>
      </td>
    </ng-container>

    <!-- Use custom headers to display title and season start summary in top row -->
    <ng-container matColumnDef="title-column">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="4">
        <h2 style="flex: 1">{{ 'Crop Information' | translate }} - {{ station.station_name }}</h2>
      </th>
    </ng-container>
    <ng-container matColumnDef="season-start-summary-column">
      <td mat-header-cell *matHeaderCellDef [attr.colspan]="1" style="padding: 0; position: relative">
        <table class="probability-values" style="table-layout: fixed">
          <tr>
            <td *ngFor="let date of station.dates" class="start-date-text">{{ date }}</td>
          </tr>
        </table>
        <div class="season-start-text">
          {{ 'Probability of season start on or before above date' | translate }}
        </div>
        <table class="probability-values" style="table-layout: fixed">
          <tr>
            <td *ngFor="let probability of station.season_probabilities" class="season-start-probability">
              {{ probability }}
            </td>
          </tr>
        </table>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['title-column', 'season-start-summary-column']"></tr>

    <!-- Render main columns -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</section>
<div class="disclaimer">
  <div *ngFor="let note of station.notes">{{ note }}</div>
</div>
