table{
  width: 100%;
}
.mat-mdc-table {
  max-height: 550px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: auto;
  padding: 10px 20px;
  color: black;
  .title-cell{
    text-transform: capitalize;
    font-weight: 800;
    font-size: 15px;
  }
  .crop-title{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 13px;
  }
  .table-row{
    padding:15px 10px;
    border-bottom: 1px solid #eee;
  }
  .padded-span{
    border-right: 1px solid #eee;
    padding:0 12px
  }
  .font-12{
    font-size: 12px;
  }
}
