<picsa-form-crop-select
  [filterFn]="cropFilterFn"
  (selectedChange)="filterData($event)"
  [(ngModel)]="selectedCropName"
  style="margin: 1rem"
  [resetOption]="{ text: 'Show All', matIcon: 'apps' }"
></picsa-form-crop-select>

<section class="table-container mat-mdc-table">
  <!-- Main table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="crop" sticky>
      <th mat-header-cell *matHeaderCellDef class="crop-title">{{ 'Crop' | translate }}</th>
      <td mat-cell *matCellDef="let element" class="crop-title">
        {{ element.crop | translate }}
      </td>
    </ng-container>
    <ng-container matColumnDef="variety">
      <th mat-header-cell *matHeaderCellDef>{{ 'Variety' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.variety | translate }}
      </td>
    </ng-container>
    <ng-container matColumnDef="days">
      <th mat-header-cell *matHeaderCellDef>{{ 'Days to maturity' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.days | translate }}
      </td>
    </ng-container>
    <ng-container matColumnDef="water">
      <th mat-header-cell *matHeaderCellDef>{{ 'Crop water requirement (mm)' | translate }}*</th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let water of element.water">{{ water | translate }}</div>
      </td>
    </ng-container>

    <!-- Probability columns -->
    <ng-container [matColumnDef]="column.name" *ngFor="let column of probabilityColumns">
      <th mat-header-cell *matHeaderCellDef class="border-left border-top">
        {{ column.label }}
      </th>
      <td *matCellDef="let element" class="border-left border-bottom">{{ element[column.name] }}</td>
    </ng-container>

    <!-- Use custom headers to display title and season start summary in top row -->
    <!-- This allows for the floating probability section -->
    <ng-container matColumnDef="title-column">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="4">
        <h2 style="flex: 1" data-tour-id="table-title">
          {{ 'Crop Information' | translate }} - {{ station.station_name }}
        </h2>
      </th>
    </ng-container>
    <ng-container matColumnDef="season-start-summary-column">
      <td
        mat-header-cell
        *matHeaderCellDef
        [attr.colspan]="probabilityColumns.length"
        style="padding: 0"
        data-tour-id="season-start"
      >
        <table #startProbabilities style="table-layout: fixed" class="border-left">
          <tr>
            <td *ngFor="let column of probabilityColumns" class="border-bottom border-top border-right">
              {{ column.label }}
            </td>
          </tr>
        </table>
        <div class="season-start-text border-left">
          {{ 'Probability of season start on or before date' | translate }}
        </div>

        <table #startProbabilities style="table-layout: fixed" class="border-left">
          <tr>
            <td *ngFor="let probability of station.season_probabilities" class="border-bottom border-top border-right">
              {{ probability }}
            </td>
          </tr>
        </table>
        <div class="season-start-text border-left border-top" style="margin-top: 2rem; margin-left: -1px">
          {{
            'Chance of receiving the water requirement in the
          days to maturity for this crop variety'
              | translate
          }}
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['title-column', 'season-start-summary-column']"></tr>

    <!-- Render main columns -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</section>
<div class="disclaimer">
  <div *ngFor="let note of station.notes">{{ note | translate }}</div>
</div>
