<div class="page-content">
  <ng-container *ngIf="formInitial">
    <enketo-webform
      [form]="formInitial.form"
      [model]="formInitial.model"
      (dataUpdated)="handleAutosave($event)"
      (formSaved)="handleSave($event)"
      [showButtons]="false"
    ></enketo-webform>
    <div style="display: flex">
      <button mat-button style="margin-right: 1rem" (click)="promptDelete()">
        <mat-icon>delete</mat-icon>{{ 'Delete' | translate }}
      </button>
      <button mat-raised-button color="primary" style="flex: 1" [disabled]="!formEntry" (click)="handleCustomSave()">
        {{ 'Submit' | translate }}
      </button>
    </div>
  </ng-container>
</div>
