<div class="page-content">
  <div *ngIf="isLoading() || isAuthenticating()" class="loading-container">
    <mat-spinner diameter="40"></mat-spinner>
    <p *ngIf="isLoading()">{{ 'Loading form...' | translate }}</p>
    <p *ngIf="isAuthenticating()">{{ 'Authenticating...' | translate }}</p>
  </div>

  <ng-container *ngIf="!isLoading() && !isAuthenticating() && formInitial">
    <enketo-webform
      [form]="formInitial.form"
      [model]="formInitial.model"
      (dataUpdated)="handleAutosave($event)"
      (formSaved)="handleSave($event)"
      [showButtons]="false"
    ></enketo-webform>
    <div class="form-actions">
      <button mat-button class="delete-button" (click)="promptDelete()">
        <mat-icon>delete</mat-icon>{{ 'Delete' | translate }}
      </button>
      <button
        mat-raised-button
        color="primary"
        class="submit-button"
        [disabled]="!formEntry"
        (click)="handleCustomSave()"
      >
        {{ 'Submit' | translate }}
      </button>
    </div>
  </ng-container>
</div>
