<div class="page-content">
  <picsa-data-table
    [data]="deployments()"
    [options]="tableOptions"
    [valueTemplates]="{ public, access_key_md5, icon_path }"
  ></picsa-data-table>
</div>

<!-- Custom column templates -->
<ng-template #public let-public>
  <mat-icon>{{ public ? 'public' : 'lock' }}</mat-icon>
</ng-template>

<ng-template #access_key_md5 let-access_key_md5>
  <mat-icon>{{ access_key_md5 ? 'password' : 'horizontal_rule' }}</mat-icon>
</ng-template>

<ng-template #icon_path let-icon_path>
  @if (icon_path) {
    <img [src]="icon_path | storagePath" style="height: 50px" />
  }
</ng-template>
