<div class="page-content">
  <!-- Tabs to show table for each variant type -->
  <mat-tab-group dynamicHeight mat-stretch-tabs="false" mat-align-tabs="start" preserveContent animationDuration="0ms">
    <mat-tab label="Extension">
      <ng-container *ngTemplateOutlet="deploymentTable; context: { $implicit: extension }"></ng-container>
    </mat-tab>
    <mat-tab label="Farmer">
      <ng-container *ngTemplateOutlet="deploymentTable; context: { $implicit: farmer }"></ng-container>
    </mat-tab>
    <mat-tab label="Other">
      <ng-container *ngTemplateOutlet="deploymentTable; context: { $implicit: other }"></ng-container>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- General table template -->
<ng-template #deploymentTable let-data>
  <picsa-data-table
    [data]="data"
    [options]="tableOptions"
    [valueTemplates]="{public,access_key_md5,icon_path}"
  ></picsa-data-table>
</ng-template>

<!-- Custom column templates -->
<ng-template #public let-public>
  <mat-icon>{{ public ? 'visibility' : 'visbility_off' }}</mat-icon>
</ng-template>

<ng-template #access_key_md5 let-access_key_md5>
  <mat-icon>{{ access_key_md5 ? 'password' : 'horizontal_rule' }}</mat-icon>
</ng-template>

<ng-template #icon_path let-icon_path>
  @if(icon_path){
  <img [src]="icon_path | storagePath" style="height: 50px" />
  }
</ng-template>
