<div class="page-content">Downloads</div>
<table mat-table [dataSource]="fileResources" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="mimetype">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let resource">{{ resource.type }}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>{{ 'Title' | translate }}</th>
    <td mat-cell *matCellDef="let resource">{{ resource.title }}</td>
  </ng-container>

  <ng-container matColumnDef="size_kb">
    <th mat-header-cell *matHeaderCellDef>{{ 'Size' | translate }}</th>
    <td mat-cell *matCellDef="let resource">{{ resource.size_kb }}KB</td>
  </ng-container>

  <ng-container matColumnDef="downloaded">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let resource">
      <resource-download [resource]="resource"></resource-download>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
