<div class="page-content">
  <div class="flex m-2 flex-wrap gap-4 justify-center">
    <mat-chip-listbox class="flex flex-1 gap-2 min-w-64" (change)="languageFilter.set($event.value)">
      @for(option of languageFilterOptions(); track option.id){
      <mat-chip-option color="primary" [selected]="languageFilter()===option.id" [value]="option.id"
        >{{option.language_label}}</mat-chip-option
      >
      }
    </mat-chip-listbox>
    <!-- Bulk download -->
    <resource-download-multiple [docs]="pendingDownloads()"></resource-download-multiple>
  </div>
  <!-- Custom language filter -->

  <div class="w-full overflow-auto mt-2 sm:mt-4">
    <picsa-data-table
      [data]="tableData()"
      [options]="tableOptions"
      [valueTemplates]="{size_kb,title,subtype,language,_downloaded,_actions}"
      (rowClick)="handleRowClick($event)"
    >
      <ng-template #subtype let-value>
        @switch (value) { @case ('pdf') {
        <mat-icon svgIcon="resources_tool:filetype_pdf"></mat-icon>
        } @case ('video') {
        <mat-icon svgIcon="resources_tool:filetype_video"></mat-icon>
        } @default {
        <mat-icon svgIcon="resources_tool:filetype_document"></mat-icon>
        } }
      </ng-template>
      <ng-template #_downloaded let-downloaded let-row="row">
        @if(downloaded){
        <button mat-icon-button>
          <mat-icon>download_done</mat-icon>
        </button>
        } @else {
        <resource-download [resource]="row" (click)="$event.stopImmediatePropagation()"></resource-download>
        }
      </ng-template>
      <ng-template #title let-value let-row="row">
        @if(value){ {{value | translate}} } @else {
        <span class="text-xs opacity-50">{{row.filename}}</span>
        }
      </ng-template>
      <ng-template #language let-value>{{languageLabels[value]}}</ng-template>

      <ng-template #size_kb let-value>{{value | sizeMB}} MB</ng-template>
      <ng-template #_actions let-actions let-row="row">
        @if(actions.delete){
        <button mat-icon-button (click)="deleteDownload(row,$event)">
          <mat-icon>delete_outline</mat-icon>
        </button>
        }
      </ng-template>
    </picsa-data-table>
  </div>
</div>
