<<table mat-table matSort [dataSource]="fileResourceDocs" class="mat-elevation-z8">
  <ng-container matColumnDef="mimetype">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Type' | translate }}</th>
    <td mat-cell *matCellDef="let doc">
      <ng-container [ngSwitch]="doc._data.subtype">
        <mat-icon *ngSwitchCase="'pdf'" svgIcon="picsa_filetype_pdf"></mat-icon>
        <mat-icon *ngSwitchCase="'video'" svgIcon="picsa_filetype_video"></mat-icon>
        <mat-icon *ngSwitchDefault svgIcon="picsa_filetype_document"></mat-icon>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Title' | translate }}</th>
    <td mat-cell *matCellDef="let doc">{{ doc._data.title }}</td>
  </ng-container>

  <ng-container matColumnDef="size_kb">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Size' | translate }}</th>
    <td mat-cell *matCellDef="let doc">{{ doc._data.size_kb | sizeMB }}MB</td>
  </ng-container>

  <ng-container matColumnDef="download_button">
    <th mat-header-cell *matHeaderCellDef class="icon-column"></th>
    <td mat-cell *matCellDef="let doc" class="icon-column">
      <resource-download [dbDoc]="doc"></resource-download>
    </td>
  </ng-container>

  <ng-container matColumnDef="menu_options">
    <th mat-header-cell *matHeaderCellDef class="icon-column"></th>
    <td mat-cell *matCellDef="let resource" class="icon-column">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="more options">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteDownload(resource)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
