combined-probability {
    .crop-table-column{
        border: 2px solid black;
    }
    .crop-table-column2{
        background-color: #f53d3d;
        color: white;
        padding: 10px;
        font-weight: 900;
    }
}
