<div class="crop-table-column2">Note, this tool is still in development and the data is not correct</div>
<div>When will you plant?</div>
<br>
<div>{{labels[plantDate.value]}}</div>
<ion-range [(ngModel)]="plantDate.value" [min]="plantDate.min" [max]="plantDate.max" snaps='true' color="brown" (ionChange)="plantDateChange($event)">
  <ion-label slot="start">Early</ion-label>
  <ion-label slot="end">Late</ion-label>
  <ion-icon slot="start" name="calendar"></ion-icon>
  <!--<ion-icon range-right name="calendar"></ion-icon>-->
</ion-range>
<div *ngIf="startProbability.reversePercentage>-1" [style.background-color]="startProbability.color">Rain has started in <strong>{{startProbability.percentage | percent:'1.0-0'}}</strong> of years by this time</div>
<br>

<div id="cropTable" class="flex">
  <div *ngFor="let crop of crops" class="crop-table-column">
    <img src="{{crop.image}}" class="crop-image">
    <div>name: {{crop.name}}</div>
    <hr>
    <div>length: {{crop.lengthAvg}} days</div>
    <div [style.background-color]="crop.lengthProbability.color">The Season will be long enough {{crop.lengthProbability.percentage | percent:'1.0-0'}} of years</div>
    <hr>
    <div>water: {{crop.waterAvg}}</div>
    <div [style.background-color]="crop.rainfallProbability.color">There will be enough water {{crop.rainfallProbability.percentage | percent:'1.0-0'}} of years</div>
  </div>
</div>