# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.angular

# libs
libs/**/*.js
libs/**/*.map
libs/**/*.d.ts
libs/**/*.metadata.json
libs/**/*.ngfactory.ts
libs/**/*.ngsummary.json
libs/environments/environment.prod.ts
libs/environments/firebase/config.prod.ts

!libs/theme/src/tailwind.config.js
!libs/webcomponents/**

# map tiles   
libs/features/map/tiles/assets-for-copy   
libs/features/map/tiles/**/*.png

apps/extension-toolkit/www_sourcemaps

.env
*.keystore
*.apk
.firebase
.log

# NEXT files
.next/

.eslintcache
.nx/cache
.vercel
