<div class="input-container" *ngIf="!options.readonly">
  <button
    mat-button
    *ngFor="let option of selectOptions"
    class="select-button"
    (click)="selected=option.id"
    [attr.data-value]="option.id"
    [attr.data-selected]="selected===option.id"
  >
    <div>
      <mat-icon>{{option.matIcon}}</mat-icon>
      <div>{{ option.label | translate }}</div>
    </div>
  </button>
</div>
<!-- Alternatively readonly mode which just displays selected icon -->
<div class="readonly-value" *ngIf="options.readonly" [attr.data-value]="selected">
  <span *ngIf="selectedOption">{{selectedOption.label.substring(0,1)}}</span>
</div>
