input,
textarea {
  width: 100%;
  max-width: 500px;
  display: block;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.variable-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 80px;
  font-size: 30px;
  height: 80px;
  margin: 0 20px 20px 0;
}

.variable-container.editable {
  color: var(--ion-color-primary);
  outline: 2px solid var(--ion-color-primary);
  font-weight: bold;
}
.variable-value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-width: 100px;
}
