input,
textarea {
  width: 100%;
  max-width: 500px;
  display: block;
  font-size: 1.5em;
  margin-bottom: 1em;
}
.card-list {
  @apply flex flex-wrap gap-2 sm:gap-4;
}
.length-container {
  @apply flex flex-wrap items-center gap-4;
}
mat-form-field {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-select.value-select {
  color: var(--ion-color-primary);
  font-weight: bold;
  font-size: 30px;
}
