.deployment-list-item {
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.05) !important;

  &:hover {
    background-color: rgba(0, 0, 0, 0.08) !important;
  }

  ::ng-deep .mat-mdc-button-touch-target {
    height: 100%;
  }
}
