<mat-toolbar color="primary" class="mat-elevation-z2 flex items-center">
  <dashboard-profile-menu class="ml-auto" />
</mat-toolbar>

<div class="flex flex-1 flex-col items-center my-8 px-4">
  <div class="text-center mb-12">
    <h1 class="text-4xl font-bold text-slate-800 tracking-tight mb-2">Welcome to E-PICSA Dashboard</h1>
    <p class="text-lg text-slate-500">Select deployment to begin</p>
  </div>

  <div class="w-full max-w-screen-md">
    <!-- User Deployments -->
    @if (service.userDeployments().length) {
      <section>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-8">
          @for (deployment of service.userDeployments(); track deployment.id) {
            <button
              matButton="outlined"
              (click)="service.setActiveDeployment(deployment.id)"
              class="deployment-button group"
            >
              <div class="container" [attr.data-deployment]="deployment.id">
                @if (deployment.icon_path) {
                  <img [src]="deployment.icon_path | storagePath" class="h-12 w-12 object-contain" />
                }
                <div class="text-lg font-semibold">{{ deployment.label }}</div>
              </div>
            </button>
          }
        </div>
      </section>
    }

    <!-- Available Deployments -->
    @if (availableDeployments().length) {
      <section>
        <h2 class="text-2xl font-semibold text-slate-700 mb-6 text-center">Request Access</h2>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-8">
          @for (deployment of availableDeployments(); track deployment.id) {
            @let isPending = service.pendingRequests().includes(deployment.id);
            <div class="relative">
              <!-- button -->
              <button
                matButton="outlined"
                (click)="service.requestAccess(deployment.id)"
                [disabled]="isPending"
                class="deployment-button group relative"
              >
                @if (deployment.icon_path) {
                  <img
                    [src]="deployment.icon_path | storagePath"
                    class="h-12 w-12 object-contain grayscale group-hover:grayscale-0 transition-all"
                  />
                }
                <div class="text-lg font-semibold">{{ deployment.label }}</div>
              </button>
              <!-- access message -->
              <!--     -->
            </div>
          }
        </div>
      </section>
    }
  </div>
</div>
