<div style="position: relative">
  <button mat-stroked-button (click)="picker.open()">{{ dateSelected() | date: 'MMM YYYY' }}</button>
  <!-- Use hidden form field to handle input control. Picker overlay will still display -->
  <mat-form-field (click)="picker.open()" style="visibility: hidden; position: absolute; left: 0; top: -32px">
    <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" />
    <mat-datepicker
      #picker
      startView="multi-year"
      (monthSelected)="setMonthAndYear($event, picker)"
      panelClass="example-month-picker"
    >
    </mat-datepicker>
  </mat-form-field>
</div>
