<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title data-cy="title">{{ "Record Data" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!forms || forms.length == 0" style="display: flex">
    <ion-icon name="warning"></ion-icon>
    <div style="margin-left:20px">
      <div>There are no forms available for data submission</div>
      <div>
        Forms become available when groups are joined from the settings page
      </div>
    </div>
  </div>
  <div *ngIf="forms && forms.length > 0">
    Available forms:
    <ion-card
      class="form-card"
      *ngFor="let form of forms"
      (click)="openForm(form)"
    >
      <ion-card-header>
        <ion-icon name="clipboard"></ion-icon>
        <span style="margin-left:5px">{{ form.name | translate }}</span>
      </ion-card-header>
      <img
        [src]="'assets/img/' + form.icon + '.svg'"
        *ngIf="form.icon"
        class="form-icon"
      />
    </ion-card>
  </div>
</ion-content>
