.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h4 {
    margin: 0 0 0.5rem 0;
  }

  .summary-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    p {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      padding: 0;
      font-weight: 400;

      .mat-icon {
        font-size: 1.2rem;
      }

      .icon {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
}
