:host {
  display: block;
}
.budget-card {
  width: 100px;
  margin-bottom: 1rem;
}
.card-title {
  height: 2.5em;
  padding: 5px;
  background: #dcdcdc;
  overflow: auto;
}
.label-input {
  width: 100%;
  margin-top: 1rem;
}
