:host {
  --footer-height: 36px;
  --footer-height-sm: 48px;
  --footer-height-md: 60px;

  // Adjust farmer tabs to compensate for header,
  // @apply sm:p-4 md:p-8;
  --tab-height: calc(100vh - var(--footer-height));
  --tab-height-sm: calc(100vh - var(--footer-height-sm) - 2 * theme(spacing.4));
  --tab-height-md: calc(100vh - var(--footer-height-md) - 2 * theme(spacing.8));
}
.content-container {
  flex: 1;
}
.top-banner {
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid var(--color-secondary);
}
.content-icon {
  width: 128px;
  height: 128px;
  background: rgba(255, 255, 255, 0.65);
  padding: 8px;
}
.title {
  flex: 1;
  text-align: center;
  color: var(--color-secondary);
  font-weight: bold;
  text-transform: capitalize;
  padding: 16px;
}

.tab-icon {
  margin-right: 4px;
}

.tab-content {
  padding: 0;
  height: 100%;
  // background: yellow;
  display: flex;
  flex-direction: column;
  @apply max-w-screen-md m-auto;
  @apply p-0 sm:p-4 md:p-8;
  @apply max-h-[var(--tab-height)] sm:max-h-[var(--tab-height-sm)] md:max-h-[var(--tab-height-md)];
  overflow: auto;
}
