.top-banner {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: var(--color-primary-50);
  padding: 16px;
}

.content-icon {
  width: 128px;
  height: 128px;
}
.title {
  flex: 1;
  text-align: center;
  margin-left: 8px;
  color: var(--color-secondary);
  font-weight: bold;
}
