.resource {
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  padding: 2px;
}
.resource:hover {
  font-weight: bold;
}
.resource-name {
  width: 200px;
  text-align: center;
}
img {
  height: 250px;
  width: 200px;
  object-fit: cover;
}
ion-card.resource {
  width: unset;
  margin: 10px;
}
.resource-group-container {
  margin-top: 2em;
}
.resource-group-heading {
  margin: 0;
  padding: 5px;
  background-color: var(--ion-color-primary);
  color: rgba(255, 255, 255, 0.95);
}
.video-resource-container {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.video-resource-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  text-align: center;
}
.video-close-button {
  color: white;
  text-align: right;
  top: -25px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  button {
    margin-right: 0;
  }
  ion-icon {
    color: white;
    padding: 0;
  }
}
