<div class="page" *mobxAutorun>
  <picsa-header>{{ 'Resources' | translate }}</picsa-header>
  <div class="page-content">
    <div>
      <resource-item
        *ngFor="let resource of store.resources"
        [resource]="resource"
        (click)="store.openResource(resource)"
      >
      </resource-item>
    </div>

    <!-- video resources TODO - refactor to own component -->
    <div
      class="video-resource-container"
      [style.display]="
        activeResource && platformIsWeb && activeResource.youtubeID
          ? 'block'
          : 'none'
      "
      (click)="unsetResource()"
    >
      <div class="video-resource-content">
        <div class="video-close-button">
          <button mat-button icon-only fill="clear">
            <mat-icon name="close"></mat-icon>
          </button>
        </div>
        <youtube-player
          [videoId]="activeResource.youtubeID"
          *ngIf="activeResource && !platformIsWeb"
          [width]="playerWidth"
        ></youtube-player>
      </div>
    </div>
  </div>
</div>
