<h1>Create New Budget</h1>
<mat-horizontal-stepper linear #stepper>
  <!-- Step 1 -->
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Enterprise</ng-template>
    <h2>Type of Enterprise</h2>
    <div *mobxAutorun style="display: flex; flex-wrap: wrap">
      <div style="display: flex; flex-wrap: wrap">
        <budget-card
          *ngFor="let type of store.enterpriseTypes"
          (click)="enterpriseTypeClicked(type)"
          [generator]="type"
          style="margin: 0 10px 10px 0"
          [selected]="store.activeBudget.enterpriseType === type"
        ></budget-card>
      </div>
      <div *ngIf="store.filteredEnterprises.length > 0">
        <h2>Select Enterprise</h2>
        <div
          style="display: flex; flex-wrap: wrap"
          [@fadeInOut]="enterpriseToggle ? 'in' : 'out'"
        >
          <budget-card
            *ngFor="let enterprise of store.filteredEnterprises"
            [card]="enterprise"
            style="margin: 0 10px 10px 0"
            (click)="enterpriseClicked(enterprise)"
            [selected]="store.activeBudget.enterprise === enterprise.id"
          >
          </budget-card>
        </div>
      </div>
    </div>
  </mat-step>

  <!-- Step 2 -->
  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Length</ng-template>
    <h2>Total Time</h2>
    <div *mobxAutorun>
      {{ store.activeBudget.periods.total }}
      {{ store.activeBudget.periods.scale }}
      <span>starting in</span>
      {{ months[store.activeBudget.periods.starting] }}
      <div>
        <span *ngFor="let label of store.activeBudget.periods.labels">
          {{ label }}
        </span>
      </div>
    </div>
  </mat-step>

  <!-- Step 3 -->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
