<div class="page">
  <h1>Create New Budget</h1>
  <div class="page-content" *mobxAutorun>
    <mat-horizontal-stepper linear #stepper>
      <!-- Step 1 - handled with custom elements-->
      <mat-step>
        <ng-template matStepLabel>Enterprise</ng-template>
        <h2>What is your type of enterprise?</h2>
        <div>
          <div style="display: flex; flex-wrap: wrap">
            <budget-card
              *ngFor="let type of store.enterpriseTypes"
              (click)="enterpriseTypeClicked(type)"
              [generator]="type"
              [selected]="budgetForm.value.enterpriseType === type"
              @fadeInOut
            ></budget-card>
          </div>
          <h2 *ngIf="filteredEnterprises.length" @fadeInOut>
            Select Enterprise
          </h2>
          <div style="display: flex; flex-wrap: wrap">
            <budget-card
              *ngFor="let enterprise of filteredEnterprises"
              [card]="enterprise"
              (click)="enterpriseClicked(enterprise)"
              [selected]="budgetForm.value.enterprise === enterprise.id"
              @fadeInOut
            >
            </budget-card>
          </div>
        </div>
        <button
          matStepperNext
          color="primary"
          mat-raised-button
          class="button--next"
          [disabled]="!budgetForm.value.enterprise"
        >
          Next
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-step>

      <!-- Step 2 - handled with form controls -->
      <mat-step [stepControl]="periodForm">
        <form [formGroup]="periodForm">
          <ng-template matStepLabel>Length</ng-template>
          <h2>How long is your budget for?</h2>
          <div style="display: flex; flex-wrap: wrap">
            <button
              mat-button
              class="variable-container editable"
              (click)="periodTotalSelect.open()"
            >
              <span>{{ periodForm.value.total }}</span>
              <mat-select
                class="select--hidden"
                #periodTotalSelect
                formControlName="total"
                style="opacity: 0;"
              >
                <mat-option *ngFor="let n of periodTotalOptions" [value]="n">{{
                  n
                }}</mat-option>
              </mat-select>
            </button>

            <button
              mat-button
              class="variable-container editable"
              (click)="periodScaleSelect.open()"
            >
              <span>{{ periodForm.value.scale }}</span>
              <mat-select
                class="select--hidden"
                #periodScaleSelect
                formControlName="scale"
                style="opacity: 0;"
              >
                <mat-option
                  *ngFor="let option of periodScaleOptions"
                  [value]="option"
                  >{{ option }}</mat-option
                >
              </mat-select>
            </button>
            <div
              *ngIf="periodForm.value.scale === 'months'"
              class="variable-container"
            >
              starting in
            </div>
            <button
              mat-button
              *ngIf="periodForm.value.scale === 'months'"
              class="variable-container editable"
              (click)="periodStartSelect.open()"
            >
              <span>{{
                periodLabelOptions[periodForm.value.starting - 1]
              }}</span>
              <mat-select
                class="select--hidden"
                #periodStartSelect
                formControlName="starting"
                style="opacity: 0;"
              >
                <mat-option
                  *ngFor="let option of periodTotalOptions"
                  [value]="option"
                  >{{ periodLabelOptions[option - 1] }}</mat-option
                >
              </mat-select>
            </button>
          </div>
          <button
            matStepperNext
            color="primary"
            mat-raised-button
            class="button--next"
          >
            Next
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </form>
      </mat-step>

      <!-- Step 3 -->
      <mat-step [stepControl]="budgetForm">
        <form [formGroup]="budgetForm">
          <ng-template matStepLabel>Save</ng-template>
          <h2>Save your budget</h2>
          <input matInput placeholder="Title" formControlName="title" />
          <textarea
            matInput
            placeholder="Description (optional)"
            formControlName="description"
          ></textarea>
          <button
            matStepperNext
            color="primary"
            mat-raised-button
            [disabled]="budgetForm.invalid"
            class="button--next"
            (click)="save()"
          >
            Save
          </button>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
