input,
textarea {
  width: 100%;
  max-width: 500px;
  display: block;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.variable-container {
  min-width: 80px;
  font-size: 30px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px 20px 0;
}

.variable-container.editable {
  color: var(--ion-color-primary);
  outline: 2px solid var(--ion-color-primary);
  font-weight: bold;
}

mat-select.select--hidden {
  height: 0;

  :host-context(.mat-select-value) {
    color: blue !important;
  }
}

.mat-selected {
  color: green !important;
}

button.button--next {
  width: 100%;
  margin-top: 2em;
  font-size: 1.5em;
}

button.button--next[disabled] {
  background: white;
}
