$drag-item-width: 120px;
$drag-item-height: 3rem;

.vertical-seperator {
  margin: 0 20px;
  border-left: 2px solid #ccc;
}
.dropzone {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-right: 10px;
}

.dropzone-list {
  height: $drag-item-height;
  width: $drag-item-width;
  background-color: var(--color-secondary);
  box-sizing: border-box;
  border-radius: 4px;
}
.dropzone-list.empty {
  border: 1px dashed black;
  background-color: white;
}
.drop-placeholder {
  // custom class for placeholder
}
.drag-items-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px 10px 10px;
  margin-bottom: 2em;
}
.drag-drop-item {
  margin: 10px 10px 0 0;
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: var(--color-secondary);
  font-size: 14px;
  height: $drag-item-height;
  width: $drag-item-width;
  color: rgba(255, 255, 255, 0.95);
  word-break: break-all;
  box-sizing: border-box;
}
.drag-drop-item.dropped {
  margin: 0;
}

.cdk-drag-preview,
.drag-drop-item.dropped {
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-drop-item:last-child {
  border: none;
}

.dropzone-list.cdk-drop-list-dragging .field-mapping-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
