<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer mode="over">
    <div class="page-content draw-content">
      <button matIconButton (click)="drawer.close()" class="close-button"><mat-icon>close</mat-icon></button>
      <div class="mt-16"></div>
      <!-- Version toggle -->
      <mat-nav-list>
        @if(userType()==='farmer'){
        <a mat-list-item (click)="toggleUserType()">
          <div class="flex items-center">
            <mat-icon class="me-2">switch_account</mat-icon>
            <span>{{ 'Switch to Extension' | translate}}</span>
          </div>
        </a>
        } @if(userType()==='extension') {
        <a mat-list-item (click)="toggleUserType()">
          <div class="flex items-center">
            <mat-icon class="me-2">switch_account</mat-icon>
            <span>{{ 'Switch to Farmer'| translate }}</span>
          </div>
        </a>
        }
        <a mat-list-item routerLink="/forecasts" (click)="drawer.close()">
          <div class="flex items-center">
            <mat-icon class="me-2">cloud</mat-icon>
            <span>{{ 'Forecasts' | translate}}</span>
          </div>
        </a>
        @if(userType()==='farmer'){
        <a mat-list-item routerLink="/farmer/beyond-picsa" (click)="drawer.close()">
          <div class="flex items-center">
            <mat-icon class="me-2">remember_me</mat-icon>
            <span>{{ 'Digital Skills' | translate}}</span>
          </div>
        </a>
        <a mat-list-item routerLink="/farmer/share" (click)="drawer.close()">
          <div class="flex items-center">
            <mat-icon class="me-2">share</mat-icon>
            <span>{{ 'Share videos' | translate}}</span>
          </div>
        </a>
        <a mat-list-item routerLink="/farmer/share/receive" (click)="drawer.close()">
          <div class="flex items-center">
            <mat-icon class="me-2">file_download</mat-icon>
            <span>{{ 'Receive shared content' | translate}}</span>
          </div>
        </a>
        }
        <a mat-list-item routerLink="/resources/downloads" (click)="drawer.close()">
          <div class="flex items-center">
            <mat-icon class="me-2">download</mat-icon>
            <span>{{ 'Downloads' | translate}}</span>
          </div>
        </a>
      </mat-nav-list>
      <picsa-configuration-summary class="mt-auto p-1" (click)="drawer.close()" />
      <footer>
        <a routerLink="/privacy">{{ 'Privacy Policy' | translate }}</a>
        <a routerLink="/terms">{{ 'App Terms' | translate }}</a>
        <div (click)="versionClicked.emit()">v{{ version }}</div>
      </footer>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="page" scrollRestore>
      <picsa-header> </picsa-header>
      @if(ready()){
      <router-outlet></router-outlet>
      }
    </div>

    <!-- Loading spinner -->
    @if(showLoader()) {
    <div class="loading-container">
      <picsa-loading></picsa-loading>
    </div>
    }
  </mat-drawer-content>
</mat-drawer-container>

<!-- Inject menu toggle into global header when enabled -->
<ng-template #menuButtonTemplate>
  @if(showMenuButton()){
  <button id="menuButton" matIconButton (click)="drawer.toggle()" class="menu-button">
    <mat-icon id="menuIcon">menu</mat-icon>
  </button>
  }
</ng-template>
