<button mat-button class="legend-edit-button" (click)="showScaleEdit()">
  <mat-icon class="legend-edit-button-icon" svgIcon="picsa_controls"></mat-icon>
</button>
<div style="margin: 10px 0 0 5px">
  <div *ngFor="let label of labels; let i = index">
    <div style="display: flex; font-size: small">
      <div>
        <img
          class="dot-value-image"
          [src]="'assets/images/dot-' + label + '.png'"
        />
      </div>
      <div *ngIf="!editDotValue">= {{ values[i] | number: '.0' }}</div>
    </div>
  </div>
</div>
