@switch (downloadStatus) {

<!-- Ready -->
@case ('ready') {
<button mat-stroked-button color="primary" class="downloads-button" (click)="downloadAllResources()">
  <mat-icon>download</mat-icon>
  {{ 'Download All' | translate }}
  {{ totalSize | sizeMB }} MB
</button>
}

<!-- Pending -->
@case ('pending') {
<button mat-stroked-button (click)="cancelDownload()">
  <div class="download-progress">
    <mat-progress-spinner
      color="primary"
      [mode]="downloadProgress > 0 ? 'determinate' : 'indeterminate'"
      [value]="downloadProgress"
      [diameter]="16"
    >
    </mat-progress-spinner>
    <span>{{ downloadCount }} / {{ totalCount }}</span>

    <mat-icon>close</mat-icon>
  </div>
</button>
}

<!-- Complete -->
@case ('complete') {
<button mat-stroked-button disabled color="primary" class="downloads-button">
  <mat-icon>download_done</mat-icon>
  {{ 'Downloaded' | translate }}
</button>
} }
