<mat-card
  class="resource-card"
  [attr.data-viewStyle]="viewStyle"
  (click)="handleResourceClick($event)"
>
  <div style="display: flex; height: 100%; flex-wrap: wrap">
    <!-- Side Image -->
    <div
      *ngIf="viewStyle === 'expanded'; else imgDefault"
      style="min-width: 320px; flex: 1; text-align: center"
    >
      <img [src]="resource.image" class="expanded-image" />
    </div>
    <ng-template #imgDefault>
      <div
        class="background-image"
        [style.background-image]="'url(' + resource.image + ')'"
      ></div>
    </ng-template>
    <div style="flex: 2">
      <!-- Header -->
      <mat-card-header>
        <mat-card-title style="margin-top: 12px">{{
          resource.title | translate
        }}</mat-card-title>
        <mat-card-subtitle *ngIf="subtitle">
          {{ subtitle }}
        </mat-card-subtitle>
      </mat-card-header>
      <!-- Contents -->
      <mat-card-content style="margin-left: 16px">
        <p *ngIf="resource.description">
          {{ resource.description | translate }}
        </p>
        <div *ngIf="resource.language" style="margin-top: 2em">
          <span class="language-code">{{
            resource.language.toUpperCase()
          }}</span>
        </div>
        <!-- Passed Content -->
        <ng-content></ng-content>
      </mat-card-content>
    </div>
    <button mat-button class="download-button" *ngIf="showDownloadButton">
      <mat-icon color="primary">file_download</mat-icon>
    </button>
  </div>
</mat-card>
