<mat-card class="resource-card" (click)="handleResourceClick()">
  <div style="display: flex; height: 100%">
    <div
      class="background-image"
      [style.background-image]="'url(' + resource.image + ')'"
    ></div>
    <div style="flex: 1">
      <mat-card-header>
        <mat-card-title style="margin-top: 12px">{{
          resource.title | translate
        }}</mat-card-title>
        <mat-card-subtitle *ngIf="subtitle">
          {{ subtitle }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p style="margin-left: 16px">
          {{ resource.description | translate }}
        </p>
      </mat-card-content>
    </div>
    <div class="arrow-container">
      <mat-icon>arrow_forward</mat-icon>
    </div>
  </div>
</mat-card>
