@if (probabilities(); as prob) {
<div style="display: flex">
  <!-- show/hide control -->
  <div style="margin-right: 8px">
    <matButton-toggle-group #show="matButtonToggleGroup" value="show">
      <matButton-toggle value="show" [style.display]="show.value === 'hide' ? 'block' : 'none'"
        ><mat-icon>visibility</mat-icon></matButton-toggle
      >
      <matButton-toggle value="hide" [style.display]="show.value === 'show' ? 'block' : 'none'"
        ><mat-icon>visibility_off</mat-icon></matButton-toggle
      >
    </matButton-toggle-group>
  </div>
  <!-- displays -->
  <div
    style="position: relative; margin-right: 30px; flex: 1"
    [style.visibility]="show.value === 'show' ? 'visible' : 'hidden'"
  >
    <!-- 1-10 counters -->
    <div class="probability-grid-container">
      @for (i of numberToArray(10); track i) {
      <div class="probability-grid-cell">
        <span class="probability-grid-cell-label">{{ i + 1 }}0</span>
      </div>
      }
    </div>
    <!-- coloured blocks -->
    <div
      class="probability-blocks-group"
      style="display: flex"
      [style.flex-direction]="options().reverse ? 'row-reverse' : 'row'"
    >
      @for (b of numberToArray(prob.above.count); track b) {
      <div class="block above" [style.background-color]="colorAbove()"></div>
      } @for (b of numberToArray(prob.below.count); track b) {
      <div class="block below" [style.background-color]="colorBelow()"></div>
      }
    </div>
    <!-- text -->
    <div class="probability-info">
      <div style="display: flex; margin-top: 1em" [style.flex-direction]="options().reverse ? 'row-reverse' : 'row'">
        <mat-card class="text-summary" appearance="outlined" mat-elevation-z4 [style.border-color]="colorAbove()">
          <div class="summary-label" [style.color]="colorAbove()">
            <span>{{options().above.label | translate}}</span>
          </div>
          <div style="margin: 4px">{{ prob.above.count }} {{ 'out of' | translate }} {{ prob.total }}</div>
          <div class="prob-10">{{ prob.above.inTen }} {{ 'years out of every 10' | translate }}</div>
        </mat-card>
        <mat-card class="text-summary" appearance="outlined" mat-elevation-z4 [style.border-color]="colorBelow()">
          <div class="summary-label" [style.color]="colorBelow()">
            <span>{{options().below.label | translate}}</span>
          </div>
          <div style="margin: 4px">{{ prob.below.count }} {{ 'out of' | translate }} {{ prob.total }}</div>
          <div class="prob-10">{{ prob.below.inTen }} {{ 'years out of every 10' | translate }}</div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
}
