$above-color: #739b65;
$below-color: #bf7720;

.probability-grid-container {
  display: flex;
  z-index: 1;
  border: 1px solid black;
}

.probability-grid-cell {
  height: 2em;
  flex: 1;
  border-right: 1px solid black;
  text-align: right;
  position: relative;
}
.probability-grid-container :last-child {
  border-right: unset;
}
.probability-grid-cell-label {
  position: absolute;
  right: -15px;
  top: 0.25em;
  width: 30px;
  background: white;
  text-align: center;
}

.probability-blocks-group {
  display: flex;
  width: 100%;
  background: white;
}

.block {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  flex-grow: 1;
  height: 15px;
  display: inline-block;
}
.probability-blocks-group :first-child {
  border-left: 1px solid black;
}
.above {
  color: $above-color;
}
.below {
  color: $below-color;
}
.block.above {
  background-color: $above-color;
}
.block.below {
  background-color: $below-color;
}
.card-above {
  border-color: $above-color;
}
.card-below {
  border-color: $below-color;
}

mat-card.text-summary {
  padding: 8px;
  flex: 1;
  text-align: center;
}
// float label on box
.summary-label {
  margin-top: -1rem;
  & > span {
    background: white;
    font-weight: bold;
    padding: 0 8px;
  }
}
.prob-10 {
  font-weight: bold;
}
