<div class="page-content">
  <div style="display: flex; align-items: center">
    <h2 style="flex: 1; text-align: center">Station Data</h2>
    <dashboard-climate-api-status clientId="station" [options]="apiStatusOptions"></dashboard-climate-api-status>
  </div>
  <div style="display: flex; gap: 1rem; flex-wrap: wrap">
    <div style="flex: 1; min-width: 500px; overflow: auto">
      <picsa-data-table [options]="tableOptions" [data]="tableData()"> </picsa-data-table>
    </div>
    <div style="flex: 1; min-width: 500px; height: calc(100vh - 70px); position: sticky; top: 0; right: 0">
      <picsa-map
        style="width: 100%; height: 100%"
        [markers]="mapMarkers()"
        (onMarkerClick)="handleMarkerClick($event)"
      ></picsa-map>
    </div>
  </div>
</div>
