table.station-table {
  max-height: 50vh;
  display: block;
  overflow: auto;
}
tr.station-row {
  cursor: pointer;
  &:hover {
    background: whitesmoke;
  }
}
th {
  font-weight: bold;
}

dashboard-api-status {
  @apply absolute right-2 top-2 bg-white z-10 border-solid border-[1px];
}
