<div class="page-content">
  <dashboard-api-status
    id="station-update"
    label="Update Stations"
    [request]="updateRequest"
    requiredRole="climate.admin"
  ></dashboard-api-status>
  <div style="display: flex; gap: 1rem; flex-wrap: wrap">
    <div style="flex: 1; min-width: 400px; max-width: 600px">
      <picsa-data-table [options]="tableOptions" [data]="tableData()"> </picsa-data-table>
    </div>
    <div style="flex: 1; min-width: 400px; height: calc(100vh - 96px); position: sticky; top: 0; right: 0">
      <picsa-map
        style="width: 100%; height: 100%"
        [markers]="mapMarkers()"
        (onMarkerClick)="handleMarkerClick($event)"
      ></picsa-map>
    </div>
  </div>
</div>
