<p>Import a <code>[language_code].csv</code> file to add translated strings</p>
<div style="display: flex; align-items: center">
  <button
    mat-raised-button
    color="accent"
    style="margin-left: auto; color: white"
    [disabled]="importTotal() <= 0 || importCounter() > 0"
    (click)="processImport()"
  >
    <span>Import</span>
    @if(importTotal()>0){
    <span style="margin-left: 8px">{{ importCounter() }} / {{ importTotal() }}</span>
    }
  </button>
</div>

@if (importTotal()===0) {
<div #dragDrop></div>
} @else { }
