<div class="page-content">
  <h2>Edit Translations</h2>
  @if(translationRow){
  <form class="form-content">
    <div>
      <label>Created At</label>
      <div>{{ translationRow.created_at | date: 'mediumDate' }}</div>
    </div>

    <div class="form-data">
      <label>English</label>
      <input matInput [(ngModel)]="translationRow.en" name="en" />
    </div>

    <div class="form-data">
      <label>mw_ny</label>
      <input matInput [(ngModel)]="translationRow.mw_ny" name="mw_ny" />
    </div>

    <div class="form-data">
      <label>sw</label>
      <input matInput [(ngModel)]="translationRow.sw" name="sw" />
    </div>
    <div class="form-data">
      <label>tg</label>
      <input matInput [(ngModel)]="translationRow.tg" name="tg" />
    </div>
    <div class="form-data">
      <label>zm_ny</label>
      <input matInput [(ngModel)]="translationRow.zm_ny" name="zm_ny" />
    </div>
    <button mat-raised-button color="primary" class="submitButton" (click)="submitForm()">Submit</button>
  </form>
  } @else if(dataLoadError) {
  <div>{{dataLoadError}}</div>
  } @else {
  <div>Loading...</div>
  }
  @if(editActionFeedbackMessage){
    <div>{{editActionFeedbackMessage}}</div>
  }
</div>