<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer mode="over">
    <div class="page-content draw-content">
      <button mat-icon-button (click)="drawer.close()" class="close-button"><mat-icon>close</mat-icon></button>
      <div style="margin-top: 4rem"></div>
      <!-- Version toggle -->
      <mat-nav-list>
        @if(userType()==='farmer'){
        <a mat-list-item (click)="toggleUserType()">
          <div style="display: flex; align-items: center">
            <mat-icon style="margin-right: 8px">switch_account</mat-icon>
            <span>{{ 'Switch to Extension' | translate}}</span>
          </div>
        </a>
        } @if(userType()==='extension') {
        <a mat-list-item (click)="toggleUserType()">
          <div style="display: flex; align-items: center">
            <mat-icon style="margin-right: 8px">switch_account</mat-icon>
            <span>{{ 'Switch to Farmer'| translate }}</span>
          </div>
        </a>
        }
        <a mat-list-item routerLink="/forecasts" (click)="drawer.close()">
          <div style="display: flex; align-items: center">
            <mat-icon style="margin-right: 8px">cloud</mat-icon>
            <span>{{ 'Forecasts' | translate}}</span>
          </div>
        </a>
      </mat-nav-list>
      <picsa-configuration-summary style="margin-top: auto; padding: 4px" (click)="drawer.close()" />
      <footer>
        <a routerLink="/privacy">{{ 'Privacy Policy' | translate }}</a>
        <div>v{{ version.number }}</div>
      </footer>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="page">
      <picsa-header> </picsa-header>
      @if(ready()){
      <router-outlet></router-outlet>
      }
    </div>
    <!-- Loading spinner -->
    @if(showLoader()) {
    <div class="loading-container">
      <picsa-loading></picsa-loading>
    </div>
    }
  </mat-drawer-content>
</mat-drawer-container>

<!-- Inject menu toggle into global header when enabled -->
<ng-template #menuButtonTemplate>
  @if(showMenuButton()){
  <button id="menuButton" mat-icon-button (click)="drawer.toggle()" class="menu-button">
    <mat-icon id="menuIcon">menu</mat-icon>
  </button>
  }
</ng-template>
