<div class="page-content">
  <div class="create-button">
    <button class="" mat-button mat-raised-button  routerLink="create-calendar" color="primary">Create new calender</button> 
  </div>
  <h2>Categories</h2>
  <div class="categories-list">
    <div class="categories-item">Crops</div>
  </div>
  <h2>Calendar Lists</h2>
  <div class="calendar-list">
    <div class="feedbackMessage" *ngIf="dbCalendars.length === 0">No available calendars</div>
    <!-- map calenders -->
    <div *ngIf="dbCalendars.length > 0" class="items-container" >
    <div *ngFor="let calendar of dbCalendars;  let i = index" class="calendars-display">
      <div (click)="redirectToCalendarTable(calendar.name, i)">
        {{ calendar.name }}
      </div>
       <mat-icon (click)="deleteThisCalender(i)">cancel</mat-icon>
       <!-- <mat-icon>keyboard_arrow_right</mat-icon> -->
    </div>
  </div>
  </div>
</div>
