<div class="page-content">
  <h2>{{ 'Saved Calendars' | translate }}</h2>
  <div class="calendar-list">
    <div class="feedbackMessage" *ngIf="dbCalendars.length === 0">{{ 'No saved calendars' | translate }}</div>
    <!-- Calendar list items -->
    @for (calendar of dbCalendars; track calendar.ID) {
    <mat-card class="calendars-display" [routerLink]="calendar.ID">
      <mat-card-content>
        <div style="display: flex">
          <mat-card-title style="flex: 1">
            {{ calendar.name }}
          </mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="budgetMenu" (click)="handleMenuClick($event, calendar)">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    }
  </div>
  <!-- Create calendar button -->
  <div class="sticky-footer">
    <button class="footer-button" routerLink="create" mat-button mat-raised-button color="primary">
      <mat-icon>add</mat-icon>
      {{ 'Create Calendar' | translate }}
    </button>
  </div>
</div>

<!-- Popup menu -->
<mat-menu #budgetMenu="matMenu">
  <button mat-menu-item aria-label="Copy" (click)="dialog.open(copyDialog)">
    <mat-icon svgIcon="picsa_copy"></mat-icon>Copy
  </button>
  <button mat-menu-item aria-label="Delete" color="light" (click)="promptDelete()">
    <mat-icon svgIcon="picsa_delete">{{ 'Delete' | translate }}</mat-icon>
    Delete
  </button>
</mat-menu>

<!-- Copy Dialog -->
<ng-template #copyDialog>
  <mat-form-field>
    <mat-label>{{ 'Name' | translate }}</mat-label>
    <input matInput type="text" [formControl]="calendarCopyForm.controls.name" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="saveCopy()">
    <mat-icon>copy</mat-icon>{{ 'Save Copy' | translate }}
  </button>
</ng-template>
