.calendar-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
}
.feedbackMessage {
  text-align: center;
}

mat-card.calendars-display {
  display: flex;
  cursor: pointer;
  width: 100%;
}
