<div id="budget" [attr.data-editorEnabled]="store.editorEnabled">
  <!-- parent budget div used so additional h1 can be added here on print -->
  <div class="budget-container">
    <!-- First column -->
    <div class="time-period">
      <div class="time-period-title cell top-row"></div>
      <div class="cell row-title" *ngFor="let row of rows">
        <span>{{ row.label | translate }}</span>
        <span *ngIf="row.sublabel" style="font-size: 14px"><br />{{ row.sublabel | translate }}</span>
      </div>
      <!-- cash balance legend -->
      <div class="cell row-title">
        <div>
          <div>{{ 'Balance' | translate }}</div>
        </div>
      </div>
    </div>

    <!-- Time periods (calculated vertically) -->
    <div class="time-period" *ngFor="let column of store.activeBudget.data; let columnIndex = index">
      <div class="time-period-title cell top-row">
        <!-- Editor - Delete -->
        <button
          mat-button
          class="editor-button"
          *ngIf="store.editorEnabled"
          (click)="store.editorDeleteTimePeriod(columnIndex)"
        >
          <mat-icon style="margin: 0">delete</mat-icon>
        </button>
        <!-- Label -->
        <span style="flex: 1">{{ store.periodLabels[columnIndex] | translate }}</span>
        <!-- Editor - Copy -->
        <button
          mat-button
          class="editor-button"
          *ngIf="store.editorEnabled"
          (click)="store.editorCopyTimePeriod(columnIndex)"
        >
          <mat-icon style="margin: 0">content_copy</mat-icon>
        </button>
      </div>
      <!-- period rows -->
      <div *ngFor="let row of rows" class="cell">
        <budget-cell
          [periodIndex]="columnIndex"
          [type]="row.type"
          (click)="onCellClick(columnIndex, row)"
        ></budget-cell>
      </div>
      <!-- Cash Balance -->
      <div class="cell">
        <div *ngIf="store.balance && store.balance[columnIndex]" class="balance-cell-contents">
          <div class="balance-value-container">
            <div class="balance-label">{{ store.periodLabels[columnIndex] | translate }}</div>
            <div class="balance-value">{{ store.balance[columnIndex].period | number: '.0' }}</div>
          </div>
          <hr />
          <div class="balance-value-container">
            <div class="balance-label">{{ 'Total' | translate }}</div>
            <div class="balance-value">{{ store.balance[columnIndex].running | number: '.0' }}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Editor - Add month -->
    <div class="time-period" *ngIf="store.editorEnabled">
      <button mat-button style="height: 100%; background: wheat" (click)="store.editorAddTimePeriod()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <!-- Editor save -->
  <div class="editor-save" *ngIf="store.editorEnabled" style="display: flex" (click)="store.editorEnabledToggle()">
    <button mat-raised-button color="primary" class="footer-button">{{'Save' | translate}}</button>
  </div>
</div>
