p {
  line-height: 1.5em;
}
.log-item {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.log-updates {
  max-width: 600px;
  width: 100%;
}
.log-title {
  width: 200px;
  margin-top: 14px !important;
}
img {
  margin: 0.5em 0;
}
img.img-icon {
  width: 45px;
}
