<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title data-cy="title">{{ "What's New" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    In this document find recorded the main changes that have been implemented.
    Note, whilst the web version will always be kept up-to-date there may be a
    delay between app store releases
  </p>

  <div class="log-item">
    <div class="log-title">
      <h2>Core Platform Upgrades</h2>
      <div>31st May 2019</div>
    </div>
    <div class="log-updates">
      <p>
        <strong>Code Upgrade</strong>
        <br />The code has undergone a significant upgrade to keep it in line
        with modern standards, and improve general flexibility and importance.
        <br />In total nearly <strong>50,000</strong> (!) lines of code have
        been updated and the main app code reduced to just
        <strong>8MB</strong> for app and <strong>2MB</strong> for web versions
      </p>
      <p>
        <strong>🤖 Automated Testing</strong>
        <br />To help ensure code works as expected and reduce app glitches a
        system of automated testing has been put in place, which will be used to
        check common user interactions whenever code is added. In the future
        this will be extended to also test on different physical devices (such
        as older phones)
      </p>
      <p>
        <strong>🛡️ Security improvements</strong>
        <br />Code updates have also enabled applying the latest security
        patches. In addition encryption has been added to protect sensitive
        platform code.
      </p>
      <p>
        <strong>Multiple versions</strong>
        <br />The app has now supports multiple versions, used for testing
        features before releasing and offering different versions for different
        countries.
      </p>
      <img src="assets/img/changelog/2-0-0_1.png" style="width:250px" />
    </div>
  </div>

  <div class="log-item">
    <div class="log-title">
      <h2>Core Platform Upgrades</h2>
      <div>15th May 2019</div>
    </div>
    <div class="log-updates">
      <p>
        <strong>2019 Development Schedule</strong>
        <br />An intensive development schedule has been planned for this season
        including
      </p>
      <ul>
        <li>Core platform upgrades</li>
        <li>PB Tool Enhancements</li>
        <li>Climate Tool Enhancements</li>
        <li>Station Data Tools</li>
        <li>M&E Tools</li>
        <li>Crop Modelling</li>
        <li>User enhancements</li>
      </ul>
      <p>
        You can follow the latest major developments in this log as they are
        release into <strong>v2.0</strong>
      </p>
    </div>
  </div>

  <!-- 2.0.0 Announcement -->
  <div class="log-item">
    <div class="log-title">
      <h2>Version Announcement</h2>
      <div>31st May 2019</div>
    </div>
    <div class="log-updates">
      <p>
        <strong>2019 Development Schedule</strong>
        <br />An intensive development schedule has been planned for this season
        including
      </p>
      <ul>
        <li>Core platform upgrades</li>
        <li>PB Tool Enhancements</li>
        <li>Climate Tool Enhancements</li>
        <li>Station Data Tools</li>
        <li>M&E Tools</li>
        <li>Crop Modelling</li>
        <li>User enhancements</li>
      </ul>
      <p>You can follow the latest major developments in this log</p>
    </div>
  </div>

  <!-- 1.2.0 -->
  <div class="log-item">
    <div class="log-title">
      <h2>1.2.0</h2>
      <div>26th March 2019</div>
    </div>
    <div class="log-updates">
      <p>
        <strong>🌏 Regional Settings</strong>
        <br />The platform has now been adapted to adapt to different
        regional-level settings, such as specifying country of use, resources
        available, currency and more.
      </p>
    </div>
  </div>

  <!-- 1.1.0 -->
  <div class="log-item">
    <div class="log-title">
      <h2>1.1.0</h2>
      <div>6th August 2018</div>
    </div>
    <div class="log-updates">
      <p>
        <strong>Budget Printing and Sharing</strong>
        <br />There is now a button at the top of the participatory budget tool
        that will let you capture all of the data as an image for printing or
        sharing via bluetooth/whatsapp etc.
      </p>
      <p>
        <strong>New Error Screen</strong>
        <br />If the app has an error it will now present a screen to inform the
        user and attempt to fix it <br />You can test by clicking on the button
        below
      </p>
      <p>
        <strong>Translations</strong>
        <br />More of the app has been translated into Chichewa, include loading
        screens, popup messages and names of days and months in the climate and
        budget tools
      </p>
      <ion-button fill="outline" (click)="errorTest()">
        <ion-icon name="bug" slot="start"></ion-icon>
        Error Test
      </ion-button>
      <div style="margin-top:1em; font-weight: bold">🐛 Bug Fixes</div>
      <ul>
        <li>Particpatory budget now works for produce consumed</li>
        <li>Entering climate tool multiple times no longer causes error</li>
        <li>Multiple performance improvements</li>
      </ul>
    </div>
  </div>

  <!-- 1.0.4 -->
  <div class="log-item">
    <div class="log-title">
      <h2>1.0.4</h2>
      <div>10th August 2018</div>
    </div>
    <div class="log-updates">
      <p>🐛 Various Bug Fixes</p>
    </div>
  </div>

  <!-- 1.0.0 -->
  <div class="log-item">
    <div class="log-title">
      <h2>1.0.0</h2>
      <div>6th August 2018</div>
    </div>
    <div class="log-updates">
      <p>
        <strong>🎉 First Official Release 🎉</strong>
        <br />Following the latest round of testing, refining and bug fixes the
        app is now officially released on the Google Play store, and is expected
        to start being used more frequently in the field
      </p>
    </div>
  </div>

  <!-- 0.5.4 -->
  <div class="log-item">
    <div class="log-title">
      <h2>0.5.4</h2>
      <div>1st August 2018</div>
    </div>
    <div class="log-updates">
      <div style="margin-top:1em">
        <ion-icon name="phone-portrait"></ion-icon>
        <span style="margin-left:5px">
          <strong>Device Support</strong>
        </span>
      </div>
      <p>
        Android 4.4.2 is now supported - there may be a slight increase in app
        size (+20MB) and small decrease in overall performance as a result, but
        this now covers more than 95% of all android devices.
      </p>
      <p>Various minor fixes and data updates also</p>
    </div>
  </div>

  <!-- 0.5.3 -->
  <div class="log-item">
    <div class="log-title">
      <h2>0.5.3</h2>
      <div>30th July 2018</div>
    </div>
    <div class="log-updates">
      <p>
        <strong>Tool Updates</strong>
      </p>
      <div style="display: flex; align-items: flex-start">
        <img class="icon img-icon" src="assets/img/budget-tool.svg" />
        <div style="margin-left:10px">
          <div>
            The tool rebuild continues, focusing on custom cards, family labour,
            cost and quantity inptus and overall budget display.
          </div>
        </div>
      </div>
      <div style="display: flex; align-items: flex-start; margin-top:1em;">
        <img
          class="icon img-icon"
          src="assets/img/climate-tool.svg"
          style="width:150px"
        />
        <div style="margin-left:10px">
          <div>
            The climate tool has also had a rebuild to help code quality and
            maintainability. In addition crop values can now be selected to view
            on the line tool.
          </div>
          <img src="assets/img/changelog/0-5-3.png" style="width:150px" />
        </div>
      </div>
      <div>
        <ion-icon name="bug"></ion-icon>
        <span>
          <strong style="margin-left:5px">Bug Fixes</strong>
        </span>
        <p>
          A new system has been put in place to automatically record any errors
          detected by users and submit to an online dashboard to help
          development fix
        </p>
        <p>
          In addition numerous minor bugs were identified and fixed in this
          update, and will continue to be identified
        </p>
      </div>
    </div>
  </div>

  <!-- 0.5.2 -->
  <div class="log-item">
    <div class="log-title">
      <h2>0.5.2</h2>
      <div>19th July 2018</div>
    </div>
    <div class="log-updates">
      <div style="display: flex; align-items: flex-start">
        <img
          class="icon img-icon"
          src="assets/img/data-collection.svg"
          style="filter: invert(100%);"
        />
        <div style="margin-left:10px">
          <p>
            <strong>Survey Forms</strong>
            <br />
            A new system has been built to provide survey forms, built on top of
            <a
              href="https://surveyjs.io/Survey/Builder/"
              target="_blank"
              rel="nofollow"
              >SurveyJS</a
            >
            <br />
            Surveys are made available to specific user groups, currently just
            for field visit monitoring but likely to expand in the future.
          </p>
        </div>
      </div>
      <p>
        <strong>Data Syncing</strong>
        <br />
        The system for synchronizing data has been improved to also allow users
        to securely synchronize their own data which will not available to other
        users
      </p>
    </div>
  </div>

  <!-- 0.5.1 -->
  <div class="log-item">
    <div class="log-title">
      <h2>0.5.1</h2>
      <div>17th July 2018</div>
    </div>
    <div class="log-updates">
      <p>
        <strong>Resource videos</strong>
        <br />
        The first resource video has been produced and is now included in the
        app. Videos are available in the
        <a href="/#/resources">Resources</a> section, or view the preview below
      </p>
      <youtube-player videoId="Kw5UznKvCN8" width="500"></youtube-player>
    </div>
  </div>

  <!-- 0.5.0 -->
  <div class="log-item">
    <div class="log-title">
      <h2>0.5.0</h2>
      <div>16th July 2018</div>
    </div>
    <div class="log-updates">
      <p>
        <strong>New Database System</strong>
        <br />
        A new system has been implemented so that all data required to run the
        app is stored locally to work entirely offline, with additional methods
        created to update this data from a central database when internet access
        is available. <br />This will be useful for times when a new resource or
        survey is added but the user doesn't wish to download an entirely new
        version of the app
      </p>
      <p>
        <strong>Budget Tool Improvements</strong>
        <br />
        The budget tool has been given a significant overhaul, rebuilding the
        key interactions from the ground-up to be more accessible and reliable.
        This is still a <i>work in progress</i> but the main changes currently
        seen include:
      </p>
      <ul>
        <li>A new initial enterprise select page</li>
        <img src="assets/img/changelog/0-5-0_1.png" />
        <li>Higher quality images (and more of them too)</li>
        <img
          src="assets/img/budget/cards/pigeon-peas.svg"
          style="width:120px"
        />
        <p>
          These are now rendered as SVG images which means they are created
          mathematically and can be scaled up to any size
        </p>
        <li>Sharing of custom images</li>
        <p>
          The new database system has been implemented so that user-created
          cards are also stored locally and shared
        </p>
        <br />The system will soon be extended to include optional sharing
        created budget templates.
        <li>
          Improved budget overview sizing, navigation links and improved data
          binding
        </li>
      </ul>
      <p>
        <strong>Core platform updates</strong>
        <br />
        A lot of the core components have undergone an update to improve code
        maintainability and quality (the larger the project gets the more
        important that things are structured in a sensible, efficient way). A
        number of components are still being actively worked on and so may not
        behave exactly as expected, but most issues should be resolved within
        the next minor updates.
        <img src="assets/img/changelog/0-5-0_2.png" style="width:350px" />
        <br />(during that time more than 14,000 lines of code have been added
        with 10,000 removed)
      </p>
    </div>
  </div>

  <!-- 0.4.1 -->
  <div class="log-item">
    <div class="log-title">
      <h2>0.4.1</h2>
      <div>14th June 2018</div>
    </div>
    <div class="log-updates">
      <p>
        <strong>WhatsApp Groups</strong>
        <br />
        The app now provides a direct link to whatsapp groups for discussion
        topics. Different groups will be created for specific cases and made
        available only to those relevant. An initial 'App Feedback' group has
        been created and can be joined by all.
      </p>
      <whatsapp-group [group]="whatsAppGroup"></whatsapp-group>
      <p>
        <strong>Translations</strong>
        <br />
        The app now has the functionality to translate text into local
        languages. A full list of text still needs to be build and translated,
        but you can see an example of the system in action below:
      </p>
      <div style="background-color:gray; padding:5px; margin-bottom:1em;">
        <language-select></language-select>
      </div>
      <div>{{ "How are you?" | translate }}</div>
    </div>
  </div>

  <!-- 0.4.0 -->
  <div class="log-item">
    <div class="log-title">
      <h2>0.4.0</h2>
      <div>13th June 2018</div>
    </div>
    <div class="log-updates">
      <p>
        <strong>App Changelog</strong>
        <br />
        This page has been added to the app to help keep anybody interested in
        the app more aware of what has been happening
      </p>
      <p>
        <strong>Improved web version</strong>
        <br />
        The web version is now offline-ready. All files required are loaded in
        the background and cached to work offline and save bandwidth when
        revisiting. <br />
        When the app is updated a new version is downloaded in the background,
        and once successful a message will appear to load the updated version.
      </p>
      <p>
        The web version can be viewed at:
        <a target="_blank" rel="nofollow" href="https://picsa.app"
          >https://picsa.app</a
        >
      </p>
    </div>
  </div>
</ion-content>
