<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title data-cy="title">{{ "Settings" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="user">
    <ion-list-header>
      <ion-label>User Profile</ion-label>
      <ion-icon name="person" slot="start"></ion-icon>
    </ion-list-header>
    <ion-item>
      <div class="flex">
        <div class="flex-basis-100 list-title">
          Name:
          <span class="list-value" *ngIf="user.name">{{ user.name }}</span>
          <ion-button
            fill="outline"
            *ngIf="!user.name"
            (click)="userEdit('name')"
          >
            <ion-icon name="add" slot="start"></ion-icon>Set user name
          </ion-button>
        </div>
        <div *ngIf="user.name">
          <ion-button icon-only fill="clear" (click)="userEdit('name')">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="flex">
        <div class="flex-basis-100 list-title" style="margin-bottom:1em">
          Groups:
        </div>
      </div>
      <user-group
        [group]="group"
        *ngFor="let group of userGroups$ | async"
      ></user-group>
    </ion-item>
  </ion-list>
  <br />
</ion-content>
