.forecast-container {
  @apply border-solid capitalize p-2;
}

.pdf-container {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.slide-in {
  transition: transform 0.3s ease-in-out;
  transform: translateY(100vh);
}

.slide-in.active {
  transform: translateY(0);
}

h2.forecast-heading {
  @apply w-full sm:mb-8 sm:w-40 sm:text-left overflow-hidden text-ellipsis;
}
div.forecast-content {
  @apply flex-1 overflow-x-auto mx-4 sm:mx-0;
}
