<div class="page-container">
  <div class="card-container">
    
      <mat-card class="mat-card">
        <mat-card-header >
          <div>Annual Forecast</div>
        </mat-card-header>
        <mat-card-content class="card-content">
          <mat-icon >assessment</mat-icon>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header class="mat-card">
          <div>Downscaled Forecast</div>
        </mat-card-header>
        <mat-card-content class="card-content">
          <mat-icon>map</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- <picsa-pdf-viewer [page]="page" [src]="pdfSrc" *ngIf="pdfSrc">
      <back-button style="margin-right: 8px" variant="primary"></back-button>
    </picsa-pdf-viewer> -->

</div>