<div class="page-content">
  <div class="pdf-container slide-in" [class.active]="pdfSrc ? true : false">
    @if(pdfSrc){
    <picsa-pdf-viewer [page]="page" [src]="pdfSrc">
      <button style="margin-right: 8px" mat-button color="primary" (click)="clearPdf()">{{'Close' | translate}}</button>
    </picsa-pdf-viewer>
    }
  </div>

  <h2>{{'Seasonal Forecast' | translate}}</h2>
  @for(forecast of seasonalForecasts(); track forecast.id){
  <resource-item-file [resource]="forecast"></resource-item-file>
  }

  <h2>{{'Downscaled Forecasts' | translate}}</h2>
  @for(forecast of downscaledForecasts(); track forecast.id){
  <mat-card>{{forecast.title}}</mat-card>
  }
</div>
