<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title data-cy="title">{{ "Discussions" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    {{
      "Discussions are held within WhatsApp groups. You can use the links below to join groups you are interested in"
        | translate
    }}:
  </p>
  <whatsapp-group *ngFor="let group of groups" [group]="group">
  </whatsapp-group>
</ion-content>
