mat-radio-button {
  margin-right: 1rem;
}
mat-form-field {
  width: 100%;
  max-width: 500px;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  mat-icon {
    margin-right: 4px;
  }
}
picsa-supabase-upload {
  width: 300px;
}
