<div class="page-content">
  <h2>New Resource</h2>

  <div style="margin-bottom: 1rem">
    <label>Resource Type</label>
    <mat-radio-group [(ngModel)]="resourceType">
      <mat-radio-button value="file">File</mat-radio-button>
      <mat-radio-button value="link">Link</mat-radio-button>
    </mat-radio-group>
  </div>

  @if (resourceType==='file') {
  <form [formGroup]="fileForm">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      @for (item of [{code:'global',label:'Global'}]; track $index) {
      <mat-tab [label]="item.label">
        <!-- Resource storage file -->
        <label style="margin-top: 1rem">Resource</label>
        <picsa-supabase-upload
          [disabled]="fileForm.value.storage_file ? true : false"
          [fileDropHeight]="128"
          style="width: 300px"
          [autoUpload]="true"
          storageBucketName="resources"
          [storageFolderPath]="item.code"
          (uploadComplete)="handleUploadComplete($event, 'storage_file')"
        ></picsa-supabase-upload>
        @if(fileForm.value.storage_file ){
        <dashboard-resources-storage-link
          [id]="fileForm.value.storage_file"
          style="margin-top: 1rem"
        ></dashboard-resources-storage-link>

        }
      </mat-tab>
      }
    </mat-tab-group>
    <button style="margin-top: 2rem" mat-stroked-button [disabled]="!fileForm.valid">Save Resource</button>
  </form>

  } @if (resourceType==='link') {
  <form [formGroup]="linkForm">
    <mat-form-field>
      <mat-label>URL</mat-label>
      <input matInput type="text" formControlName="url" placeholder="https://..." />
    </mat-form-field>
    @if (linkForm.controls.url.errors) {
    <mat-error>Please enter a valid url</mat-error>
    }
  </form>
  }
</div>
