:host {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
}
.continue-button {
  width: 60%;
  left: 20%;
}
.continue-button-text {
  font-size: 1.5em;
  line-height: 3em;
}
.close-button {
  position: absolute;
  right: 0;
}
