<div class="page-content" style="height: calc(100% - 20px);" *mobxAutorun>
  <!--cards select-->
  <mat-horizontal-stepper
    linear
    #stepper
    style="overflow: auto; margin-bottom: 20px; flex:1"
  >
    <!-- Card Select Step-->
    <mat-step *ngIf="stepsShown.cardStep" @fadeInOut>
      <ng-template matStepLabel>{{ _cell.typeLabel | translate }}</ng-template>
      <div>
        <budget-card
          *ngFor="let card of store.groupTypeCards"
          [card]="card"
          (click)="onCardClicked(card)"
          [selected]="selected[card.id]"
          @fadeInOut
        ></budget-card>
        <div @fadeInOut *ngIf="!showAllCards">
          <button mat-button (click)="showAllCards = true">
            {{ 'Show More' | translate }}
          </button>
        </div>
        <div *ngIf="showAllCards">
          <budget-card
            *ngFor="let card of store.otherTypeCards"
            [card]="card"
            (click)="onCardClicked(card)"
            [selected]="selected[card.id]"
            @fadeInOut
          ></budget-card>
        </div>
      </div>
    </mat-step>
    <!-- Value Input Step-->
    <mat-step
      *ngIf="stepsShown.valueStep && selectedArray.length > 0"
      @fadeInOut
    >
      <ng-template matStepLabel>{{ 'Values' | translate }}</ng-template>
      <div
        *ngFor="let card of selectedArray; let i = index"
        class="input-values-container"
      >
        <!-- NOTE - difficult and expensive to use ngModels in ngFor so use manual bindings -->
        <budget-card [card]="card"></budget-card>
        <budget-cell-editor-input-values
          [values]="card.values"
          (onValueChange)="onCardValueChange($event, i)"
        ></budget-cell-editor-input-values>
      </div>
    </mat-step>
    <!-- Consumed Input Step-->
    <mat-step
      *ngIf="stepsShown.consumedStep && selectedArray.length > 0"
      @fadeInOut
    >
      <ng-template matStepLabel>{{ 'Values' | translate }}</ng-template>
      <div
        *ngFor="let card of selectedArray; let i = index"
        class="input-values-container"
      >
        <!-- NOTE - difficult and expensive to use ngModels in ngFor so use manual bindings -->
        <budget-card [card]="card"></budget-card>
        <budget-cell-editor-produce-consumed
          [values]="card.values"
          (onValueChange)="onCardValueChange($event, i)"
        ></budget-cell-editor-produce-consumed>
      </div>
    </mat-step>
    <!-- Family Labour Step -->
    <mat-step *ngIf="stepsShown.labourStep" @fadeInOut>
      <ng-template matStepLabel>{{ 'Family Labour' | translate }}</ng-template>
      <budget-cell-editor-family-labour
        [values]="_cell.cellData"
        (onValueChange)="onFamilyLabourChange($event, i)"
      ></budget-cell-editor-family-labour>
    </mat-step>
  </mat-horizontal-stepper>

  <button
    color="primary"
    mat-raised-button
    class="continue-button"
    (click)="onNextClicked()"
  >
    <span class="continue-button-text">{{ 'Next' | translate }}</span>
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>
