:host {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
}

.close-button {
  position: absolute;
  right: 0;
}
.input-values-container {
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}
