@if (!options().readonly) {
<div class="input-container">
  @for (option of filteredOptions(); track option.id) {
  <button
    mat-button
    class="select-button"
    (click)="value.set(option.id)"
    [attr.data-value]="option.id"
    [attr.data-selected]="value()===option.id"
  >
    <div>
      <mat-icon>{{option.matIcon}}</mat-icon>
      <div>{{ option.label | translate }}</div>
    </div>
  </button>
  }
</div>
}
<!-- Alternatively readonly mode which just displays selected icon -->
@if (options().readonly) {
<div class="readonly-value" [attr.data-value]="value()">
  <mat-icon>{{selectedIconValue()}}</mat-icon>
</div>
}
