$icon-height: 24px;

:host {
  display: block;
}
.input-container {
  display: flex;
  gap: 8px;
}

mat-icon {
  height: $icon-height;
  width: $icon-height;
}

// Icon colors
div.readonly-value,
button.select-button.mat-mdc-button {
  &[data-value='negative'] {
    background-color: hsl(0, 84%, 29%);
    color: hsl(0, 84%, 29%);
  }
  &[data-value='neutral'] {
    color: hsl(40, 80%, 50%);
    background-color: hsl(40, 80%, 50%);
  }
  &[data-value='positive'] {
    color: hsl(80, 71%, 29%);
    background-color: hsl(80, 71%, 29%);
  }
}

// Button overrides
button.select-button.mat-mdc-button {
  @apply max-w-8 sm:max-w-24;
  height: calc($icon-height + 2rem);
  &[data-selected='false'] {
    background-color: white !important;
  }
  &[data-selected='true'] {
    color: white !important;
    transform: scale(1.05);
  }
}

// Readonly overrides
div.readonly-value {
  background: none !important;
}

.text-value {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.text-value > span {
  margin-right: 4px;
}
