<!-- Playlist View  -->
@if (viewMode() === 'playlist') {
  <mat-list class="playlist-container">
    @for (video of videosWithRankedChildren(); track video.id) {
      <div class="playlist-item" (click)="player.handleItemClick($event)">
        <farmer-step-video-player class="w-48" [video]="video" #player></farmer-step-video-player>
        <h3 class="flex-1 ml-4">{{ video.title }}</h3>
      </div>
      @if (!$last) {
        <mat-divider></mat-divider>
      }
    }
  </mat-list>
}
<!-- Single View  -->
@else {
  @if (videosWithRankedChildren()[0]; as video) {
    <farmer-step-video-player [video]="video"></farmer-step-video-player>
  }
}
