<div class="input-container">
  <button
    mat-button
    *ngFor="let option of selectOptions"
    class="select-button"
    (click)="toggleOptionSelect(option.id)"
    [attr.data-gender]="option.id"
    [attr.data-selected]="selected.includes(option.id)"
  >
    <div>
      <mat-icon class="gender-icon" [svgIcon]="'picsa_options_' + option.id"></mat-icon>
      <div class="gender-label">{{ option.label | translate }}</div>
    </div>
  </button>
</div>
<div *ngIf="options.showValueText" class="text-value">
  <span *ngFor="let text of valueTextArray">{{text | translate}}</span>
</div>
