<div class="budget-container" id="budget" *mobxAutorun>
  <!-- First column -->
  <div class="time-period">
    <div class="time-period-title cell top-row"></div>
    <div class="cell row-title" *ngFor="let row of rows">
      {{ row.label }}
    </div>
    <!-- cash balance legend -->
    <div class="cell row-title">
      <div>
        <div>Balance</div>
        <budget-balance-dots></budget-balance-dots>
      </div>
    </div>
  </div>

  <!-- Time periods calculated Vertically -->
  <div
    class="time-period"
    *ngFor="let column of store.activeBudget.data; let columnIndex = index"
  >
    <div class="time-period-title cell top-row">
      {{ periodLabels[columnIndex] }}
    </div>
    <!-- period rows -->
    <div *ngFor="let row of rows; let rowIndex = index" class="cell">
      <budget-cell
        [type]="row.key"
        [cellData]="budget.data[columnIndex][row.key]"
        (click)="onCellClick(columnIndex, row, rowIndex)"
      ></budget-cell>
    </div>
    <!-- Cash Balance -->
    <div class="cell">
      <div *ngIf="balance && balance[i]">
        <div>{{ period }}: {{ balance[i].period }}</div>
        <budget-cell-value
          quantity="1"
          [cost]="balance[i].period"
        ></budget-cell-value>
        <hr />
        <div>running: {{ balance[i].running }}</div>
        <budget-cell-value
          quantity="1"
          [cost]="balance[i].running"
        ></budget-cell-value>
      </div>
    </div>
  </div>
</div>
