<div *mobxAutorun>
  <div class="summary-container">
    <div *ngFor="let row of rows">
      <div style="display: flex">
        <div style="width:150px">{{ row.label }}</div>
        <budget-cell
          [periodIndex]="periodIndex"
          [type]="row.key"
          (click)="onCellClick(row)"
        ></budget-cell>
      </div>
      <hr />
    </div>
  </div>

  <!-- Cash Balance TODO - refactor/merge with budget-table code-->
  <div class="cell">
    <div
      *ngIf="store.balance && store.balance[periodIndex]"
      class="balance-cell-contents"
    >
      <div class="balance-value-container">
        <div class="balance-label">
          {{ periodLabels[periodIndex] | translate }}
        </div>
        <div class="balance-value">
          {{ store.balance[periodIndex].period | number: '.0' }}
        </div>
      </div>
      <hr />
      <div class="balance-value-container">
        <div class="balance-label">{{ 'Total' | translate }}</div>
        <div class="balance-value">
          {{ store.balance[periodIndex].running | number: '.0' }}
        </div>
      </div>
    </div>
  </div>
</div>
