<div class="page" *mobxAutorun>
  <mat-toolbar>
    <back-button *ngIf="!isEditorOpen"></back-button>
    <span *ngIf="!isEditorOpen" style="flex: 1; text-align: center">{{
      store.activeBudget
        ? store.activeBudget.meta.title
        : ('Budget' | translate)
    }}</span>
    <div *ngIf="isEditorOpen" style="flex:1; display: flex">
      <span style="text-align: center; flex:1">{{
        periodLabel | translate
      }}</span>
      <button
        mat-button
        color="primary"
        @fadeInOut
        (click)="closeEditor()"
        style="position: absolute; right: 0;"
      >
        <mat-icon>close</mat-icon><span>{{ 'Close' | translate }}</span>
      </button>
    </div>
  </mat-toolbar>
  <!-- hide overflow so that editor can be stored outside bottom of page -->
  <div class="page-content" style="overflow-y: hidden; overflow-x: auto">
    <budget-table
      *ngIf="store.activeBudget"
      [budget]="store.activeBudget"
      @fadeInOut
    ></budget-table>
    <budget-cell-editor
      *ngIf="store.activeBudget && store.budgetPeriodData"
      [data]="store.budgetPeriodData"
      [activeType]="store.activeType"
      [@flyInOut]="isEditorOpen ? 'in' : 'out'"
    ></budget-cell-editor>
  </div>
</div>
