<div class="page" *mobxAutorun>
  <mat-toolbar>
    <span>{{
      store.activeBudget ? store.activeBudget.title : ('Budget' | translate)
    }}</span>
  </mat-toolbar>
  <!-- hide overflow so that editor can be stored outside bottom of page -->
  <div class="page-content" style="overflow-y: hidden; overflow-x: auto">
    <budget-table
      *ngIf="store.activeBudget"
      [budget]="store.activeBudget"
      @fadeInOut
    ></budget-table>
    <budget-cell-editor
      *ngIf="store.activeCell"
      [@flyInOut]="store.isEditorOpen ? 'in' : 'out'"
      [cell]="store.activeCell"
    ></budget-cell-editor>
  </div>
</div>
