<div class="page-content">
  <div style="display: flex; align-items: center">
    <h2 class="mr-2">Forecasts</h2>
    <dashboard-climate-forecast-month-select (dateChanged)="apiStartDate.set($event)" />
    <button
      mat-stroked-button
      color="primary"
      *roleRequired="'climate.admin'"
      class="ml-auto"
      (click)="addForecast(tabGroup.selectedIndex)"
    >
      <mat-icon>add</mat-icon>Add Forecast
    </button>
    <picsa-refresh-spinner
      [spin]="refreshPending()"
      [disabled]="refreshPending()"
      (click)="handleRefreshClick()"
    ></picsa-refresh-spinner>
  </div>
  <mat-tab-group #tabGroup>
    @for (tab of forecastTabs; track tab.type) {
      <mat-tab [label]="tab.label">
        <picsa-data-table [data]="tab.data()" [options]="tableOptions" [valueTemplates]="{ created_at, storage_file }">
        </picsa-data-table>
      </mat-tab>
    }
  </mat-tab-group>
</div>

<!-- Table templates -->
<ng-template #created_at let-value> {{ value | date }} </ng-template>
<ng-template #storage_file let-value let-row="row">
  @let status = activeDownloads()[row.id];
  <button mat-icon-button [disabled]="status === 'pending'">
    @if (value || status === 'complete') {
      <mat-icon>open_in_new</mat-icon>
    } @else if (status === 'pending') {
      <mat-icon class="spin">autorenew</mat-icon>
    } @else {
      <mat-icon>download</mat-icon>
    }
  </button>
</ng-template>
