<button
  mat-button
  class="select-button"
  [matMenuTriggerFor]="menu"
  [style.visibility]="service.userDeployments().length > 0 ? 'visible' : 'hidden'"
>
  @if (service.activeDeployment(); as deployment) {
    <dashboard-deployment-item [deployment]="deployment" [active]="true" />
  } @else {
    <div>Select Deployment</div>
  }
  <mat-icon iconPositionEnd>unfold_more</mat-icon>
</button>

<mat-menu #menu="matMenu" style="width: 200px">
  @for (deployment of service.userDeployments(); track deployment.id) {
    <button mat-menu-item (click)="service.setActiveDeployment(deployment.id)">
      <dashboard-deployment-item [deployment]="deployment" />
    </button>
  }
</mat-menu>
