<button mat-button [matMenuTriggerFor]="menu" [style.visibility]="userDeployments().length > 0 ? 'visible' : 'hidden'">
  @if(service.activeDeployment(); as deployment){
    <dashboard-deployment-item [deployment]="deployment" />
  } @else {
  <div>Select Deployment</div>
  }
  <mat-icon iconPositionEnd>unfold_more</mat-icon>
</button>

<mat-menu #menu="matMenu">
  @for(deployment of userDeployments(); track deployment.id){
  <button mat-menu-item class="menu-button" (click)="service.setActiveDeployment(deployment.id)">
      <dashboard-deployment-item [deployment]="deployment" />
  </button>

  }
</mat-menu>
