<div class="page-content">
  @if (this.dbLoaded()) {
    <!-- Header and edit button -->
    <div style="display: flex; align-items: center; gap: 16px">
      <h1 style="flex: 1">{{ form.name().value() }}</h1>
      <button matButton color="primary" aria-label="Share" (click)="sharePicture()" [disabled]="shareDisabled()">
        <mat-icon>share</mat-icon>
        {{ shareStatus() | translate }}
      </button>
      <button matButton="outlined" color="primary" (click)="dialog.open(editDialogRef)">
        <mat-icon>edit</mat-icon>
        {{ 'Edit' | translate }}
      </button>
    </div>
    <!-- Nest table inside container div for easier image export/share -->
    <div class="calendar-container" id="seasonalCalendar">
      <table class="calendar-table">
        <!-- Monthly weather select header -->
        <thead>
          <tr>
            <th></th>
            @for (weatherControl of form.weather; track $index) {
              <th>
                <div style="margin-bottom: 8px">
                  {{ columnLabels()[$index] | translate }}
                </div>
                <picsa-form-weather-select-multiple
                  [formField]="weatherControl"
                  [attr.data-hasValue]="weatherControl().value() ? true : null"
                ></picsa-form-weather-select-multiple>
              </th>
            }
          </tr>
        </thead>
        <!-- Activity rows -->
        <tbody>
          @for (crop of form.meta.enterprises().value(); track $index) {
            <tr>
              <td>
                {{ rowLabels()[$index] | translate }}
              </td>
              @for (control of form.activities[crop]; track $index) {
                <td>
                  <picsa-form-crop-activity-select-multiple
                    [formField]="control"
                    [attr.data-hasValue]="control().value() ? true : null"
                  ></picsa-form-crop-activity-select-multiple>
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>

    <!-- Editor dialog -->
    <ng-template #editDialogRef>
      <div style="overflow: auto; height: 90vh; width: 100%">
        <seasonal-calendar-editor [form]="form"></seasonal-calendar-editor>
        <button matButton="elevated" class="footer-button mt-4" color="primary" mat-dialog-close>Save</button>
      </div>
    </ng-template>
  } @else {
    <picsa-loading />
  }
</div>
