:host {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}
:host(.negative) {
  filter: hue-rotate(200deg);
}
.dot-value-image {
  width: 14px;
  height: 12px;
  display: inline-flex;
}
