<ion-header>
  <ion-toolbar>
    <ion-title data-cy="title">{{ 'Select Cards' | translate }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button
        *ngIf="!showNewCard && !showNewCardMeta"
        slot="start"
        fill="outline"
        (click)="continue()"
        color="primary"
      >
        <ion-icon name="checkmark"></ion-icon>
        Continue
      </ion-button>
      <ion-button
        *ngIf="showNewCard"
        slot="start"
        fill="outline"
        (click)="saveCanvasImage()"
        color="primary"
      >
        <ion-icon name="checkmark"></ion-icon>
        Continue
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding> </ion-content>
