<div class="page-content">
  <div style="display: flex; align-items: center">
    <h2 style="flex: 1">Monitoring Froms</h2>
    <!-- <button mat-raised-button color="primary" routerLink="/translations/new">Add New Form</button> -->
  </div>
  @if(service.forms){
  <h2>PICSA Table</h2>
  <picsa-data-table
    [data]="service.forms"
    [valueTemplates]="{summary_fields:summaryFieldTemplate, enketo_form:enketoFormTemplete, enketo_model:enketoModelTemplate }"
    [options]="{displayColumns:displayedColumns}"
  >
    <ng-template #summaryFieldTemplate let-values>
      @for (item of values; track $index) { {{ item['label'] }}<br />
      }
    </ng-template>
    <ng-template #enketoFormTemplete let-values>
        <div class="long-text-rows" >
            {{values}}
        </div>
    </ng-template>
    <ng-template #enketoModelTemplate class="long-text-rows" let-values>
        <div class="long-text-rows" >
            {{values}}
        </div>
    </ng-template>
  </picsa-data-table>

  <!-- <h2>Legacy Table</h2>
  <table mat-table [dataSource]="service.forms">
    <ng-container matColumnDef="title" clickable>
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>
    <ng-container matColumnDef="description" clickable>
      <th mat-header-cell *matHeaderCellDef>description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

 
    <ng-container matColumnDef="enketo_form">
      <th mat-header-cell *matHeaderCellDef>Form Html</th>
      <td mat-cell class="long-text-rows" *matCellDef="let element">{{ element.enketo_form }}</td>
    </ng-container>

    <ng-container matColumnDef="summary_fields">
      <th mat-header-cell *matHeaderCellDef>Fields Summary</th>
      <td mat-cell *matCellDef="let element">
        @for (item of element.summary_fields; track $index) { {{ item['label'] }}<br />
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="app_countries">
      <th mat-header-cell *matHeaderCellDef>App Countries</th>
      <td mat-cell *matCellDef="let element">{{ element.app_countries.join(',') }}</td>
    </ng-container>

    <ng-container matColumnDef="enketo_model">
      <th mat-header-cell *matHeaderCellDef>Model</th>
      <td mat-cell class="long-text-rows" *matCellDef="let element">{{ element.enketo_model }}</td>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.created_at | date: 'mediumDate' }}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
  }
</div>
