.page {
  background: var(--color-primary);
}
.background-image {
  position: relative;
}
// note - could use media breakpoints for different images
.background-image::before {
  background-image: url('../../../assets/images/cover.jpg');
  background-size: cover;
  background-position: center;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.4;
}
.background-image::after {
  background-color: var(--color-primary);
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
}
mat-grid-tile {
  background: rgba(0, 0, 0, 0.65);
  color: white;
  cursor: pointer;
  font-size: 18px;
}
mat-grid-tile:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-out;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 10px);
  left: 0;
  background: var(--color-primary);
}
.version-info {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  align-self: flex-end;
}

.nav-icon {
  width: 60px;
  height: 60px;
}
.nav-text {
  height: 1em;
}
