<div #headerContent style="margin-right: 8px; display: flex; justify-content: flex-end">
  <picsa-profile-select></picsa-profile-select>
</div>

<div class="page-content background-image">
  <mat-grid-list [cols]="columns" style="flex: 1" gutterSize="8">
    <mat-grid-tile
      *ngFor="let link of links"
      [colspan]="link.cols"
      [rowspan]="link.rows"
      data-cy="link"
      class="grid-tile"
      (click)="linkClicked(link)"
    >
      <div style="text-align: center">
        <mat-icon [svgIcon]="link.icon" class="nav-icon"></mat-icon>
        <div class="nav-text">{{ link.name | translate }}</div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <footer>
    <div class="version-info">v{{ version.number }}</div>
    <a routerLink="privacy" class="privacy-policy">{{'Privacy Policy' | translate}}</a>
    <picsa-configuration-select></picsa-configuration-select>
    <!-- <button mat-flat-button color="primary" (click)="shareApp()" class="share-button" [disabled]="isPreparingShare">
      <mat-icon>share</mat-icon>
      {{ 'Share App' | translate }}
    </button> -->
  </footer>
</div>
