:host {
  display: block;
}
.card-layout {
  display: flex;
  position: relative;
  height: 100%;
}

.resource-card {
  padding: 0;
  min-height: 100px;
  position: relative;
  height: 100%;
}

.central-content {
  display: flex;
  flex-direction: column;
  position: relative;
  mat-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.background-image {
  width: 100px;
  min-width: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.background-image[data-fit='cover'] {
  background-size: cover;
}

.language-code {
  background: var(--color-secondary);
  padding: 4px;
  color: white;
}

.action-button {
  margin: auto 8px;
}
.action-button[data-type='play_store'] {
  padding: 0;
  margin: auto 0 0 0;
  height: 48px;
  mat-icon {
    margin: 0;
    height: 48px;
    width: 100%;
  }
}
