:host {
  display: block;
}
ngx-extended-pdf-viewer {
  #toolbarViewer {
    color: var(--color-primary);
  }
  #mainContainer {
    min-width: 250px !important;
  }
  .toolbarButton {
    color: var(--color-primary-contrast) !important;
  }

  // hide first/last page buttons
  #primaryFirstPage,
  #primaryLastPage {
    display: none;
  }
}

.error-message {
  font-size: var(--buttons-font-size-small);
  font-weight: var(--font-weight-standard);
  color: var(--color-primary);
}
