<div class="page">
  <!-- header -->
  <div style="display: flex; justify-content: space-between">
    <h1>{{ activeSite ? activeSite.name : '' }}</h1>
    <div>
      <button mat-button color="primary" (click)="setView()">
        <mat-icon svgIcon="picsa_chart"></mat-icon>
        <span style="margin-left: 5px">{{ 'Chart' | translate }}</span>
      </button>
      <button mat-button color="primary" [routerLink]="['climate/site']">
        <mat-icon svgIcon="picsa_station"></mat-icon>
        <span style="margin-left: 5px">{{ 'Site' | translate }}</span>
      </button>
    </div>
  </div>
  <!-- content -->
  <div class="page-content">
    <climate-view-select
      (onViewSelected)="setView($event)"
      *ngIf="!activeView"
    ></climate-view-select>
    <!-- chart -->
    <div *ngIf="activeChart">
      <h3>{{ activeChart.name }}</h3>
      <picsa-chart *ngIf="activeChart"></picsa-chart>
      <climate-line-tool></climate-line-tool>
      <climate-probability-tool></climate-probability-tool>
    </div>
    <div *ngIf="activeView === 'cropAnalysis'">
      <climate-crop-analysis></climate-crop-analysis>
    </div>
    <!-- <combined-probability></combined-probability> -->
  </div>
</div>
