<div class="page-content">
  <h2>Password Reset</h2>
  <p>Please enter the new password.</p>
  <form [formGroup]="form">
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput autocomplete="picsa-password" formControlName="password" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input type="password" matInput autocomplete="picsa-password" formControlName="confirmPassword" />
  </mat-form-field>
  <button mat-button >Reset Password</button>
</form>
</div>