<dashboard-climate-api-status
  class="ml-auto my-2 justify-end"
  [clientId]="'cropProbabilities_' + station().id"
  [options]="probabilityReqOptions"
/>
<h3>Planting Date</h3>
<div class="flex gap-4 items-center max-w-sm">
  <span>{{ plantDateRange()[0] }}</span>
  <mat-slider
    [discrete]="true"
    [min]="plantDateRange()[0]"
    [max]="plantDateRange()[1]"
    [step]="15"
    [showTickMarks]="true"
    [displayWith]="formatPlantDateLabel"
    class="flex-1"
  >
    <input #input matSliderThumb [value]="selectedPlantDate()" (input)="selectedPlantDate.set(input.valueAsNumber)" />
  </mat-slider>
  <span>{{ plantDateRange()[1] }}</span>
</div>
<h3>Crop Probabilities (no start)</h3>
<!-- Table -->
<picsa-data-table [data]="tableData()" [options]="tableOptions"></picsa-data-table>
<!-- Grid -->
