h2.section-label {
  padding: 0 8px;
  color: var(--color-primary);
  font-weight: normal;
}
.grid-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.ActivitiesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.ActivityItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
  .IconHolder {
    width: 4rem;
    height: 4rem;
    border: 1px solid #8a2644;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    .iconSize {
      width: 2rem;
      height: 2rem;
      color: black;
    }
  }
  span {
    margin-top: 0.2rem;
    font-size: 14px;
    width: 120px;
  }
  @media (max-width: 767px) {
    span {
      width: 100%;
    }
  }
  @media (max-width: 767px) {
    .ActivityItem {
      padding: 0.2rem;
    }
  }
}
