// ************************************************************
//  Enterprise-select Component (SCSS)
// ************************************************************

.page-content {
  text-align: center;
}
h2 {
  margin-bottom: 24px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.card {
  border: 1px solid #000;
  border-radius: 4px;
  text-align: center;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}
.card-image {
  width: 120px;
  height: 120px;
  padding: 16px;
  img {
    margin: auto;
    width: 100%;
    height: 100%;
  }
}
.card-label {
  border-top: 1px solid #000;
  padding-top: 8px;
}
