<div class="page-content" style="align-items: center">
  <section class="activities-grid">
    <div
      class="ActivityItem"
      *ngFor="let activity of gridData"
      [routerLink]="[activity.id]"
      [attr.data-status]="activity.status"
    >
      <mat-icon
        class="activity-icon mat-elevation-z2"
        color="primary"
        *ngIf="activity.svgIcon"
        [svgIcon]="activity.svgIcon"
      ></mat-icon>
      <mat-icon class="activity-icon mat-elevation-z2" color="primary" *ngIf="activity.matIcon">{{
        activity.matIcon
      }}</mat-icon>
      <span class="activity-label">{{ activity.label | translate }}</span>
    </div>
  </section>
</div>
