:host {
  display: block;
}

// make compact to fit alongside farmer/extension select
mat-form-field {
  --mat-form-field-container-vertical-padding: 4px;
  --mat-form-field-container-height: 24px;
  min-width: 140px;
  max-width: 160px;
  padding-top: 4px;
}
mat-select.mat-mdc-select {
  font-size: 18px;
}
