<button mat-button color="white" style="margin-right: auto" (click)="goHome()">
  <mat-icon>home</mat-icon>
  {{ 'Home' | translate }}
</button>

<div class="section-navigation">
  @for (section of sections(); track section.index) {
    <button
      class="section-button"
      (click)="navigateToSection(section.index)"
      [class.active]="selectedIndex() === section.index"
    >
      <mat-icon>{{ section.icon }}</mat-icon>
      <span class="section-title">{{ section.title | translate }}</span>
    </button>
  }
</div>

<!-- <span class="page-number">{{ selectedIndex() + 1 }} / {{ totalSections() }}</span> -->


<!-- TODO - could consider adding back icons depending on section, E.g. -->
<!-- <mat-icon class="tab-icon">smartphone</mat-icon>{{ tool_1.tabLabel || 'Tool' | translate }}} -->
