:host {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-height); // inherited from parent
  overflow: hidden;
  display: flex;
  align-items: center;
  --mdc-text-button-label-text-color: white;
  color: white;
  background: var(--color-secondary);
  z-index: 10;
}

.footer-nav-buttons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  & > button {
    flex: 1;
  }
}
.footer-tab-counter {
  flex: 1;
  text-align: center;
}
