:host {
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  // prevent strange offset
  vertical-align: bottom;
}

mat-card.budget-card {
  width: 110px;
  padding: 0;
}
.delete-button {
  position: absolute;
  right: 0;
  min-width: 24px;
  padding: 0 4px;
  color: var(--color-light);
}

.budget-card[selected='true'] {
  font-weight: bold;
  background: var(--color-selected);
}
.card-title {
  height: 2.5em;
  padding: 5px;
  background: #dcdcdc;
  overflow: auto;
}
