:host {
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  // prevent strange offset
  vertical-align: bottom;
  position: relative;
}

mat-card.budget-card {
  width: 110px;
  padding: 0;
}

.budget-card[selected='true'] {
  font-weight: bold;
  background: var(--color-selected);
}
.card-title {
  height: 2.5em;
  padding: 5px;
  background: #dcdcdc;
  overflow: auto;
}
