:host {
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  // prevent strange offset
  vertical-align: bottom;
  position: relative;
}

mat-card.budget-card {
  width: 110px;
  padding: 0;
}
.delete-button {
  position: absolute;
  right: -16px;
  top: -10px;
  height: 36px;
  width: 36px;
  min-width: 36px;
  padding: 4px;
  font-size: 36px;
  color: var(--color-light);
  border: 1px solid var(--color-light);
  border-radius: 50%;
  background: white;
}
.delete-button-icon {
  margin: 0;
}

.budget-card[selected='true'] {
  font-weight: bold;
  background: var(--color-selected);
}
.card-title {
  height: 2.5em;
  padding: 5px;
  background: #dcdcdc;
  overflow: auto;
}
