$height: 30px;

:host {
  display: flex;
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-light);
  border-radius: 4px;
}

.status-label,
button.status-refresh-button,
.status-code {
  height: 30px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-code {
  height: calc($height + 2px);
  margin-top: -2px 0;
  width: 24px;
  color: white;
  background: var(--color-light);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  &[data-status='success'] {
    background: hsl(120, 25%, 50%);
  }
  &[data-status='error'] {
    background: hsl(0, 60%, 65%);
  }
}

button.status-refresh-button {
  --mdc-icon-button-state-layer-size: calc($height + 16px) !important;
}

// mat-progress-spinner.mat-white {
//   --mdc-circular-progress-active-indicator-color: white;
// }
