$height: 40px;

:host {
  display: flex;
}
button.refresh-button {
  --mdc-outlined-button-container-height: #{$height};
  --mat-outlined-button-horizontal-padding: 0;
}

.status-code {
  height: #{$height};
  line-height: #{$height};
  padding: 0 2px 0 2px;
  min-width: 32px;
  color: white;
  background: var(--color-light);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  &[data-status='success'] {
    background: hsl(120, 25%, 50%);
  }
  &[data-status='error'] {
    background: hsl(0, 60%, 65%);
  }
}

.label {
  @apply w-20 px-2 overflow-hidden text-ellipsis text-center;
}

// mat-progress-spinner.mat-white {
//   --mdc-circular-progress-active-indicator-color: white;
// }
