.server-status {
  display: flex;
  gap: 8px;
  align-items: center;
}
.status-code {
  color: white;
  padding: 8px;
  border-radius: 4px;
  background: gray;
  &[data-status='200'] {
    background: green;
  }
  width: 32px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-progress-spinner.mat-white {
  --mdc-circular-progress-active-indicator-color: white;
}

table.station-table {
  max-height: 50vh;
  display: block;
  overflow: auto;
}
tr.station-row {
  cursor: pointer;
  &:hover {
    background: whitesmoke;
  }
}
th {
  font-weight: bold;
}
