.tour-button{
    background-color: #a01222;
    padding:6px 5px;
    font-size: 14px;
    font-weight: 500;
    color:#fff;
    font-weight: 600;
    width:80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.tour-button:hover{
    cursor: pointer;
}
