<div class="page-content">
  <picsa-form-location-overlay
    [(open)]="locationOverlayOpen"
    [countryCode]="countryCode()"
    [value]="locationSelected()"
    [locationModifier]="locationModifier"
    [subtitle]="STRINGS.SelectStation"
    [allowCancel]="locationReady()"
    (confirmed)="handleLocationConfirmed($event)"
    (cancelled)="locationOverlayOpen.set(false)"
  ></picsa-form-location-overlay>

  <!-- Station Select -->
  <div class="flex items-center gap-2 mb-4">
    <button matButton="outlined" (click)="locationOverlayOpen.set(true)">
      <mat-icon>place</mat-icon>
      <span class="truncate">{{ tableStationMeta()?.label || ('Select Location' | translate) }}</span>
    </button>
    <!-- <picsa-tour-button [tourId]="stationId() ? 'cropProbabilityTable' : 'cropProbabilitySelect'"></picsa-tour-button> -->
  </div>
  <!-- Table -->
  @if (tableStationMeta(); as tableMeta) {
    @if (tableStationData(); as stationData) {
      <crop-probability-table
        [stationData]="stationData"
        [tableMeta]="tableMeta"
        filterCrop="maize"
      ></crop-probability-table>
    } @else {
      Loading...
    }
  }
</div>
