budget-card,
budget-meta-card,
budget-data-card,
budget-new-card {
  ion-card.budget-card {
    cursor: pointer;
    color: black;
    width: unset;
    display: inline-block;
    text-align: center;
  }
  ion-card.budget-card {
    height: 130px;
    width: 130px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  ion-card.budget-card[selected="true"],
  ion-card.budget-card.enterprise[selected="true"] {
    font-weight: bold;
    background: var(--ion-color-selected);
  }
  ion-card.budget-card.inputs[selected="true"],
  ion-card.budget-card.outputs[selected="true"],
  ion-card.budget-card.familyLabour[selected="true"],
  ion-card.budget-card.produceConsumed[selected="true"] {
    width: 260px;
  }
  ion-card.budget-card.enterprise {
    background: white;
  }
  .card-inputs-list {
    height: 88px;
    .item {
      background-color: #fbf1d1;
      color: black;
    }
    .label {
      margin-top: 5px;
    }
    .text-input {
      margin: 6px 0;
    }
  }
  .card-title {
    padding: 5px;
    background: #dcdcdc;
  }
  .card-title.add {
    background: transparent;
  }
}
