<mat-card
  mat-elevation-z4
  class="budget-card selectable"
  [attr.selected]="selected"
>
  <budget-card-image
    [imageId]="card.id"
    [imageData]="card.customImg"
    (click)="onCardClick()"
  ></budget-card-image>
  <div [class]="'card-title ' + card.id">{{ card.name }}</div>
</mat-card>
<!-- <div *ngIf="selected" id="budgetTypeCard">
      <div [ngSwitch]="type">
        <ion-list *ngSwitchCase="'inputs'" class="card-inputs-list">
          <ion-item>
            <ion-label position="stacked">How many units?</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="card.quantity"
              (ionBlur)="triggerUpdate('inputs')"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Unit cost ({{ currency }})</ion-label>
            <ion-input
              id="unitCost"
              [(ngModel)]="card.cost"
              type="number"
              (ionBlur)="triggerUpdate('inputs')"
            ></ion-input>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'outputs'" class="card-inputs-list">
          <ion-item>
            <ion-label position="stacked">How many units?</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="card.quantity"
              (ionBlur)="triggerUpdate('outputs')"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Unit cost ({{ currency }})</ion-label>
            <ion-input
              id="unitCost"
              [(ngModel)]="card.cost"
              type="number"
              (ionBlur)="triggerUpdate('outputs')"
            ></ion-input>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'produceConsumed'" class="card-inputs-list">
          <div>You produced {{ card.quantity }}</div>
          <ion-item>
            <ion-label position="stacked">How many consumed?</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="card.consumed"
              (ionBlur)="triggerUpdate('produceConsumed')"
            ></ion-input>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'familyLabour'" class="card-inputs-list">
          <ion-item>
            <ion-label position="stacked">How many people?</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="card.people"
              (ionBlur)="triggerUpdate('familyLabour')"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">How many days</ion-label>
            <ion-input
              id="unitCost"
              [(ngModel)]="card.days"
              type="number"
              (ionBlur)="triggerUpdate('familyLabour')"
            ></ion-input>
          </ion-item>
        </ion-list>
      </div>
    </div> -->
<!-- label -->
