<ion-card [class]="'budget-card selectable ' + type" [attr.selected]="selected">
  <div style="display: flex">
    <div style="width:100%">
      <budget-card-image
        [imageId]="card.id"
        [imageData]="card.customImg"
        (click)="cardClicked()"
        [type]="type"
      ></budget-card-image>
    </div>
    <div *ngIf="selected" id="budgetTypeCard">
      <div [ngSwitch]="type">
        <!-- inputs quantity and cost -->
        <ion-list *ngSwitchCase="'inputs'" class="card-inputs-list">
          <ion-item>
            <ion-label position="stacked">How many units?</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="card.quantity"
              (ionBlur)="triggerUpdate('inputs')"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Unit cost ({{ currency }})</ion-label>
            <ion-input
              id="unitCost"
              [(ngModel)]="card.cost"
              type="number"
              (ionBlur)="triggerUpdate('inputs')"
            ></ion-input>
          </ion-item>
        </ion-list>
        <!-- outputs quantity and cost -->
        <ion-list *ngSwitchCase="'outputs'" class="card-inputs-list">
          <ion-item>
            <ion-label position="stacked">How many units?</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="card.quantity"
              (ionBlur)="triggerUpdate('outputs')"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Unit cost ({{ currency }})</ion-label>
            <ion-input
              id="unitCost"
              [(ngModel)]="card.cost"
              type="number"
              (ionBlur)="triggerUpdate('outputs')"
            ></ion-input>
          </ion-item>
        </ion-list>
        <!-- consumed -->
        <ion-list *ngSwitchCase="'produceConsumed'" class="card-inputs-list">
          <div>You produced {{ card.quantity }}</div>
          <ion-item>
            <ion-label position="stacked">How many consumed?</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="card.consumed"
              (ionBlur)="triggerUpdate('produceConsumed')"
            ></ion-input>
          </ion-item>
        </ion-list>
        <!-- familyLabour -->
        <ion-list *ngSwitchCase="'familyLabour'" class="card-inputs-list">
          <ion-item>
            <ion-label position="stacked">How many people?</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="card.people"
              (ionBlur)="triggerUpdate('familyLabour')"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">How many days</ion-label>
            <ion-input
              id="unitCost"
              [(ngModel)]="card.days"
              type="number"
              (ionBlur)="triggerUpdate('familyLabour')"
            ></ion-input>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
  <div [class]="'card-title ' + card.id">{{ card.name }}</div>
</ion-card>
