<div class="page">
  <h1>Budget Tool</h1>
  <div class="page-content">
    <button mat-stroked-button color="primary" (click)="createClicked()">
      <mat-icon>add</mat-icon>
      {{ 'Create New Budget' | translate }}
    </button>

    <h2>{{ 'Saved Budgets' | translate }}</h2>
    <div *mobxAutorun>
      <budget-list-item
        *ngFor="let budget of store.savedBudgets"
        [routerLink]="['./view', budget._key]"
        [budget]="budget"
        (onDeleteClicked)="promptDelete(budget)"
      >
      </budget-list-item>
    </div>
  </div>
</div>
