<div class="budget-container" id="budget">
  <!-- First column -->
  <div class="time-period">
    <div class="time-period-title cell top-row"></div>
    <div class="cell row-title" *ngFor="let row of periodRows">
      {{ row.label }}
    </div>
    <!-- cash balance legend -->
    <div class="cell row-title">
      <div>
        <div>Balance</div>
        <div *ngFor="let dot of dotsLegend">
          <div style="display: flex; font-size: small">
            <div>
              <img
                class="dot-value-image"
                [src]="'assets/' + dot[0] + '-positive.png'"
              />
            </div>
            <div *ngIf="!editDotValue">= {{ dot[1] }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Time periods calculated Vertically -->
  <div
    class="time-period"
    *ngFor="let period of budget.periods.labels; let i = index"
  >
    <div class="time-period-title cell top-row">{{ period }}</div>
    <!-- period rows -->
    <div *ngFor="let row of periodRows" class="cell">
      <budget-cell
        [periodIndex]="i"
        [type]="row.type"
        [typeLabel]="row.label"
        [rowLabel]="period"
        [cellData]="
          budget.data && budget.data[i] && budget.data[i][row.type]
            ? budget.data[i][row.type]
            : null
        "
        (click)="onCellClick(row, period)"
      ></budget-cell>
    </div>
    <!-- Cash Balance -->
    <div class="cell">
      <div *ngIf="balance && balance[i]">
        <div>{{ period }}: {{ balance[i].period }}</div>
        <budget-cell-value
          quantity="1"
          [cost]="balance[i].period"
        ></budget-cell-value>
        <hr />
        <div>running: {{ balance[i].running }}</div>
        <budget-cell-value
          quantity="1"
          [cost]="balance[i].running"
        ></budget-cell-value>
      </div>
    </div>
  </div>
</div>
