<div>Budget Tool</div>

<ion-content padding class="background-primary">
  <div style="height: 100%">
    <picsa-budget-overview
      [style.display]="
        (viewComponent$ | async) == 'overview' ? 'initial' : 'none'
      "
    ></picsa-budget-overview>
    <picsa-budget-settings
      [style.display]="
        (viewComponent$ | async) == 'settings' ? 'initial' : 'none'
      "
    ></picsa-budget-settings>
    <picsa-budget-card-list
      [style.display]="
        (viewComponent$ | async) == 'cell-edit' ? 'initial' : 'none'
      "
    ></picsa-budget-card-list>
    <picsa-budget-load
      [style.display]="(viewComponent$ | async) == 'load' ? 'initial' : 'none'"
    ></picsa-budget-load>
    <div
      padding
      [style.display]="
        (viewComponent$ | async) == 'export' ? 'initial' : 'none'
      "
    >
      Coming Soon...
    </div>
  </div>
</ion-content>
