@if (supabaseAuthService.authUser(); as user) {
  <button matButton [matMenuTriggerFor]="beforeMenu" id="profileMenu" class="flex flex-col justify-center items-center">
    <div class="text-xs max-w-40 overflow-hidden overflow-ellipsis">
      {{ user.email }}
    </div>
    <div class="flex gap-2 justify-center items-center">
      <span>User</span>
      <mat-icon iconPositionEnd>account_circle</mat-icon>
    </div>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      Profile
    </button>
    <button mat-menu-item (click)="supabaseAuthService.signOut()">
      <mat-icon>logout</mat-icon>
      Sign Out
    </button>
  </mat-menu>
}
