<div>
  <mat-card class="member-card" *ngFor="let member of values; let i = index">
    <budget-card-image class="small" [card]="familyCard"></budget-card-image>
    <mat-form-field class="card-input-field quantity">
      <input
        matInput
        class="input-editable"
        [placeholder]="'Days work' | translate"
        [value]="member.values ? member.values.quantity : null"
        type="number"
        (change)="setValue($event, i)"
      />
    </mat-form-field>
    <button mat-button (click)="removeMember(i)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card>
  <button mat-button class="add-member-button" (click)="addMember()">
    {{ 'Add Family Member' | translate }}
  </button>
</div>
