<div class="table-container">
    <table class="calendar-table">
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let month of calendarData.timeAndConditions">
                {{ month.month }} <br/>
                ( {{ month.weather }})
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let crop of calendarData.crops">
            <tr>
              <td>{{ crop.name }}</td>
              <td *ngFor="let month of calendarData.timeAndConditions"  class="activities-cell">
                <span >
                    {{ getActivitiesForMonthAndCrop(month.month, crop) }}
                </span>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      

</div>