<div *ngIf="calendarData" class="table-container">
  <div class="header-section" ><h1>{{calendarData?.name}}</h1>  <button class="" mat-button mat-raised-button  (click)="saveCalendar()" color="primary">Save</button> </div>
  <table class="calendar-table">
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let month of calendarData.timeAndConditions">
          <div (click)="openMonthHeading(month)">
          {{ month.month }} <br />
          ( {{ month.weather }})
        </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let crop of calendarData.crops">
        <tr>
          <td >
            <div class="y-axis-header">
            <span > {{ crop.name }} </span>
            <div class="y-axis-actions">
              <mat-icon (click)="deleteCropData(crop)" class="custom-trash-icon" >delete</mat-icon> 
              <mat-icon (click)="openCropDialog(crop)">info</mat-icon>
            </div>
          </div>
          </td>
          <td class="activities-cell" (click)="openAddActivityDialog(crop, month)" *ngFor="let month of calendarData.timeAndConditions">
            <div class="user-activity-list">
              <div class="activity" *ngFor="let activity of getActivitiesForMonthAndCrop(month.month, crop).split(',')">
                <ng-container *ngIf="activity.trim() !== ''">
                {{ activity }}
                <mat-icon (click)="deleteActivity(crop, month.month, activity)" color="primary">clear</mat-icon>
                </ng-container>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="crop-adder">
    <button mat-button mat-raised-button color="primary" (click)="toggleCropAdder()">
      {{ showCropAdder ? 'Hide Crop Adder' : 'Show Crop Adder' }}
    </button>
    <div *ngIf="showCropAdder" class="select-box">
      <div class="select-input-field">
        <select [(ngModel)]="selectedCrop">
          <option value="" disabled selected>Select a Crop</option>
          <option *ngFor="let crop of crops" [value]="crop">{{ crop }}</option>
          <option value="Other">Other</option>
        </select>
        <button mat-button mat-raised-button color="primary" (click)="addNewCrop()"
          *ngIf="selectedCrop !== '' && selectedCrop !== 'Other'">
          + {{ 'Add Selected' | translate }}
        </button>
      </div>
      <div class="select-input-field">
        <input class="inputField" *ngIf="selectedCrop === 'Other'" [(ngModel)]="customCrop"
          placeholder="Enter custom crop" />
        <button mat-button mat-raised-button color="primary" (click)="addNewCrop()" *ngIf="selectedCrop === 'Other'">
          + {{ 'Add' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>