<div
  style="width:200px; height:100%; padding:2rem 1rem 1rem; background:whitesmoke "
>
  <mat-list>
    <h3 mat-subheader>Data Tools</h3>
    <mat-list-item [routerLink]="['/upload']">
      <mat-icon mat-list-icon svgIcon="station_data_add_data"></mat-icon>
      <h4 mat-line>Add Data</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>View Data</h3>
    <mat-list-item [routerLink]="['/map']">
      <mat-icon mat-list-icon svgIcon="station_data_map"></mat-icon>
      <h4 mat-line>Map</h4>
    </mat-list-item>
  </mat-list>
</div>
