<ion-header>
  <ion-toolbar>
    <ion-title data-cy="title">Add New Card</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()" slot="start">
        <ion-icon name="close"></ion-icon>
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Name for card</ion-label>
      <ion-input type="text" [(ngModel)]="cardName"></ion-input>
    </ion-item>
  </ion-list>

  <!--Add card-->
  <div>Card Picture</div>
  <div style="position: relative">
    <div class="canvas-container">
      <canvas-whiteboard
        #canvasWhiteboard
        [drawButtonClass]="'drawButtonClass'"
        [drawButtonText]="'Draw'"
        [clearButtonClass]="'clearButtonClass'"
        [clearButtonText]="'Clear'"
        [clearButtonEnabled]="true"
        [undoButtonText]="'Undo'"
        [undoButtonEnabled]="true"
        [redoButtonText]="'Redo'"
        [redoButtonEnabled]="true"
        [colorPickerEnabled]="true"
        [saveDataButtonEnabled]="false"
        [saveDataButtonText]="'Save'"
        [strokeColor]="'rgb(91, 45, 0)'"
        [lineWidth]="7"
      >
      </canvas-whiteboard>
    </div>
  </div>
  <ion-item>
    <ion-button slot="start" expand="block" (click)="saveCard()" [disabled]="!cardName">
      <ion-icon name="add"></ion-icon>Save Card</ion-button
    >
  </ion-item>
</ion-content>
