<div class="page-content">
  <h2>Crop Admin</h2>

  <!-- Requirement Upload -->
  <div class="flex items-center">
    <p class="flex-1">Upload crop water requirement definitions from CSV</p>
    <button class="ml-2" mat-stroked-button (click)="dialog.open(templateExport)">
      <mat-icon>download</mat-icon>Template
    </button>
  </div>

  <dashboard-data-import (dataLoaded)="handleDataLoad($event)"></dashboard-data-import>

  <mat-accordion class="mt-4" multi>
    <!-- Processed -->
    @if (parsedRows().length > 0) {
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mr-2">check_circle</mat-icon>
            Rows ({{ parsedRows().length }})</mat-panel-title
          >
        </mat-expansion-panel-header>
        @if (insertRows().length > 0) {
          <picsa-data-table [data]="updates()" [options]="updateTableOptions"></picsa-data-table>
          <button mat-raised-button (click)="processImport(insertRows())" color="primary">Import</button>
        } @else {
          <p>All data already exists</p>
        }
      </mat-expansion-panel>
    }

    <!-- Duplicates -->
    @if (duplicates().length > 0) {
      <mat-expansion-panel disabled>
        <mat-expansion-panel-header>
          <mat-panel-title>Duplicates ({{ duplicates().length }})</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    }
    <!-- Errors -->
    @if (errors().length > 0) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mr-2">warning</mat-icon>
            Errors ({{ errors().length }})</mat-panel-title
          >
        </mat-expansion-panel-header>
        <picsa-data-table [data]="errors()" [options]="errorTableOptions"></picsa-data-table>
      </mat-expansion-panel>
    }
  </mat-accordion>

  <!-- Quality Control -->
  <h2>Quality Control</h2>
  <dashboard-crop-missing-locations></dashboard-crop-missing-locations>
</div>

<!-- Template Export Location Select -->
<ng-template #templateExport>
  <picsa-form-location-select [countryCode]="countryCode()" #locationSelect></picsa-form-location-select>
  <button
    class="ml-2"
    mat-stroked-button
    (click)="downloadTemplate(locationSelect.computedValue())"
    [disabled]="!locationSelect.isValid()"
  >
    <mat-icon>download</mat-icon>
    <span class="capitalize">
      @if (locationSelect.isValid()) {
        {{ locationSelect.admin5Selected() || locationSelect.admin4Selected() }} Template
      } @else {
        Template
      }
    </span>
  </button>
</ng-template>
