<div class="page">
  <mat-toolbar color="primary" class="mat-elevation-z2">
    <button mat-icon-button (click)="sidenav.opened = !sidenav.opened">
      <mat-icon>menu</mat-icon>
    </button>
    <span>PICSA Dashboard</span>
    <span class="example-spacer"></span>
  </mat-toolbar>

  <mat-sidenav-container style="flex: 1">
    <mat-sidenav #sidenav mode="side" opened [fixedInViewport]="true" fixedTopGap="48">
      <mat-nav-list>
        @for (link of navLinks; track link.href) {
        <a mat-list-item [routerLink]="link.href" routerLinkActive="mdc-list-item--activated">{{ link.label }}</a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content> <router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
</div>
