:host {
  // force page padding which normally only applies to tailwind breakpoints
  --page-padding: 16px;
}

mat-nav-list {
  height: calc(100% - 16px);
  display: flex;
  flex-direction: column;
}
mat-toolbar {
  z-index: 2;
}
mat-sidenav-content {
  display: flex;
  flex-direction: column;
}
.nav-item {
  display: flex;
  align-items: center;
}
.active-link {
  text-decoration: underline;
}
.deployment-select-banner {
  display: block;
  margin-top: 33vh;
  text-align: center;
}
