mat-sidenav {
  width: 256px;
}
mat-nav-list {
  --mdc-list-list-item-one-line-container-height: 48px;

  height: calc(100% - 16px);
  display: flex;
  flex-direction: column;
}
mat-toolbar {
  z-index: 2;
}
mat-sidenav-content {
  display: flex;
  flex-direction: column;
}
.active-link {
  text-decoration: underline;
}
