:host {
  display: contents;
}

.nav-item {
  display: flex;
  align-items: center;
}
.link-label {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}
::ng-deep .mat-expansion-panel-body {
  padding: 0 0 16px 0;
}
