<mat-toolbar color="primary" class="mat-elevation-z2 flex items-center">
  <dashboard-deployment-select />
  <dashboard-profile-menu class="ml-auto" />
</mat-toolbar>
<mat-sidenav-container style="flex: 1">
  <!-- Sidenav -->
  <mat-sidenav #sidenav mode="side" opened [fixedInViewport]="true" fixedTopGap="64">
    <mat-nav-list class="w-48 lg:w-64 flex-1">
      @for (link of navLinks; track link.href) { @if (link.children) {
      <!-- Nested nav items -->
      <mat-expansion-panel
        class="mat-elevation-z0"
        hideToggle
        [expanded]="rla.isActive"
        *roleRequired="link.roleRequired"
      >
        <mat-expansion-panel-header
          style="padding: 0 16px"
          [routerLink]="link.href"
          routerLinkActive
          #rla="routerLinkActive"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <mat-panel-title>
            <ng-container *ngTemplateOutlet="linkTemplate; context: { $implicit: link }"></ng-container>
          </mat-panel-title>
        </mat-expansion-panel-header>
        @for (child of link.children || []; track $index) {
        <a
          mat-list-item
          [routerLink]="child.href"
          routerLinkActive="mdc-list-item--activated active-link"
          *roleRequired="child.roleRequired"
        >
          <ng-container *ngTemplateOutlet="linkTemplate; context: { $implicit: child }"></ng-container>
        </a>
        }
      </mat-expansion-panel>
      } @else {
      <!-- Single nav item -->
      <a
        mat-list-item
        [routerLink]="link.href"
        routerLinkActive="mdc-list-item--activated active-link"
        *roleRequired="link.roleRequired"
      >
        <ng-container *ngTemplateOutlet="linkTemplate; context: { $implicit: link }"></ng-container>
      </a>
      } }
    </mat-nav-list>
    <mat-nav-list class="w-48 lg:w-64 mt-auto">
      <mat-divider></mat-divider>
      <div mat-subheader></div>
      <mat-divider></mat-divider>
      @for (link of adminLinks; track link.href) {
      <a
        mat-list-item
        [routerLink]="link.href"
        routerLinkActive="mdc-list-item--activated active-link"
        *roleRequired="link.roleRequired"
      >
        <ng-container *ngTemplateOutlet="linkTemplate; context: { $implicit: link }"></ng-container>
      </a>
      }
    </mat-nav-list>
    <mat-divider></mat-divider>
    <dashboard-footer [isSidebar]="true" class="w-48 lg:w-64" />
  </mat-sidenav>
  <!-- Main Content -->
  <mat-sidenav-content>
    <div class="flex flex-col flex-1">
      <div class="h-full flex-col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #linkTemplate let-link>
  <div class="nav-item">
    @if (link.matIcon) {
    <mat-icon style="margin-right: 8px">{{ link.matIcon }}</mat-icon>
    } @else {
    <span style="width: 32px"></span>
    }
    <span class="link-label">{{ link.label }}</span>
  </div>
</ng-template>
