<mat-horizontal-stepper linear #stepper>
  <!-- Intro -->
  <mat-step>
    <ng-template matStepLabel>Introduction</ng-template>
    <p>
      Using this tool you can prepare and upload data for use in the PICSA app.
    </p>
    <p style="font-size: small">
      <strong>Note</strong><br /><br />
      This application assumes you have used R-Instat to prepare data. <br />
      If you are unsure of how to do this please seek additional support before
      adding your data
    </p>
    <div>
      <button mat-button matStepperNext color="primary">Continue</button>
    </div>
  </mat-step>
  <!-- Upload Data -->
  <mat-step>
    <ng-template matStepLabel>Select</ng-template>
    <ngx-file-drop
      (onFileDrop)="fileDropped($event)"
      accept=".csv"
      [multiple]="false"
      #fileDrop
    >
      <ng-template ngx-file-drop-content-tmp>
        <div style="text-align: center">
          <button
            mat-button
            (click)="fileDrop.openFileSelector()"
            style="padding-right: 4px"
          >
            Choose a file
          </button>
          <span>or drag it here</span>
          <div style="color:var(--color-primary)" *ngIf="csvFile">
            {{ csvFile.name }}
          </div>
        </div>
      </ng-template>
    </ngx-file-drop>
    <div style="margin:1em 0; font-size: small">
      <span>Don't have data? </span
      ><span style="cursor: pointer; font-weight: bold" (click)="loadDemoData()"
        >Load example dataset</span
      >
    </div>
    <!-- preview data -->
    <h4 *ngIf="csvData.length > 0">Preview</h4>
    <picsa-data-table [data]="csvData"></picsa-data-table>
    <div style="margin-top:1em">
      <button mat-button matStepperPrevious color="primary">Back</button>
      <button mat-button matStepperNext color="primary">Next</button>
    </div>
  </mat-step>
  <!-- Field mapping -->
  <mat-step>
    <ng-template matStepLabel>Prepare</ng-template>
    <div>
      Drag and drop fields from your csv to the corresponding station data
      fields
    </div>
    <div class="field-mapping-container">
      <h3>Required Fields</h3>
      <div style="display: flex">
        <div class="field-mapping-list key">
          <div
            class="field-mapping-item key"
            *ngFor="let mapping of siteDataMapping"
          >
            <div>
              <div style="font-weight: bold">{{ mapping.field }}</div>
              <div style="font-size: small">
                {{ mapping.description }}
              </div>
            </div>
          </div>
        </div>
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="mappedFields"
          [cdkDropListConnectedTo]="[doneList]"
          class="field-mapping-list"
          (cdkDropListDropped)="dragDropped($event)"
        >
          <div
            class="field-mapping-item"
            *ngFor="let field of mappedFields"
            cdkDrag
          >
            {{ field }}
          </div>
        </div>
      </div>
    </div>
    <div class="field-mapping-container">
      <h3>CSV Fields</h3>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="csvFields"
        [cdkDropListConnectedTo]="[todoList]"
        class="field-mapping-list"
        (cdkDropListDropped)="dragDropped($event)"
      >
        <div class="field-mapping-item" *ngFor="let field of csvFields" cdkDrag>
          {{ field }}
        </div>
      </div>
    </div>

    <!-- <div *ngFor="let mapping of siteDataMapping">
      <mat-form-field>
        <mat-label>{{ mapping.field }}</mat-label>
        <mat-select [(value)]="mapping.mappedField">
          <mat-option *ngFor="let field of csvFields" [value]="field">{{
            field
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  <!-- Result -->
  <mat-step>
    <ng-template matStepLabel>Result</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  <!-- Save -->
</mat-horizontal-stepper>
