<mat-horizontal-stepper linear #stepper>
  <!-- Intro -->
  <mat-step>
    <ng-template matStepLabel>Intro</ng-template>
    <p>
      Using this tool you can prepare and upload data for use in the PICSA app.
    </p>
    <p style="font-size: small">
      <strong>Note</strong><br /><br />
      This application assumes you have used R-Instat to prepare data. <br />
      If you are unsure of how to do this please seek additional support before
      adding your data
    </p>
    <div>
      <button mat-button matStepperNext color="primary">Continue</button>
    </div>
  </mat-step>
  <!-- Upload Data -->
  <mat-step>
    <ng-template matStepLabel>Select</ng-template>
    <ngx-file-drop
      (onFileDrop)="fileDropped($event)"
      accept=".csv"
      [multiple]="false"
      #fileDrop
    >
      <ng-template ngx-file-drop-content-tmp>
        <div style="text-align: center">
          <button
            mat-button
            (click)="fileDrop.openFileSelector()"
            style="padding-right: 4px"
          >
            Choose a file
          </button>
          <span>or drag it here</span>
          <div style="color:var(--color-primary)" *ngIf="csvFile">
            {{ csvFile.name }}
          </div>
        </div>
      </ng-template>
    </ngx-file-drop>
    <div style="margin:1em 0; font-size: small">
      <span>Don't have data? </span
      ><span style="cursor: pointer; font-weight: bold" (click)="loadDemoData()"
        >Load example dataset</span
      >
    </div>
    <!-- preview unmapped data -->
    <h4 *ngIf="csvData.length > 0">Preview</h4>
    <picsa-data-table [data]="csvData"></picsa-data-table>
    <div style="margin-top:1em">
      <button mat-button matStepperPrevious color="primary">Back</button>
      <button mat-button matStepperNext color="primary">Next</button>
    </div>
  </mat-step>
  <!-- Field mapping -->
  <mat-step>
    <ng-template matStepLabel>Prepare</ng-template>
    <p>
      Drag and drop fields from your csv to the corresponding station data.
    </p>
    <div cdkDropListGroup>
      <!-- drag items -->
      <div
        class="drag-items-container"
        cdkDropList
        [cdkDropListData]="csvFields"
        (cdkDropListDropped)="dragDropped($event)"
        cdkDropListSortingDisabled
      >
        <div class="drag-drop-item" *ngFor="let field of csvFields" cdkDrag>
          <div class="drop-placeholder" *cdkDragPlaceholder></div>
          {{ field }}
        </div>
      </div>
      <!-- drop zones -->
      <div>
        <div
          class="dropzone"
          *ngFor="let mapping of siteDataMapping; index as i"
        >
          <div style="font-weight: bold; width:80px">{{ mapping.field }}</div>
          <div style="font-size: small; width:300px; margin:0 10px">
            {{ mapping.description }}
          </div>
          <div
            cdkDropList
            class="dropzone-list"
            (cdkDropListDropped)="dragDropped($event)"
            [cdkDropListData]="siteDataMapping[i].mappedField"
            [class.empty]="siteDataMapping[i].mappedField.length === 0"
          >
            <div
              class="drag-drop-item dropped"
              *ngFor="let field of siteDataMapping[i].mappedField"
              cdkDrag
            >
              {{ field }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <!-- preview mapped data -->
      <h4 *ngIf="csvMappedData.length > 0">Preview</h4>
      <picsa-data-table-station
        *ngIf="csvMappedData.length > 0"
        [data]="csvMappedData"
      ></picsa-data-table-station>
      <div style="margin-top:1em">
        <button mat-button matStepperPrevious color="primary">Back</button>
        <button
          mat-button
          matStepperNext
          (click)="processFullCSVData()"
          color="primary"
        >
          Next
        </button>
      </div>
    </div>
  </mat-step>
  <!-- Result -->
  <mat-step>
    <ng-template matStepLabel>Result</ng-template>
    <div *ngIf="csvMappedData.length === 5">
      <div>
        You need not complete the previous step. Click the button below to
        process the full data
      </div>
      <button mat-button color="primary" (click)="processFullCSVData()">
        Process Data
      </button>
    </div>

    <h3>Data</h3>
    <picsa-data-table-station
      *ngIf="csvMappedData.length > 0"
      [data]="csvMappedData"
    ></picsa-data-table-station>
    <h3>App Graphs</h3>
    You are now done.
    <div>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button>Finish</button>
    </div>
  </mat-step>
  <!-- Save -->
  <mat-step>
    <ng-template matStepLabel>Save</ng-template>
    You are now done.
    <div>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button>Finish</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
