<div class="page-content">
  <div style="display: flex; align-items: center">
    <h2>File Resources</h2>
    <button mat-stroked-button color="primary" routerLink="create" style="margin-top: 1rem; margin-left: auto">
      <mat-icon>add</mat-icon>
      Add Resource
    </button>
  </div>
  <p>
    Here you can find any resources that have been uploaded as files, such as videos and pdf documents.
    <br />
    These can be downloaded directly by users on the app, and used offline
  </p>

  <picsa-data-table
    [data]="resources"
    [options]="tableOptions"
    [valueTemplates]="{
      size_kb: sizeKbTemplate,
      mimetype: mimetypeTemplate,
      languages: languagesTemplate,
      modified_at: modifiedAtTemplate,
      collections: collectionsTemplate,
      external_url: externalUrlTemplate
    }"
  >
    <!-- size in MB -->
    <ng-template #sizeKbTemplate let-sizeKb> {{ sizeKb | sizeMB }}MB </ng-template>
    <!-- mimetype icons -->
    <ng-template #mimetypeTemplate let-mimetype>
      @switch (mimetype) { @case (('application/pdf')) {
      <mat-icon svgIcon="dashboard:filetype_pdf" [matTooltip]="mimetype"></mat-icon>
      } @case ('video/mp4') {
      <mat-icon svgIcon="dashboard:filetype_video" [matTooltip]="mimetype"></mat-icon>
      } @default {
      <mat-icon svgIcon="dashboard:filetype_document" [matTooltip]="mimetype"></mat-icon>} }
    </ng-template>
    <!-- language codes -->
    <ng-template #languagesTemplate let-languages>
      @for(language of languages; track language.id){
      <div>{{ language.language_label }}</div>
      }
    </ng-template>
    <!-- modified date -->
    <ng-template #modifiedAtTemplate let-date>
      {{ date | date: 'mediumDate' }}
    </ng-template>
    <!-- collections -->
    <ng-template #collectionsTemplate let-collections>
      <div style="display: flex; gap: 4px">
        @for(collection of collections; track collection.id;){
        <div class="collection-cover-container" [matTooltip]="collection.title">
          <img class="collection-cover color-on-hover" [src]="collection.cover_image | storagePath" />
        </div>
        }
      </div>
    </ng-template>
    <!-- externalUrl -->
    <ng-template #externalUrlTemplate let-url>
      @if(url){
      <a [href]="url" target="_blank" rel="noopener noreferrer nofollow" (click)="$event.stopImmediatePropagation()">
        <button mat-icon-button style="color: black; margin: auto; display: block">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </a>
      }
    </ng-template>
  </picsa-data-table>
</div>
