<div class="page-content">
  <div style="display: flex; align-items: center">
    <h2>File Resources</h2>
    <button mat-stroked-button color="primary" routerLink="create" style="margin-top: 1rem; margin-left: auto">
      <mat-icon>add</mat-icon>
      Add Resource
    </button>
  </div>
  <p>
    Here you can find any resources that have been uploaded as files, such as videos and pdf documents.
    <br />
    These can be downloaded directly by users on the app, and used offline
  </p>

  <picsa-data-table
    [data]="resources"
    [options]="tableOptions"
    [valueTemplates]="{
      size_kb: sizeKbTemplate,
      mimetype: mimetypeTemplate,
      language_codes: languageCodesTemplate,
      modified_at: modifiedAtTemplate,
      collections: collectionsTemplate
    }"
  >
    <!-- size in MB -->
    <ng-template #sizeKbTemplate let-sizeKb> {{ sizeKb | sizeMB }}MB </ng-template>
    <!-- mimetype icons -->
    <ng-template #mimetypeTemplate let-mimetype>
      @switch (mimetype) { @case (('application/pdf')) {
      <mat-icon svgIcon="dashboard:filetype_pdf"></mat-icon>
      } @case ('video/mp4') {
      <mat-icon svgIcon="dashboard:filetype_video"></mat-icon>
      } @default {<mat-icon svgIcon="dashboard:filetype_document"></mat-icon>} }
    </ng-template>
    <!-- language codes -->
    <ng-template #languageCodesTemplate let-codes>
      @for(code of codes; track code){
      <div>{{ code }}</div>
      }
    </ng-template>
    <!-- modified date -->
    <ng-template #modifiedAtTemplate let-date>
      {{ date | date: 'mediumDate' }}
    </ng-template>
    <!-- collections -->
    <ng-template #collectionsTemplate let-collections>
      <div style="display: flex; gap: 4px">
        @for(collection of collections; track collection.id;){ @if(collection.cover_image){
        <div class="collection-cover-container" [matTooltip]="collection.title">
          <img class="collection-cover" [src]="collection.cover_image | storagePath" />
        </div>
        } @else {
        <button mat-stroked-button [matTooltip]="collection.title">
          {{ $index + 1 }}
        </button>

        } }
      </div>
    </ng-template>
  </picsa-data-table>
</div>
