// Deep overrides for Angular Material components that can't be reached by utility classes alone
.custom-auth-tabs {
  ::ng-deep .mat-mdc-tab-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  ::ng-deep .mat-mdc-tab-body-wrapper {
    padding: 24px;
  }
}

// Override form field styles for concise look in card
mat-form-field {
  width: 100%;
}

input.mat-mdc-input-element.mdc-text-field__input {
  @apply text-lg;
}
