<div class="page-content">
  <div class="button-grid">
    <button mat-stroked-button color="primary" (click)="createClicked()">
      <div>{{ 'Create New Budget' | translate }}</div>
      <img src="assets/budget-icons/budget-create.svg" />
    </button>
    <button mat-stroked-button color="primary" (click)="importBudgetCode()">
      <div>{{ 'Import Budget Code' | translate }}</div>
      <img src="assets/budget-icons/budget-import.svg" />
    </button>
  </div>

  <h2>{{ 'Saved Budgets' | translate }}</h2>
  <div *mobxAutorun>
    <budget-list-item
      *ngFor="let budget of store.savedBudgets"
      [routerLink]="['./view', budget._key]"
      [budget]="budget"
      (deleteClicked)="promptDelete(budget)"
    >
    </budget-list-item>
  </div>
</div>
