<!-- Editor -->
<div id="editorContainer">
  <div
    *ngFor="let editorStep of editorSteps"
    class="type-row"
    [id]="'edit-' + editorStep.type"
  >
    <div class="type-label">{{ editorStep.label | translate }}</div>
    <div class="selected-summary" *ngIf="data[editorStep.type] as selected">
      <div class="selected-cards-container">
        <budget-card
          *ngFor="let card of selected; index as i; trackBy: trackByFn"
          [card]="card"
          [showDeleteButton]="true"
          (deleteClicked)="removeSelectedCard(editorStep.type, i)"
          (click)="showCardsList(editorStep.type)"
          @fadeInOut
        ></budget-card>
        <budget-card-placeholder
          (click)="showCardsList(editorStep.type)"
        ></budget-card-placeholder>
      </div>
    </div>
  </div>
</div>
<!-- Footer Next Button -->
<button
  mat-raised-button
  color="primary"
  class="footer-button"
  style="margin: 1rem"
  (click)="handleNextClick.emit()"
>
  Next
</button>

<!-- Dialog -->
<ng-template #cardsListDialog>
  <div id="cardsList" *ngIf="data && cardsListType && store.budgetCardsByType">
    <div style="flex: 1; overflow: auto">
      <!-- Activities -->
      <budget-cell-editor-card-select
        @fadeInOut
        *ngIf="cardsListType === 'activities'"
        type="activities"
        [values]="data.activities"
        [cards]="store.budgetCardsByType.activities"
        (valueChanged)="onEditorChange($event, 'activities')"
      >
      </budget-cell-editor-card-select>
      <!-- Inputs -->
      <budget-cell-editor-card-select
        @fadeInOut
        *ngIf="cardsListType === 'inputs'"
        type="inputs"
        [values]="data.inputs"
        [cards]="store.budgetCardsByType.inputs"
        (valueChanged)="onEditorChange($event, 'inputs')"
      >
      </budget-cell-editor-card-select>

      <!-- Input Values -->
      <budget-cell-editor-input-values
        @fadeInOut
        *ngIf="cardsListType === 'inputs'"
        [cards]="data.inputs"
        (valueChanged)="onEditorChange($event, 'inputs')"
      ></budget-cell-editor-input-values>
      <!-- Family Labour -->
      <budget-cell-editor-family-labour
        @fadeInOut
        *ngIf="cardsListType === 'familyLabour'"
        [values]="data.familyLabour"
        (valueChanged)="onEditorChange($event, 'familyLabour')"
      ></budget-cell-editor-family-labour>
      <!-- Outputs -->
      <budget-cell-editor-card-select
        @fadeInOut
        *ngIf="cardsListType === 'outputs'"
        type="outputs"
        [values]="data.outputs"
        [cards]="store.budgetCardsByType.outputs"
        (valueChanged)="onEditorChange($event, 'outputs')"
      >
      </budget-cell-editor-card-select>

      <budget-cell-editor-input-values
        @fadeInOut
        *ngIf="cardsListType === 'outputs'"
        [cards]="data.outputs"
        (valueChanged)="onEditorChange($event, 'outputs')"
      ></budget-cell-editor-input-values>
      <!-- Consumed -->
      <budget-cell-editor-card-select
        @fadeInOut
        *ngIf="cardsListType === 'produceConsumed'"
        type="produceConsumed"
        [values]="data.produceConsumed"
        [cards]="store.budgetCardsByType.outputs"
        (valueChanged)="onEditorChange($event, 'produceConsumed')"
      >
      </budget-cell-editor-card-select>

      <!-- Consumed Values -->
      <budget-cell-editor-produce-consumed
        @fadeInOut
        *ngIf="cardsListType === 'produceConsumed'"
        [cards]="data.produceConsumed"
        (valueChanged)="onEditorChange($event, 'produceConsumed')"
      ></budget-cell-editor-produce-consumed>
    </div>
    <button
      mat-raised-button
      color="primary"
      class="footer-button"
      style="margin: 1rem"
      mat-dialog-close
    >
      Next
    </button>
  </div>
</ng-template>

<!-- Summary -->

<!-- <budget-period-summary
    [periodIndex]="store.activePeriod"
  ></budget-period-summary> -->
