<div
  class="page-content"
  style="height: calc(100% - 50px); padding: 0; overflow: auto"
>
  <!-- Selected Cards -->
  <div style="display: flex; flex-wrap: wrap">
    <budget-card *ngFor="let card of selected" [card]="card"></budget-card>
  </div>
  <!-- Activities -->
  <budget-cell-editor-card-select
    @fadeInOut
    *ngIf="_activeType === 'activities'"
    type="activities"
    [values]="data.activities"
    [cards]="store.budgetCardsByType.activities"
    (valueChanged)="onEditorChange($event, 'activities')"
  >
  </budget-cell-editor-card-select>
  <!-- Inputs -->
  <budget-cell-editor-card-select
    @fadeInOut
    *ngIf="_activeType === 'inputs'"
    type="inputs"
    [values]="data.inputs"
    [cards]="store.budgetCardsByType.inputs"
    (valueChanged)="onEditorChange($event, 'inputs')"
  >
  </budget-cell-editor-card-select>

  <!-- Input Values -->
  <budget-cell-editor-input-values
    @fadeInOut
    *ngIf="_activeType === 'inputs'"
    [cards]="data.inputs"
    (valueChanged)="onEditorChange($event, 'inputs')"
  ></budget-cell-editor-input-values>
  <!-- Family Labour -->
  <budget-cell-editor-family-labour
    @fadeInOut
    *ngIf="_activeType === 'familyLabour'"
    [values]="data.familyLabour"
    (valueChanged)="onEditorChange($event, 'familyLabour')"
  ></budget-cell-editor-family-labour>
  <!-- Outputs -->
  <budget-cell-editor-card-select
    @fadeInOut
    *ngIf="_activeType === 'outputs'"
    type="outputs"
    [values]="data.outputs"
    [cards]="store.budgetCardsByType.outputs"
    (valueChanged)="onEditorChange($event, 'outputs')"
  >
  </budget-cell-editor-card-select>

  <budget-cell-editor-input-values
    @fadeInOut
    *ngIf="_activeType === 'outputs'"
    [cards]="data.outputs"
    (valueChanged)="onEditorChange($event, 'outputs')"
  ></budget-cell-editor-input-values>
  <!-- Consumed -->
  <budget-cell-editor-card-select
    @fadeInOut
    *ngIf="_activeType === 'produceConsumed'"
    type="produceConsumed"
    [values]="data.produceConsumed"
    [cards]="store.budgetCardsByType.outputs"
    (valueChanged)="onEditorChange($event, 'produceConsumed')"
  >
  </budget-cell-editor-card-select>

  <!-- Consumed Values -->
  <budget-cell-editor-produce-consumed
    @fadeInOut
    *ngIf="_activeType === 'produceConsumed'"
    [cards]="data.produceConsumed"
    (valueChanged)="onEditorChange($event, 'produceConsumed')"
  ></budget-cell-editor-produce-consumed>
  <!-- Summary -->
  <!-- <budget-period-summary
    [periodIndex]="store.activePeriod"
  ></budget-period-summary> -->
</div>
