.playlist-container {
  @apply p-0;
}
.playlist-item {
  @apply flex cursor-pointer items-center h-28 relative;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}
.video-downloader {
  @apply absolute left-16 p-2 bg-black bg-opacity-70 rounded-md text-white text-center;
  &[data-status='loading'] {
    display: none;
  }
  &[data-status='complete'] {
    display: none;
  }
}
picsa-video-player {
  @apply w-48;
}
