<div class="page-content" style="padding-top: 0" scrollRestore @fadeInOut>
  <div class="icon-color-toggle">
    <button mat-button (click)="showSkinSelector = !showSkinSelector">
      Icon Color
      <mat-icon>{{ showSkinSelector ? 'expand_less' : 'expand_more' }}</mat-icon>
    </button>
  
    <div *ngIf="showSkinSelector" class="skin-tone-selector">
      <div
        class="color-circle"
        *ngFor="let option of skinToneOptions"
        [ngStyle]="{ 'background-color': option.color }"
        [class.selected]="selectedSkinColor === option.color"
        (click)="onSelectSkinTone(option.color)"
        [title]="option.label"
      ></div>
    </div>
  </div>
  
  
  <div class="step-grid">
    @for(step of content; track step.id){
    <div class="step-container" matRipple [routerLink]="step.slug" [attr.data-disabled]="step.disabled">
      <div style="position: relative">
        <div class="step-image-container" #stepImageContainer >
          <div [id]="'icon-' + step.id" ></div>
        </div>
        @if($index>0){
        <div class="step-number">{{ $index }}</div>
        }
      </div>
      <div class="step-content">
        <h2 class="step-title">{{ step.title | translate }}</h2>
        <div class="tags-container">
          @for(tag of step.tags; track tag){
          <span class="tag" [attr.data-color]="tag.color">{{ tag.label | translate }}</span>
          }
        </div>
        <div class="step-content">
          <h2 class="step-title">{{ step.title | translate }}</h2>
          <div class="tags-container">
            @for (tag of step.tags; track tag) {
              <span class="tag" [attr.data-color]="tag.color">{{ tag.label | translate }}</span>
            }
          </div>
        </div>
        <button class="nav-button" mat-icon-button color="secondary">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
    }
  </div>
</div>
