:host {
  display: contents;
}
.step-grid {
  flex: 1;
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: grid;
  gap: 0 128px;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr;
  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }
}
.step-container {
  display: flex;
  border-bottom: 1px solid var(--color-primary-50);
  padding: 1.25em 0;
  align-items: center;
  cursor: pointer;
  &[data-disabled='true'] {
    opacity: 0.6;
    pointer-events: none;
    filter: grayscale(1);
  }
}
.step-image-container {
  width: 128px;
  height: 128px;
  padding: 8px;
  background: var(--color-primary-50);
  border-radius: 8px;
}
img.step-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.step-number {
  position: absolute;
  top: -12px;
  right: -18px;
  width: 36px;
  height: 36px;
  background: var(--color-secondary);
  color: white;
  text-align: center;
  line-height: 36px;
  border-radius: 50%;
}
.step-content {
  margin: 0;
  @apply ml-6 sm:ml-12 sm:mr-12;
  flex: 1;
}
.step-title {
  text-transform: capitalize;
  font-weight: bold;
  color: var(--color-secondary);
  text-align: left;
}
button.mat-mdc-icon-button.nav-button {
  height: 60px;
  width: 60px;
  & > mat-icon {
    font-size: 36px;
    height: 36px;
    width: 36px;
    color: var(--color-secondary);
  }
}
.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.tag {
  background: var(--tag-background, black);
  padding: 8px;
  color: white;
}
.tag {
  --tag-background: var(--color-primary);
}
.tag[data-color='secondary'] {
  --tag-background: var(--color-secondary);
}
