<div class="page-content" style="padding-top: 0" scrollRestore @fadeInOut>
  <div class="step-grid">
    @for(step of content; track step.id){
    <div class="step-container" matRipple [routerLink]="step.slug" [attr.data-disabled]="step.disabled">
      <div style="position: relative">
        <div class="step-image-container">
          <img class="step-image" [src]="step.icon_path" />
        </div>
        @if($index>0){
        <div class="step-number">{{ $index }}</div>
        }
      </div>
      <div class="step-content">
        <h2 class="step-title">{{ step.title | translate }}</h2>
        <div class="tags-container">
          @for(tag of step.tags; track tag){
          <span class="tag step-tag">{{ tag.label | translate }}</span>
          } @for(tool of step.tools; track tool){
          <span class="tag tool-tag">{{ tool.label | translate }}</span>
          }
        </div>
      </div>
      <button class="nav-button" mat-icon-button color="secondary">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>

    }
  </div>
</div>
