<!-- Station Filter -->

<mat-form-field style="width: 250px" class="no-hint" data-tour-id="station">
  <mat-label>{{ 'District' | translate }}</mat-label>
  <mat-select [(value)]="districtSelected">
    <mat-option *ngFor="let option of districtOptions()" [value]="option.id">{{ option.label }}</mat-option>
  </mat-select>
</mat-form-field>
@if(stationsOptions().length>1){
<mat-form-field style="width: 250px" class="no-hint" data-tour-id="station">
  <mat-label>{{ 'Station' | translate }}</mat-label>
  <mat-select [value]="selectedStationId" (selectionChange)="handleStationChange($event.value)" #stationSelect>
    <mat-option *ngFor="let station of stationsOptions()" [value]="station.id" [attr.data-tour-id]="station.id">{{
      station.station_name
    }}</mat-option>
  </mat-select>
</mat-form-field>

}
