:host {
  display: contents;
}

.lock-icon {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 8px;
  color: #f44336;
}

.spinner {
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
}

.sync-status-container {
  display: flex;
  margin-top: 1rem;
  gap: 24px;
  flex-wrap: wrap;
}
.sync-status-item {
  font-weight: bold;
  font-size: 16px;
  // min-width: 50px;
  &[data-status='complete'] {
    color: hsl(100, 100%, 30%);
  }
  &[data-status='ready'] {
    color: hsl(45, 90%, 40%);
  }
  &[data-status='draft'] {
    color: hsl(0, 0%, 50%);
  }
  &[data-status='failed'] {
    color: hsl(0, 50%, 50%);
  }
}
.sync-status-value {
  margin-left: 4px;
  line-height: 16px;
}
.sync-status-label {
  margin-top: 8px;
}
