:host {
  display: block;
}
.chart-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 1rem;
}
.chart-card {
  width: 100px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid var(--color-light);
  cursor: pointer;
}
.chart-card-image {
  height: 50px;
  width: 50px;
  margin: auto;
  object-fit: cover;
}
.chart-card-label {
  text-align: center;
}
