<div class="chart-select-container">
  <mat-card
    appearance="outlined"
    *ngFor="let chart of availableCharts"
    class="mat-elevation-z8 chart-card"
    [attr.data-id]="chart._viewID"
    [attr.data-active]=""
    [routerLink]="[]"
    [queryParams]="{view:chart._viewID}"
    routerLinkActive="chart-active"
    [routerLinkActiveOptions]="routerLinkActiveOptions"
    [replaceUrl]="true"
  >
    <div class="chart-name">{{ chart.shortname | translate }}</div>
    <div class="chart-image-container">
      <img src="{{ chart.image }}" class="chart-image" />
    </div>
  </mat-card>
</div>
<!-- <h2 *ngIf="availableReports.length>0">{{ 'Or a report' | translate }}</h2>
<div style="display: flex; flex-wrap: wrap">
  <mat-card
    *ngFor="let report of availableReports"
    class="mat-elevation-z8 chart-card"
    (click)="setView(report._viewID)"
  >
    <mat-card-title class="chart-name">
      {{ report.name | translate }}
    </mat-card-title>
    <mat-card-content style="display: flex">
      <div>
        <img src="{{ report.image }}" class="chart-image" />
      </div>
    </mat-card-content>
  </mat-card>
</div> -->
