<h3>Outputs</h3>

<mat-card
  appearance="outlined"
  *ngFor="let card of cards; let i = index"
  style="display: flex; margin-bottom: 10px; flex-direction: row; padding: 16px"
>
  <budget-card [card]="card"></budget-card>
  <div class="input-values-container">
    <mat-form-field class="card-input-field quantity">
      <mat-label>{{'Consumed' | translate}}</mat-label>
      <input
        matInput
        class="input-editable"
        [value]="card.values.quantity"
        type="number"
        (change)="setValue($event,  i)"
      />
    </mat-form-field>
    <div style="display: flex; margin-left: 10px; font-size: 0.75em; color: rgba(0, 0, 0, 0.38)">
      <div style="flex: 1">
        <div>{{ 'Total Produced' | translate }}</div>
        <div>{{ totalOutputs[card.id] | number: '.0' }}</div>
      </div>
      <div style="flex: 1">
        <div>{{ 'Total Consumed' | translate }}</div>
        <div>{{ totalConsumed[card.id] | number: '.0' }}</div>
      </div>
    </div>
  </div>
</mat-card>

<div *ngIf="cards.length === 0" style="margin: 1em 0 2em 0">{{'No outputs produce for consumption' | translate}}</div>
