.add-member-button {
  width: 100%;
  margin: 10px 0;
  height: 70px;
}
.member-card {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  position: relative;
  padding-right: 2rem;
}
.member-card.placeholder {
  border: 1px dashed var(--color-primary);
  padding-right: 1rem;
  min-height: 48px;
  cursor: pointer;
}
.member-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 0.5rem;
}
.member-delete-button {
  position: absolute;
  top: 0;
  right: 0;
  min-width: unset;
  width: 36px;
  padding: 0;
}
.member-input {
  flex: 1;
  margin: 0 1rem;
}
.member-add-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 0.5rem;
}
