<!-- TODO - should remove overlay and css from component to use in parent instead -->

<!-- TODO - should be able to refactor video item to be included here -->
<div style="position: relative; max-width: 854px; margin: auto; width: 100%">
  @if(fileUri(); as uri){
  <resource-share class="share-link" [link]="dbDoc.url" [uri]="uri"></resource-share>
  }

  <!-- Download overlay -->
  <div
    class="download-overlay"
    [style.visibility]="dl.downloadStatus()==='complete' ? 'hidden' : 'visible'"
    [attr.data-file-type]="dbDoc?.subtype || null"
  >
    <div class="mat-elevation-z8; border-radius: 8px;">
      <resource-download
        #dl
        [resource]="resource"
        class="download-button"
        styleVariant="white"
        [size]="36"
        [showSize]="true"
        (downloadStatusChange)="handleDownloadStatusChange(dl)"
      ></resource-download>
    </div>
  </div>

  <!-- send online video Url -->
  @switch (resource.subtype) { @case ('video') {
  <resource-item-video [resource]="resource" [fileURI]="fileUri()"></resource-item-video>

  } @default {
  <resource-item-link [resource]="resourceLink" (click)="handleFileLinkClick($event)" style="height: 100%">
  </resource-item-link>

  } }
</div>
