<!-- TODO - should remove overlay and css from component to use in parent instead -->

<!-- TODO - should be able to refactor video item to be included here -->
<div style="position: relative; max-width: 854px; margin: auto; width: 100%">
  @if(fileURI){
  <resource-share class="share-link" [link]="dbDoc.url" [uri]="fileURI"></resource-share>
  }

  <!-- Download overlay -->
  <div
    class="download-overlay"
    [style.visibility]="attachment ? 'hidden' : 'visible'"
    [attr.data-file-type]="dbDoc?.subtype || null"
  >
    <div class="mat-elevation-z8; border-radius: 8px;">
      <resource-download
        *ngIf="dbDoc"
        [dbDoc]="dbDoc"
        class="download-button"
        styleVariant="white"
        [size]="36"
        [hideOnComplete]="true"
        [showSize]="true"
        (attachmentChange)="handleAttachmentChange($event)"
      ></resource-download>
    </div>
  </div>

  <!-- Add thumbnail status text here, it is only undefined when loading, on failure it would be an empty string  -->
  @if (thumbnail === undefined && resource.subtype === 'video' && !attachment) {
  <div  class="thumbnail-status">loading...</div>
  }

  @switch (resource.subtype) { @case ('video') {
  <resource-item-video [resource]="resource" [generatedThumbnail]="thumbnail" [fileURI]="fileURI"></resource-item-video>

  } @default {
  <resource-item-link [resource]="resourceLink" (click)="handleFileLinkClick($event)" style="height: 100%">
  </resource-item-link>

  } }
</div>
