<div class="page-content">
  <!-- Members List -->
  <h2>Members</h2>
  <picsa-data-table
    [data]="deploymentUsers()"
    [options]="deploymentUserTableOptions"
    [valueTemplates]="{ roles: rolesTemplate }"
    (rowClick)="showUserEditDialog($event)"
  >
    <ng-template #rolesTemplate let-roles>
      <dashboard-user-roles-display [roles]="roles"></dashboard-user-roles-display>
    </ng-template>
  </picsa-data-table>

  <button mat-stroked-button class="mt-3" (click)="dialog.open(addUserDialog)">
    Add User
    <mat-icon>person_add</mat-icon>
  </button>
</div>

<!-- Edit User Dialog -->
<ng-template #userPermissionsDialog>
  <h2 mat-dialog-title class="mb-2">User Permissions</h2>
  <mat-dialog-content>
    @if (editableUser(); as user) {
      <div class="mb-4">
        {{ user.email }}
      </div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Roles</mat-label>
        <mat-select [formControl]="selectedRoles" multiple>
          @for (group of roleGroups(); track group.name) {
            <mat-optgroup [label]="group.name">
              @for (role of group.roles; track role) {
                <mat-option [value]="role">{{ role }}</mat-option>
              }
            </mat-optgroup>
          }
        </mat-select>
      </mat-form-field>

      <div class="flex flex-col gap-2 align-start">
        <button mat-flat-button color="primary" (click)="saveUserRoles()">Save Changes</button>

        <button
          mat-button
          color="warn"
          mat-dialog-close
          (click)="removeUser(user.id)"
          [disabled]="user.roles.includes('admin') || user.roles.includes('deployments.admin')"
        >
          <mat-icon>person_remove</mat-icon>
          Remove User
        </button>
      </div>
    }
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button mat-dialog-close class="mt-2">Cancel</button>
  </mat-dialog-actions>
</ng-template>

<!-- Add User Dialog -->
<ng-template #addUserDialog>
  <h2 mat-dialog-title class="mb-2">Add User</h2>
  <mat-dialog-content>
    <picsa-data-table
      [data]="allUsers()"
      [options]="allUserTableOptions"
      [valueTemplates]="{ isMember: memberTemplate }"
    >
      <ng-template #memberTemplate let-isMember let-row="row">
        <button mat-button [disabled]="isMember" mat-dialog-close (click)="addUser(row)">
          Add
          <mat-icon>person_add</mat-icon>
        </button>
      </ng-template>
    </picsa-data-table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</ng-template>
