<div class="page-content" style="height: calc(100% - 50px)">
  <!-- Optional [@.disabled]="false" to disable animations (note persists through all children elements) -->
  <mat-horizontal-stepper
    #stepper
    style="overflow: auto; margin-bottom: 20px; flex: 1"
    (selectionChange)="stepChange($event)"
  >
    <!-- Activities -->
    <mat-step>
      <ng-template matStepLabel>{{ 'Activities' | translate }}</ng-template>
      <budget-cell-editor-card-select
        [values]="data.activities"
        [cards]="store.budgetCardsByType.activities"
        (valueChanged)="onEditorChange($event, 'activities')"
      >
      </budget-cell-editor-card-select>
      <next-button></next-button>
    </mat-step>
    <!-- Inputs -->
    <mat-step>
      <ng-template matStepLabel>{{ 'Inputs' | translate }}</ng-template>
      <mat-horizontal-stepper #subStepper>
        <mat-step aria-label="Select">
          <ng-template matStepLabel>{{ 'Select' | translate }}</ng-template>
          <budget-cell-editor-card-select
            [values]="data.inputs"
            [cards]="store.budgetCardsByType.inputs"
            (valueChanged)="onEditorChange($event, 'inputs')"
          >
          </budget-cell-editor-card-select>
          <next-button></next-button>
        </mat-step>
        <!-- Input Values -->
        <mat-step aria-label="Values">
          <ng-template matStepLabel>{{ 'Values' | translate }}</ng-template>
          <budget-cell-editor-input-values
            [cards]="data.inputs"
            (valueChanged)="onEditorChange($event, 'inputs')"
          ></budget-cell-editor-input-values>
          <next-button (click)="stepper.next()"></next-button>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-step>

    <!-- Family Labour -->
    <mat-step>
      <ng-template matStepLabel>{{ 'Family' | translate }}</ng-template>
      <budget-cell-editor-family-labour
        [values]="data.familyLabour"
        (valueChanged)="onEditorChange($event, 'familyLabour')"
      ></budget-cell-editor-family-labour>
      <next-button></next-button>
    </mat-step>
    <!-- Outputs -->
    <mat-step>
      <ng-template matStepLabel>{{ 'Outputs' | translate }}</ng-template>
      <mat-horizontal-stepper #subStepper>
        <mat-step>
          <ng-template matStepLabel>{{ 'Select' | translate }}</ng-template>
          <budget-cell-editor-card-select
            [values]="data.outputs"
            [cards]="store.budgetCardsByType.outputs"
            (valueChanged)="onEditorChange($event, 'outputs')"
          >
          </budget-cell-editor-card-select>
          <next-button></next-button>
        </mat-step>
        <!-- Output Values -->
        <mat-step>
          <ng-template matStepLabel>{{ 'Values' | translate }}</ng-template>
          <budget-cell-editor-input-values
            [cards]="data.outputs"
            (valueChanged)="onEditorChange($event, 'outputs')"
          ></budget-cell-editor-input-values>
          <next-button (click)="stepper.next()"></next-button
        ></mat-step>
      </mat-horizontal-stepper>
    </mat-step>
    <!-- Consumed -->
    <mat-step>
      <ng-template matStepLabel>{{ 'Consumed' | translate }}</ng-template>
      <mat-horizontal-stepper #subStepper>
        <mat-step>
          <ng-template matStepLabel>{{ 'Select' | translate }}</ng-template>
          <budget-cell-editor-card-select
            [values]="data.produceConsumed"
            [cards]="store.budgetCardsByType.outputs"
            (valueChanged)="onEditorChange($event, 'produceConsumed')"
          >
          </budget-cell-editor-card-select>
          <next-button></next-button>
        </mat-step>
        <!-- Consumed Values -->
        <mat-step>
          <ng-template matStepLabel>{{ 'Values' | translate }}</ng-template>
          <budget-cell-editor-produce-consumed
            [cards]="data.produceConsumed"
            (valueChanged)="onEditorChange($event, 'produceConsumed')"
          ></budget-cell-editor-produce-consumed>
          <next-button (click)="stepper.next()"></next-button
        ></mat-step>
      </mat-horizontal-stepper>
      <!-- ------------------------------------------------------------------- -->
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{ 'Summary' | translate }}</ng-template>
      <budget-period-summary
        [periodIndex]="store.activePeriod"
      ></budget-period-summary>
      <next-button (click)="goToNextPeriod()"></next-button>
    </mat-step>
  </mat-horizontal-stepper>
</div>
