.icons-container {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  padding: 20px 15px;
  .filter-icons {
    div.icon {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px dotted rgb(197, 192, 192);
      padding: 10px;
      height: 90px;
      width: 80px;
      cursor: pointer;
      background: #fff;
      div.name {
        position: absolute;
        bottom: 6px;
        height: 10%;
        font-size: 12px;
        text-transform: capitalize;
      }
      &[data-selected='true'] {
        background: wheat;
      }
    }

    div.icon.active {
      background-color: #e0e0e0;
    }
  }
}

.mat-icon {
  height: 50px;
  width: 50px;
  font-size: 50px;
}
