$icon-size: 48px;

.icons-container {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  padding: 20px 15px;
}

.filter-icons {
  div.icon {
    text-align: center;
    border: 1px solid var(--color-light);
    padding: 4px;
    height: calc($icon-size + 2rem + 8px);
    width: calc($icon-size + 1rem + 8px);
    cursor: pointer;
    background: #fff;
    div.name {
      // allow up to 2 lines of text with padding
      height: calc(2rem + 4px);
      text-transform: capitalize;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &[data-selected='true'] {
      background: wheat;
    }
  }

  div.icon.active {
    background-color: #e0e0e0;
  }
}

.mat-icon {
  height: $icon-size;
  width: $icon-size;
  font-size: $icon-size;
}
