:host {
  display: contents;
}
.slider-container {
  margin-bottom: 68px; // offset chart title
  margin-top: 30px; // offset chart label padding
  width: 60px;
  text-align: center;
}
#lineToolInputField {
  width: 100%;
  text-align: center;
}
#lineToolSlider {
  height: 100%;
  padding: 0;
}
