:host {
  display: contents;
}
.slider-container {
  padding-bottom: 51px;
  padding-top: 29px;
  width: 60px;
  text-align: center;
}
#lineToolInputField {
  width: 100%;
  text-align: center;
}
#lineToolSlider {
  height: 100%;
  padding: 0;
}
