<div class="slider-container">
  <mat-slider
    *ngIf="ranges"
    [min]="ranges.min"
    [max]="ranges.max"
    [step]="step"
    vertical
    thumbLabel
    [displayWith]="formatThumbValue"
    id="lineToolSlider"
    [(ngModel)]="value"
    (ngModelChange)="setLineToolValue($event)"
  ></mat-slider>

  <mat-form-field
    id="lineToolInputField"
    [style.visibility]="showNumberInput ? 'visible' : 'hidden'"
  >
    <input
      matInput
      id="lineToolInput"
      placeholder="Line"
      [(ngModel)]="value"
      (ngModelChange)="setLineToolValue($event)"
    />
  </mat-form-field>
</div>
