:host {
  display: block;
}
footer {
  background-color: #222;
  color: #ffffffb3;
  @apply text-sm tracking-wide;
}
footer > a {
  --mat-button-text-label-text-color: rgba(255, 255, 255, 0.7);
  --mat-button-text-label-text-size: 14;
}

footer[data-sidebar='true'] {
  background-color: unset;
  color: unset;
  a {
    --mat-button-text-label-text-color: unset;
  }
}
