<div class="page-content no-padding">
  <div style="flex: 1; z-index: 1">
    <picsa-map
      (onMapReady)="onMapReady($event)"
      (onMarkerClick)="onMarkerClick($event)"
      [mapOptions]="mapOptions"
      [basemapOptions]="basemapOptions"
      #picsaMap
    ></picsa-map>
  </div>
  <button
    (click)="goToSite(activeStation)"
    mat-raised-button
    color="primary"
    *ngIf="activeStation"
    id="siteButton"
  >
    <span id="siteButtonText">{{ activeStation.name }}</span>
    <mat-icon iconPositionEnd>arrow_forward</mat-icon>
  </button>
</div>
