:host {
  display: contents;
}
.table-container {
  @apply flex flex-1 flex-col overflow-auto;
  // hide on smaller screens during map view
  &[data-view='map'] {
    @apply hidden md:flex;
  }
}
.map-container {
  @apply flex-1 relative;
  // hide on smaller screens during table view
  &[data-view='list'] {
    @apply hidden md:block;
  }
}
.view-toggle {
  @apply absolute right-2 top-2 z-10 h-10 md:!hidden text-primary  bg-white;
}
.site-select-container {
  @apply absolute bottom-8 w-full z-10 flex;

  & > button {
    @apply m-auto text-2xl shadow-2xl h-16 w-full max-w-96;
  }
}
