<div class="page">
  <div class="top-bar" style="display: flex; justify-content: space-between">
    <language-select></language-select>
    <div class="version-info">
      <div style="font-weight: bold">v{{ version.number }}</div>
      <div>{{ version.date }}</div>
    </div>
  </div>
  <!-- <div>
    <div class="title" data-cy="title">{{ 'PICSA' | translate }}</div>
    <div class="subtitle">{{ subtitle | translate }}</div>
  </div> -->
  <div class="page-content background-image">
    <mat-grid-list [cols]="columns">
      <mat-grid-tile
        *ngFor="let link of links"
        [colspan]="link.cols"
        [rowspan]="link.rows"
        data-cy="link"
        class="grid-tile"
      >
        <div style="text-align: center">
          <mat-icon [svgIcon]="link.icon" class="nav-icon"></mat-icon>
          <div class="button-text">{{ link.name | translate }}</div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
