<div class="page" *mobxAutorun>
  <h1 class="inverted">PICSA</h1>
  <div class="page-content background-image">
    <mat-grid-list [cols]="columns" style="flex:1">
      <mat-grid-tile
        *ngFor="let link of links"
        [colspan]="link.cols"
        [rowspan]="link.rows"
        data-cy="link"
        class="grid-tile"
        (click)="linkClicked(link)"
      >
        <div style="text-align: center">
          <mat-icon [svgIcon]="link.icon" class="nav-icon"></mat-icon>
          <div class="nav-text">{{ link.name | translate }}</div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <footer>
    <language-select
      [language]="store.language"
      (onlanguageSelected)="setLanguage($event.code)"
    ></language-select>
    <div class="version-info">v{{ version.number }}</div>
  </footer>
</div>
