<form [formGroup]="form">
  <h2>{{ 'Calender name' | translate }}</h2>

  <!-- Name -->
  <mat-form-field>
    <mat-label>{{ 'Name' | translate }}</mat-label>
    <input matInput formControlName="name" [placeholder]="'Example Calendar' | translate" />
    <mat-error>{{ 'Please add the calender title' | translate }}</mat-error>
  </mat-form-field>

  <!-- Crops -->
  <h2>{{ 'Season Crops' | translate }}</h2>
  <picsa-form-crop-select [formControl]="metaFormControls.crops"></picsa-form-crop-select>
  @if(metaFormControls.crops.touched && metaFormControls.crops.errors){
  <mat-error>{{ 'Please select at least 1 crop' | translate }}</mat-error>
  }

  <!-- Months generators -->
  <div>
    <h2>{{ 'Calendar Time' | translate }}</h2>
    <div class="calender-box">
      <mat-form-field>
        <mat-label>{{ 'Start Month ' | translate }} :</mat-label>
        <mat-select id="startMonth" [formControl]="monthForm.controls.startIndex">
          <mat-option *ngFor="let month of monthOptions; index as i" [value]="i">{{
            month.label | translate
          }}</mat-option>
        </mat-select>
        <mat-error>{{ 'Please enter start month' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'Number of Months' | translate }}</mat-label>
        <input matInput type="number" [formControl]="monthForm.controls.totalCount" />
        <mat-error>{{ 'Please enter total months' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div class="calendar-summary">
      @for (month of monthLabels; track $index) {
      <div>{{ month | translate }}</div>
      }
    </div>
  </div>
</form>
