.calendar-summary {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  & > div {
    padding: 8px;
    border-radius: 4px;
    width: 80px;
    background: var(--color-light);
    height: 40px;
  }
}
.calender-box {
  display: flex;
  gap: 2rem;
}
mat-form-field {
  width: 100%;
  max-width: 350px;
  flex: 1;
}
