<div class="page-content">
  <div class="pdf-container slide-in" [class.active]="page">
    <picsa-pdf-viewer [page]="page" [src]="pdfSrc" *ngIf="pdfSrc">
      <back-button style="margin-right: 8px"></back-button>
    </picsa-pdf-viewer>
  </div>

  <mat-tab-group dynamicHeight [selectedIndex]="initialTabIndex" (selectedIndexChange)="setSelectedTab($event)">
    <!-- Extension version -->
    <mat-tab [label]="'Extension' | translate">
      <picsa-alert-box *ngIf="downloadPrompt.show" type="info" [title]="downloadPrompt.title">
        <picsa-resource-item
          [resource]="downloadPrompt.resource"
          (downloadComplete)="handleManualDownloaded($event)"
          [openAfterDownload]="false"
        ></picsa-resource-item>
      </picsa-alert-box>
      <picsa-manual-steps-container
        *ngIf="pdfSrc"
        [pageMapping]="localisation"
        [stepData]="contents.extension"
      ></picsa-manual-steps-container>
    </mat-tab>
    <!-- Farmer Version -->
    <mat-tab [label]="'Farmer' | translate">
      <div class="mat-elevation-z4">
        <picsa-alert-box *ngIf="downloadPrompt.show" type="info" [title]="downloadPrompt.title">
          <picsa-resource-item
            [resource]="downloadPrompt.resource"
            (downloadComplete)="handleManualDownloaded($event)"
            [openAfterDownload]="false"
          ></picsa-resource-item>
        </picsa-alert-box>
        <picsa-manual-steps-container
          *ngIf="pdfSrc"
          [pageMapping]="localisation"
          [stepData]="contents.farmer"
        ></picsa-manual-steps-container>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
