:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'chart'
    'desc'
    'prob';
  grid-template-rows: minmax(400px, 60vh) auto auto;

  &.has-line-tool {
    grid-template-columns: 60px 1fr;
    grid-template-areas:
      'line chart'
      'blank  desc'
      'prob prob';
  }
}

climate-line-tool {
  grid-area: line;
  // offset chart title/dates with padding to line up
  padding-top: 29px;
  padding-bottom: 17px;
}

picsa-chart {
  grid-area: chart;
  margin-right: 3rem;
  overflow: auto;
  min-width: 500px;
}

.chart-definition {
  grid-area: desc;
  font-size: small;
  font-style: italic;
  margin: 1rem 2rem;
  text-align: center;
}
climate-probability-tool {
  grid-area: prob;
}
