<!-- line tool -->
@if (toolService.enabled['line']) {
<climate-line-tool #lineTool></climate-line-tool>
}
<!-- chart -->
<picsa-chart #picsaChart [config]="chartService.chartConfig" [data]="$any(chartService.stationData)"></picsa-chart>
<!-- definition -->
<div class="chart-definition">{{definition.definition | translate}}</div>
<!-- probability tool -->
@if (toolService.enabled['line']) {
<climate-probability-tool
  style="height: 140px"
  [lineValue]="$any(toolService.tools['line'].value)"
  [values]="chartService.chartSeriesData"
  [chartName]="definition.name"
></climate-probability-tool>
}
<!-- terciles tool -->
@if (toolService.enabled['terciles']) {
<climate-terciles-tool [values]="chartService.chartSeriesData"></climate-terciles-tool>
}
