<mat-card appearance="raised" style="margin-bottom: 10px; padding: 16px; cursor: pointer">
  <div style="display: flex">
    <budget-card-image class="small" [card]="budget.meta.enterprise"></budget-card-image>
    <div style="flex: 1">
      <mat-card-title>{{ budget.meta.title }}</mat-card-title>
      <mat-card-content>{{ budget.meta.description }}</mat-card-content>
      <mat-card-subtitle>{{ budget._created | date }}</mat-card-subtitle>
    </div>
    <budget-summary style="width: 150px" [budgetData]="budget.data" style="margin-bottom: 1.2rem"></budget-summary>
    <button
      mat-icon-button
      [matMenuTriggerFor]="budgetMenu"
      (click)="menuClick($event)"
      style="height: 70px; width: 50px"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #budgetMenu="matMenu">
      <button mat-menu-item aria-label="Copy" (click)="showCopyDialog()"><mat-icon>content_copy</mat-icon>Copy</button>
      <button mat-menu-item aria-label="Edit" (click)="showRenameDialog()"><mat-icon>edit</mat-icon>Rename</button>
      <button mat-menu-item aria-label="Delete" color="light" (click)="handleDeleteClicked($event)">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </mat-menu>
  </div>
</mat-card>
