<form class="page-content" [formGroup]="form">
  <h2>{{ 'Calender name' | translate }}</h2>
  <mat-form-field>
    <mat-label>{{ 'Name' | translate }}</mat-label>
    <input matInput formControlName="name" [placeholder]="'Example Calendar' | translate" />
    <mat-error>{{ 'Please add the calender title' | translate }}</mat-error>
  </mat-form-field>

  <!-- Crops -->
  <h2>{{ 'Season Crops' | translate }}</h2>
  <picsa-form-crop-select formControlName="crops"></picsa-form-crop-select>
  @if(form.controls.crops.touched && form.controls.crops.errors){
  <mat-error>{{ 'Please select at least 1 crop' | translate }}</mat-error>
  }

  <!-- Calendar Time -->
  <div>
    <h2>{{ 'Calendar Time' | translate }}</h2>
    <div class="calender-box">
      <mat-form-field>
        <mat-label>{{ 'Start Month ' | translate }} :</mat-label>
        <mat-select id="startMonth" #monthSelect (change)="setTimePeriod(monthSelect.value, totalMonths.value)">
          <mat-option *ngFor="let month of months; index as i" [value]="i">{{ month.label | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <mat-form-field>
          <mat-label>{{ 'Number of Months' | translate }}</mat-label>
          <input
            matInput
            type="number"
            #totalMonths
            (change)="setTimePeriod(monthSelect.value, totalMonths.value)"
            [value]="formValue.timeAndConditions.length || ''"
            min="1"
            max="12"
            [formNoValidate]=""
          />
        </mat-form-field>
        <!-- error message outside form field as not bound to specific controller but more a general error -->
        @if(form.controls.timeAndConditions.touched && form.controls.timeAndConditions.errors){
        <mat-error>{{ 'Please enter the required number of months' | translate }}</mat-error>
        }
      </div>
    </div>

    <h2>{{ 'Weather' | translate }}</h2>
    <div class="monthsGrid" formArrayName="timeAndConditions">
      <!-- Loop over nested time and conditions forms -->
      @for (childForm of form.controls.timeAndConditions.controls; track $index) {
      <div class="month" [formGroup]="childForm">
        <mat-form-field>
          <mat-label>{{ childForm.controls.month.value | translate }}</mat-label>
          <input matInput [placeholder]="'wet,dry...' | translate" type="text" formControlName="weather" />
          <mat-error>{{ 'Please enter the weather' | translate }}</mat-error>
        </mat-form-field>
      </div>
      }
    </div>
  </div>
  <div class="submit-button">
    <button class="" mat-button mat-raised-button (click)="onSubmition()" color="primary">
      {{ 'Create calender ' | translate }}
    </button>
  </div>
</form>
