.calender-box {
  display: flex;
  gap: 2rem;
}

.monthsGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
}
.submit-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
