budget-cell {
  .budget-cell-container {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
  .add-cell-data {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  .add-cell-data-icon {
    font-size: 36px;
    color: var(--ion-color-primary);
    opacity: 0.3;
  }
  .badge {
    position: relative;
    left: -10px;
    height: calc(1em + 6px);
    padding: 3px 5px;
    border-radius: 50%;
    z-index: 2;
  }
  .consumed-badge {
    background-color: #5062bd;
    color: rgba(255, 255, 255, 0.9);
  }
  .output-badge {
    background-color: #bc9b06;
    color: rgba(255, 255, 255, 0.9);
  }
}
