:host {
  display: block;
  max-width: 200px;
}
.error-message {
  color: var(--color-warn);
}
mat-icon {
  overflow: visible;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

button.chip-button {
  padding: 0;
  margin-bottom: 4px;
  border: 1px solid;
  height: auto;

  .chip-icon {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chip-text {
    margin-left: 32px;
    padding: 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
.filename {
  word-break: break-word;
}

// Colors used for different filetypes
$color-file-document: hsl(230, 40%, 40%);
$color-file-video: hsl(0, 70%, 60%);
$color-file-image: hsl(150, 60%, 40%);
$color-file-audio: hsl(300, 60%, 40%);

.filetype-icon {
  color: var(--color-primary);
  &[data-icon='description'] {
    color: $color-file-document;
  }
  &[data-icon='smart_display'] {
    color: $color-file-video;
  }
  &[data-icon='image'] {
    color: $color-file-image;
  }
  &[data-icon='music_note'] {
    color: $color-file-audio;
  }
}

.filetype-icon.inverted {
  color: white;
  background: var(--color-primary);
  &[data-icon='description'] {
    background: $color-file-document;
  }
  &[data-icon='smart_display'] {
    background: $color-file-video;
  }
  &[data-icon='image'] {
    background: $color-file-image;
  }
  &[data-icon='music_note'] {
    background: $color-file-audio;
  }
}
