<div class="page-content" style="align-items: center">
  <form [formGroup]="languageForm" style="width: 100%; max-width: 500px">
    <mat-stepper style="width: 100%" animationDuration="750" linear>
      <!-- Language Select -->
      <mat-step label="Language" state="language" [stepControl]="languageForm">
        <h2>{{ 'Choose language' | translate }}</h2>
        <div class="language-select-container">
          @for(option of languageOptions; track option.id){
          <button mat-button class="language-select-button" (click)="setLanguage(option)">
            <div style="display: flex; align-items: center; gap: 8px">
              <mat-radio-button
                color="primary"
                [checked]="languageForm.value.language_code === option.id"
              ></mat-radio-button>
              <img class="flag-icon" [src]="option.flag_path" />
              <div style="margin-left: 8px">
                <div>{{ option.language_label }}</div>
                @if(option.country_label){
                <div style="font-size: 14px">{{ option.country_label }}</div>
                }
              </div>
            </div>
          </button>
          }
        </div>
      </mat-step>

      <!-- User Type -->
      <mat-step label="User" state="user" [stepControl]="userTypeForm">
        <h2>{{ 'What best describes you?' | translate }}</h2>
        <div class="language-select-container">
          <button mat-button class="language-select-button" (click)="setUserType('farmer')">
            <div style="display: flex; align-items: center; gap: 8px">
              <mat-radio-button
                color="primary"
                [checked]="userTypeForm.value.user_type === 'farmer'"
              ></mat-radio-button>
              <span>{{ "I'm a farmer" | translate }}</span>
            </div>
          </button>
          <button mat-button class="language-select-button" (click)="setUserType('extension')">
            <div style="display: flex; align-items: center; gap: 8px">
              <mat-radio-button
                color="primary"
                [checked]="userTypeForm.value.user_type === 'extension'"
              ></mat-radio-button>
              <span>{{ "I'm an extension worker" | translate }}</span>
            </div>
          </button>
        </div>
      </mat-step>

      <!-- Icon overrides. -->
      <ng-template matStepperIcon="language">
        <mat-icon>translate</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="user">
        <mat-icon>person</mat-icon>
      </ng-template>
    </mat-stepper>
  </form>
</div>
