:host {
  display: contents;
}
h2 {
  text-align: center;
}
.language-select-container {
  display: grid;
  grid-auto-rows: 64px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
button.language-select-button {
  background: var(--color-primary-50);
  height: 100%;
  font-size: 16px;
  color: var(--color-primary-950);
  padding: 8px;
}
.flag-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
