<div class="page-content">
  <h2>Crop Details</h2>
  <form class="form-content" [formGroup]="entryForm" (ngSubmit)="submitForm()">
    <div class="flex justify-evenly">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Crop</mat-label>
        <input matInput formControlName="crop" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Variety</mat-label>
        <input matInput formControlName="variety" />
      </mat-form-field>
    </div>
    <div class="flex justify-evenly">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label for="days_lower">Maturity Period</mat-label>
        <mat-select formControlName="maturity_period">
          <mat-option value="early">Early</mat-option>
          <mat-option value="medium">Medium</mat-option>
          <mat-option value="late">Late</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label for="days_lower">Days Lower</mat-label>
        <input matInput id="days_lower" type="number" formControlName="days_lower" />
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label for="days_upper">Days Upper</mat-label>
        <input matInput id="days_upper" type="number" formControlName="days_upper" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label for="days_upper">Additional Information</mat-label>
        <textarea matInput id="days_upper" type="number" formControlName="additional_info"></textarea>
      </mat-form-field>
    </div>

    <button
      mat-raised-button
      color="primary"
      class="submitButton"
      type="submit"
      [disabled]="!entryForm.valid || entryForm.pristine"
    >
      Submit
    </button>
  </form>
  @if(entryForm.value.id){
  <button mat-button style="margin-top: 3rem; margin-left: auto" (click)="dialog.open(deleteDialog)">
    <mat-icon>delete</mat-icon>
    Delete
  </button>
  }
</div>

<ng-template #deleteDialog>
  <h2 mat-dialog-title style="margin-bottom: 2rem; font-size: 1.5rem">Delete Entry</h2>
  <mat-dialog-content>
    Are you sure you want to delete this variety?<br />
    <b>This action cannot be undone</b>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" (click)="handleDelete()" cdkFocusInitial>Delete</button>
  </mat-dialog-actions>
</ng-template>
