.editor-popup {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 100vh;
  left: 0;
  display: flex;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
}

.slide-in.active {
  transform: translateY(-100vh);
}
