<div class="page-content" *mobxAutorun>
  <div class="header-buttons">
    <button mat-button *ngIf="!isEditorOpen" aria-label="Share" (click)="showShareDialog()">
      <mat-icon>share</mat-icon>{{'Share' | translate }}
    </button>
  </div>

  <!-- hide overflow so that editor can be stored outside bottom of page -->
  <div class="page-content" style="overflow-y: hidden; overflow-x: auto; padding: 0">
    <budget-table *ngIf="store.activeBudget" [budget]="store.activeBudget" @fadeInOut></budget-table>
    <!-- <budget-cell-editor
      *ngIf="store.activeType && store.activeBudget && store.activeBudget.data"
      [activePeriod]="store.activePeriod"
      [activeType]="store.activeType"
      [isOpen]="isEditorOpen"
      [@flyInOut]="isEditorOpen ? 'in' : 'out'"
    ></budget-cell-editor> -->
    <!-- WiP Updated editor (replaces ABOVE) -->
    <budget-editor
      *ngIf="store.activeType && store.activeBudget && store.activeBudget.data"
      [activePeriod]="store.activePeriod"
      [activeType]="store.activeType"
      [@flyInOut]="isEditorOpen ? 'in' : 'out'"
      (handleNextClick)="handleEditorNext()"
    ></budget-editor>
  </div>

  <!-- Header Menu -->
  <!-- <button
      mat-icon-button
      [matMenuTriggerFor]="budgetMenu"
      style="height: 70px; width:50px"
      *ngIf="!isEditorOpen"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #budgetMenu="matMenu">
      <button mat-menu-item aria-label="Share" (click)="showShareDialog()">
        <mat-icon>share</mat-icon>Share
      </button>
    </mat-menu> -->
</div>
