:host {
  display: contents;
}

.editor-popup {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide-in {
  transform: translateY(100vh);
}

.slide-in.active {
  transform: translateY(0);
}
