<div class="page-content" style="padding: 0">
  <mat-tab-group
    (selectedTabChange)="handleTabChange($event)"
    class="height-fill"
    style="width: 100%; flex: 1"
    headerPosition="below"
    preserveContent
    *ngIf="activity"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">slideshow</mat-icon>
        {{ 'Intro' | translate }}
      </ng-template>
      <div class="tab-content">
        <!-- HACK - ordinarily resource item will also handle video playback but use separated player
        to allow custom pause handling on tab change -->
        <resource-item-file
          *ngIf="videoResource"
          [resource]="videoResource"
          (attachmentChange)="handleResourceAttachmentChange($event.uri)"
        ></resource-item-file>
        <h2 *ngIf="videoUri">{{ videoResource.title | translate }}</h2>
        <p>
          {{ 'In this video you will learn about the PICSA step:' | translate }}
          {{ activity!.label | translate }}
        </p>
        <p>{{ 'After watching continue to the activity' | translate }}</p>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">edit_square</mat-icon>
        {{ 'Activity' | translate }}
      </ng-template>
      <div class="tab-content">Coming soon...</div>
    </mat-tab>

    <mat-tab *ngIf="activity.tool">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">smartphone</mat-icon>
        {{ 'Tool' | translate }}
      </ng-template>
      <div class="tab-content router-tab">
        <div class="page">
          <router-outlet #toolRouter class="tool-router"></router-outlet>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <!--  -->
</div>
