<div class="page-content" style="padding: 0">
  <mat-tab-group
    (selectedTabChange)="handleTabChange()"
    class="height-fill"
    style="width: 100%; flex: 1"
    headerPosition="below"
    preserveContent
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">slideshow</mat-icon>
        {{ 'Intro' | translate }}
      </ng-template>
      <div class="tab-content">
        <picsa-video-player
          #videoPlayer
          *ngIf="activity?.video"
          [source]="activity?.video"
          style="margin-top: 1rem"
        ></picsa-video-player>
        <p>
          {{ 'In this video you will learn about the PICSA step:' | translate }}
          {{ activity!.label | translate }}
        </p>
        <p>{{ 'After watching continue to the activity' | translate }}</p>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">edit_square</mat-icon>
        Activity
      </ng-template>
      <div class="tab-content">Content 2</div>
    </mat-tab>

    <mat-tab *ngIf="activity.tool">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">smartphone</mat-icon>
        Tool
      </ng-template>
      <div class="tab-content">Content 3</div>
    </mat-tab>
  </mat-tab-group>
  <!-- 
  <div class="svg-row">
    <div class="svg-item">
      <mat-icon class="row-mat-icon" color="primary" svgIcon="picsa_manual_info"></mat-icon>
      <div>{{ 'Info Sheet' | translate }}</div>
    </div>
    <div class="svg-item">
      <mat-icon class="row-mat-icon" color="primary" svgIcon="picsa_manual_create"></mat-icon>
      <div>{{ 'Create' | translate }}</div>
    </div>
    <div class="svg-item">
      <mat-icon class="row-mat-icon" color="primary" svgIcon="picsa_manual_quiz"></mat-icon>
      <div>{{ 'Quiz' | translate }}</div>
    </div>
  </div> -->
</div>
