.tab-icon {
  margin-right: 4px;
}

.tab-content {
  padding: 16px;
}
// Force child-router tab to fill screen and provide page region
.tab-content.router-tab {
  padding: 0;
  height: calc(100% - 32px);
  // background: yellow;
  display: flex;
  flex-direction: column;
  // Some styles also inherited from main .page
  .page {
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    max-height: calc(100vh - 104px);
  }
}
