<div class="page-content" style="padding: 0">
  <mat-tab-group
    (selectedTabChange)="handleTabChange($event)"
    class="height-fill"
    style="width: 100%; flex: 1"
    headerPosition="below"
    preserveContent
    *ngIf="activity"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">slideshow</mat-icon>
        {{ 'Intro' | translate }}
      </ng-template>
      <div class="tab-content">
        <picsa-video-player
          #videoPlayer
          *ngIf="activity.video"
          [source]="activity.video"
          style="margin-top: 1rem"
        ></picsa-video-player>
        <p>
          {{ 'In this video you will learn about the PICSA step:' | translate }}
          {{ activity!.label | translate }}
        </p>
        <p>{{ 'After watching continue to the activity' | translate }}</p>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">edit_square</mat-icon>
        Activity
      </ng-template>
      <div class="tab-content">(TODO)</div>
    </mat-tab>

    <mat-tab *ngIf="activity.tool">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">smartphone</mat-icon>
        Tool
      </ng-template>
      <div class="tab-content router-tab">
        <div class="page">
          <router-outlet #toolRouter class="tool-router"></router-outlet>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
