.chart-select-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  z-index: 2;
}
.chart-thumb-img {
  object-fit: cover;
  opacity: 0.5;
  padding: 2px;
  width: 100%;
  height: 100%;
  filter: grayscale(0.5);
}
.chart-thumb-img.active {
  opacity: 1;
  filter: grayscale(0);
}
.chart-thumb-card {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
}
.chart-thumb-card.active {
  transform: scale(1.05);
}
