<climate-print-layout *ngIf="chartService.chartPng"></climate-print-layout>

<div class="page-content">
  <picsa-sidenav-layout #snav>
    <button desktopHeader mat-button color="primary" (click)="showShareDialog()">
      <mat-icon>share</mat-icon>{{ 'Share' | translate }}
    </button>
    <button mobileHeader mat-button color="primary" (click)="showShareDialog()">
      <mat-icon>share</mat-icon>{{ 'Share' | translate }}
    </button>
    <climate-chart-options sidenav></climate-chart-options>
    <climate-chart-layout
      content
      *ngIf="chartService.chartDefinition && chartService.station"
      style="flex: 1"
      [definition]="chartService.chartDefinition"
    ></climate-chart-layout>
  </picsa-sidenav-layout>

  <!-- Main content -->

  <!-- reports -->
  <!-- <div *ngIf="activeView === 'cropAnalysis'" style="flex: 1">
        <climate-crop-analysis></climate-crop-analysis>
      </div> -->
  <!-- <climate-combined-probability></climate-combined-probability> -->
</div>

<picsa-animation
  name="rotate-phone"
  *ngIf="showRotateAnimation"
  [loops]="2"
  position="float"
  [delay]="2000"
></picsa-animation>
