:host {
  display: contents;
}
// ************************************************************
//  Table - General
// ************************************************************

table {
  border-collapse: collapse;
}

th {
  border-right: 1px solid var(--color-light);
  border-left: 1px solid var(--color-light);
  border-bottom: none;
  padding: 8px;
}
th.subheader {
  border-bottom: 2px solid var(--color-primary);
}
th:first-of-type {
  border-left: none;
}
th:last-of-type {
  border-right: none;
}
tr#subheaderRow {
  height: 36px;
}
td {
  vertical-align: top;
}
td.mdc-data-table__cell {
  padding: 8px;
}
// ************************************************************
//  Editor - Popup
// ************************************************************
.HideOverflow {
  overflow-y: hidden;
}
.editor-popup {
  position: fixed;
  z-index: 2;
  height: 100%;
  top: 0;
  left: 0;
}
.editor-container {
  height: 100%;
  max-height: 750px;
  background-color: white;
  overflow: auto;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  margin: 1rem;
  z-index: 2;
  position: absolute;
  top: 2.5rem;
  left: 1rem;
  width: calc(100vw - 4rem);
}
.slide-in {
  transition: transform 0.3s ease-in-out;
  transform: translateY(100vh);
}
.slide-in.active {
  transform: translateY(0);
}
.blurBackground {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}

// ************************************************************
//  Table Value - Performance
// ************************************************************
td.performance-td.mdc-data-table__cell {
  padding: 8px 0;
}
.performance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-mdc-header-cell {
  border-top: none;
  &.subheader {
    padding: 0;
    height: 100%;
  }
}
.performance-subheader {
  mat-icon {
    padding: 0 4px;
    height: 100%;
    max-width: 48px;
    margin: auto;
  }
  mat-icon:nth-of-type(even) {
    border-left: 1px solid var(--color-light);
    border-right: 1px solid var(--color-light);
  }
}
//
td.split-values,
th.split-values {
  padding: 8px 0;
  div {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  div > * {
    flex: 1;
    text-align: center;
  }
}

// ************************************************************
//  Table Value - To Sort
// ************************************************************

.Gender-Display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.gender-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button-margin {
  margin-left: 1300px;
}
