table {
  border-collapse: collapse;
}

th {
  border: 1px solid black;
  padding: 8px;
}
td {
  vertical-align: top;
}
td.mdc-data-table__cell {
  padding: 8px;
}

.HomeContainer {
  height: 100vh;
}

.blurBackground {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 10;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}

.HideOverflow {
  overflow-y: hidden;
}

.container {
  position: relative;
  height: 80vh;
  overflow: auto;
  background-color: #fff;
  width: 95%;
  z-index: 20;
  justify-content: center;
  display: flex;
  padding-top: 2rem;
  top: 30px;
  left: 35px;
  right: 25px;
}

.buttonposition {
  position: absolute;
  right: 20px;
  top: 20px;
}

.slide-in {
  position: absolute;
  bottom: 0;
  display: none;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
}

.slide-in.active {
  transform: translateY(0);
  display: block;
}

.benefit-container {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}
