:host {
  display: flex;
  align-items: center;
  margin: 4px 0;
}
mat-icon {
  &[data-gender='female'] {
    color: #800080;
  }
  &[data-gender='male'] {
    color: #008066;
  }
}

.gender-label {
  text-transform: capitalize;
}
