<!-- export menu -->
<div style="text-align: right">
  <button mat-button (click)="showAdvancedOptions()" [disabled]="isExporting">
    <mat-icon svgIcon="picsa_controls"></mat-icon>
    {{ isExporting ? 'Preparing...' : ('Options' | translate) }}
  </button>
</div>

<div style="display: flex; margin-bottom: 2em">
  <!-- line tool -->
  <div class="slider-container">
    <mat-slider
      *ngIf="ranges"
      [min]="ranges.yMin"
      [max]="ranges.yMax"
      [step]="chartMeta.yMinor"
      vertical
      thumbLabel
      [displayWith]="formatLineToolValue"
      id="lineToolSlider"
      [(ngModel)]="lineToolValue"
      (ngModelChange)="setLineToolValue($event)"
    ></mat-slider>
    <mat-form-field
      id="lineToolInputField"
      [style.visibility]="chartMeta.yFormat === 'value' ? 'visible' : 'hidden'"
    >
      <input
        matInput
        id="lineToolInput"
        placeholder="Line"
        [(ngModel)]="lineToolValue"
        (ngModelChange)="setLineToolValue($event)"
      />
    </mat-form-field>
  </div>
  <div class="chart-container">
    <!-- chart -->
    <picsa-chart
      #picsaChart
      [config]="chartConfig"
      [data]="$any(chartData)"
    ></picsa-chart>
  </div>
</div>
<!-- probability tool -->
<climate-probability-tool
  *ngIf="lineToolValue"
  [x]="lineToolValue"
  [values]="y1Values"
  [chartName]="chartMeta.name"
  [reverseProbabilities]="reverseLineTool"
></climate-probability-tool>
