:host {
  display: flex;
  flex-direction: column;
}
picsa-chart {
  margin-right: 3rem;
  flex: 1;
  overflow: auto;
  min-width: 500px;
  min-height: 400px;
}

.chart-definition {
  font-size: small;
  font-style: italic;
  margin: 1rem 2rem;
  text-align: center;
}
.chart-tool-container {
  flex: 1;
  display: flex;
  margin-bottom: 1rem;
  flex: 1;
}
