<div style="display: flex; margin-bottom: 2em">
  <!-- line tool -->
  <climate-line-tool
    #lineTool
    [display]="definition.yFormat === 'value' ? 'number' : 'date'"
    [step]="definition.yMinor"
    (valueChange)="handleLineToolChange($event)"
  ></climate-line-tool>
  <div class="chart-container">
    <!-- chart -->
    <picsa-chart
      #picsaChart
      [config]="chartConfig"
      [data]="$any(data)"
    ></picsa-chart>
  </div>
</div>
<!-- probability tool -->
<climate-probability-tool
  *ngIf="lineTool.value"
  [x]="lineTool.value"
  [values]="y1Values"
  [chartName]="definition.name"
  [reverseProbabilities]="reverseLineTool"
></climate-probability-tool>
