.slider-container {
  padding-bottom: 50px;
  padding-top: 30px;
  width: 60px;
  text-align: center;
}
.chart-container {
  flex: 1;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.chart-definition {
  font-size: small;
  font-style: italic;
  margin-top: 1rem;
  margin-left: 2rem;
  text-align: center;
}
#lineToolInputField {
  width: 100%;
  text-align: center;
}
#lineToolInput {
}
#lineToolSlider {
  height: 100%;
  padding: 0;
}
