<div style="display: flex; margin-bottom: 2em">
  <!-- line tool -->
  <climate-line-tool
    #lineTool
    [definition]="definition"
    [chartConfig]="chartConfig"
    (valueChange)="handleLineToolChange($event)"
  ></climate-line-tool>
  <div class="chart-container">
    <!-- chart -->
    <picsa-chart
      #picsaChart
      [config]="chartConfig"
      [data]="$any(data)"
    ></picsa-chart>
  </div>
</div>
<div class="chart-definition" #chartDefinition>
  {{definition.definition | translate}}
</div>
<!-- probability tool -->
<climate-probability-tool
  *ngIf="lineTool.value"
  [x]="lineTool.value"
  [values]="y1Values"
  [chartName]="definition.name"
  [reverseProbabilities]="definition.linetool?.reverse ? true : false"
></climate-probability-tool>
