<div class="page-content">
  <div class="page-columns">
    <div class="content-container">
      <div style="display: flex; align-items: center">
        <h2 style="flex: 1">{{ 'Collections' | translate }}</h2>
        <button mat-stroked-button color="primary" routerLink="search" style="margin-right: 1rem">
          <mat-icon>search</mat-icon>
          {{ 'Search' | translate }}
        </button>
        <button mat-stroked-button color="primary" class="downloads-button" routerLink="downloads">
          <mat-icon>download</mat-icon>
          {{ 'Manage Downloads' | translate }}
        </button>
      </div>
      <div class="list-container">
        @for(collection of collections; track collection.id){
        <resource-item-collection [collection]="collection"> </resource-item-collection>
        }
      </div>
    </div>
  </div>
</div>
