.page-columns {
  display: flex;
  flex-wrap: wrap;
}
.search-container {
  min-width: 320px;
}
.content-container {
  flex: 1;
  min-width: 320px;
  max-width: 1280px;
}
.list-container {
  display: grid;
  column-gap: 1em;
  row-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

// .video-resource-container {
//   display: none;
//   position: fixed;
//   z-index: 1;
//   padding-top: 100px;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   overflow: auto;
//   background-color: rgba(0, 0, 0, 0.7);
// }
// .video-resource-content {
//   position: relative;
//   margin: auto;
//   padding: 0;
//   width: 90%;
//   max-width: 1200px;
//   text-align: center;
// }
// .video-close-button {
//   color: white;
//   text-align: right;
//   top: -25px;
//   right: 25px;
//   font-size: 35px;
//   font-weight: bold;
//   button {
//     margin-right: 0;
//   }
// }
