<div class="page-content">
  <div class="page-columns" *mobxAutorun>
    <!-- <div class="search-container">
      <h2>Search</h2>
    </div> -->
    <div class="content-container">
      <h2>Collections</h2>
      <div class="list-container">
        <resource-item-collection
          *ngFor="let collection of store.collections"
          trackBy:collection.__key
          [collection]="collection"
          viewStyle="summary"
        >
        </resource-item-collection>
      </div>
    </div>
  </div>
</div>
