<div class="page-content">
  <div class="page-columns" *mobxAutorun>
    <div class="content-container">
     
      <div style="display: flex; align-items: center">
        <h2 style="flex: 1">{{ 'Collections' | translate }}</h2>
        <button mat-stroked-button color="primary" class="search-button" routerLink="search" >
          <mat-icon>search</mat-icon>
          {{'Search'}}
        </button>
        <button mat-stroked-button color="primary" class="downloads-button" routerLink="downloads">
          <mat-icon>download</mat-icon>
          {{ 'Manage Downloads' | translate }}
        </button>
      </div>
      <div class="list-container">
        <resource-item-collection
          *ngFor="let collection of collections"
          trackBy:collectionLink.id
          [collection]="collection"
        >
        </resource-item-collection>
      </div>
    </div>
  </div>
</div>
