<div padding class="budget-load-container">
  <h2>{{ "Saved Budgets" | translate }}</h2>
  <div class="saved-budgets-container">
    <ion-list *ngIf="savedBudgets">
      <div *ngFor="let budget of savedBudgets">
        <ion-item *ngIf="!budget.archived">
          <div class="saved-budget" style="display:flex">
            <div
              class="saved-details"
              (click)="loadBudget(budget)"
              style="flex-basis:100%"
            >
              <div>{{ budget.title }}</div>
              <div>{{ budget.created | date: "mediumDate" }}</div>
            </div>
            <ion-button
              (click)="archiveBudget(budget)"
              icon-only
              fill="clear"
              color="danger"
            >
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </div>
      <div *ngIf="showArchived">
        <ion-list-header *ngIf="showArchived"
          ><ion-label>{{
            "Archived Budgets" | translate
          }}</ion-label></ion-list-header
        >
        <div *ngFor="let budget of savedBudgets">
          <ion-item *ngIf="budget.archived">
            <div class="saved-budget" style="display:flex">
              <div
                class="saved-details"
                (click)="restoreBudget(budget)"
                style="flex-basis:100%"
              >
                <div>{{ budget.title }}</div>
                <div>{{ budget.created | date: "mediumDate" }}</div>
              </div>
              <ion-button fill="clear" (click)="restoreBudget(budget)">{{
                "Restore" | translate
              }}</ion-button>
            </div>
          </ion-item>
        </div>
      </div>
    </ion-list>
    <ion-button
      *ngIf="!showArchived"
      fill="clear"
      (click)="showArchivedBudgets()"
      >{{ "Show archived" | translate }}</ion-button
    >
    <div *ngIf="!savedBudgets">
      <p>{{ "There are no saved budgets" | translate }}</p>
    </div>
  </div>
  <ion-button
    (click)="startNew()"
    color="primary"
    id="createNewBudget"
    style="max-width: 400px"
  >
    <ion-icon name="add" class="large-icon"></ion-icon>
    <span style="margin-left:10px">{{
      "Create a new budget" | translate
    }}</span>
  </ion-button>
  <!-- <button ion-button (click)="_ADMIN_LoadBudgetMocks()">Admin Load Budgets</button> -->
</div>
