<div class="page-content">
  <!-- List version -->
  <div *ngIf="view === 'list'">
    <button mat-button class="view-toggle" color="primary" (click)="view = 'grid'">
      <mat-icon>grid_on</mat-icon>
    </button>
    <section class="period-section" *ngFor="let period of listData">
      <h2 class="section-label">{{ period.label | translate }}</h2>
      <table class="manual-steps">
        <tr class="manual-step" *ngFor="let step of period.children">
          <td style="width: 50px; border-right: none; font-weight: bold">{{ step.name | translate }}</td>
          <td style="border-left: none">{{ step.label | translate }}</td>
          <td style="border-right: none">
            <div class="step-items">
              <div class="step-item" *ngFor="let item of step.children">
                <mat-icon color="primary" svgIcon="{{ item.icon }}"></mat-icon>
                <div class="step-item-label">{{ item.label }}</div>
              </div>
            </div>
          </td>
          <td class="step-arrow" style="border-left: none">
            <mat-icon>chevron_right</mat-icon>
          </td>
        </tr>
      </table>
    </section>
  </div>

  <!-- Grid version -->
  <div *ngIf="view === 'grid'">
    <button mat-button class="view-toggle" color="primary" (click)="view = 'list'">
      <mat-icon>list</mat-icon>
    </button>
    <h2 class="section-label">{{ 'Activities' | translate }}</h2>
    <section class="grid-view">
      <div class="ActivitiesContainer">
        <div class="ActivityItem" *ngFor="let item of gridData">
          <div class="IconHolder">
            <mat-icon class="iconStyle" [svgIcon]="item.icon"></mat-icon>
          </div>
          <span>{{ item.label }}</span>
        </div>
      </div>
    </section>
  </div>
</div>
