name: Android E2E Tests

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/android-build.yml
    with:
      build-type: debug
    secrets:
      SUPABASE_ANON_KEY: ${{ secrets.SUPABASE_ANON_KEY }}
      GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}

  e2e:
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6

      - name: Download debug APK
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.build.outputs.artifact-name }}
          path: ./apk

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: AVD cache
        uses: actions/cache@v5
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          # key: avd-${{ matrix.api-level }}
          key: avd-34

      - name: create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 34
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

      - name: Run Appium tests on emulator
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 34
          arch: x86_64
          profile: pixel_6
          emulator-options: -no-snapshot-save -no-window -noaudio -no-boot-anim -gpu swiftshader_indirect
          disable-animations: true
          script: cd apps/picsa-apps/app-native-e2e && yarn wdio run wdio.conf.ts
        env:
          APK_PATH: ${{ github.workspace }}/apk

      - name: Upload screenshots
        if: always() # Upload even if tests fail
        uses: actions/upload-artifact@v4
        with:
          name: e2e-screenshots-${{ github.run_id }}
          path: apps/picsa-apps/app-native-e2e/screenshots
          retention-days: 14
          if-no-files-found: ignore
