# Deploy to firebase hosting

# Required Secrets
# - FIREBASE_SERVICE_ACCOUNT

name: Web Release
on:
  release:
    types: [published]
  workflow_dispatch:

env:
  # Ensure supabase config env available to all steps as used in nx build cache computation
  # as well as populating file
  SUPABASE_PROJECT_ID: ${{ vars.SUPABASE_PROJECT_ID }}
  SUPABASE_ANON_KEY: ${{ secrets.SUPABASE_ANON_KEY }}

jobs:
  web_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: "yarn"

      - name: Install node modules
        run: yarn install --immutable

      - name: Populate supabase config
        run: |
          jq -n \
            --arg apiUrl "https://${SUPABASE_PROJECT_ID}.supabase.co" \
            --arg anonKey "$SUPABASE_ANON_KEY" \
            '{apiUrl: $apiUrl, anonKey: $anonKey}' \
            > libs/environments/src/supabase/supabase.config.json

      - run: yarn nx run picsa-apps-app:build

      - name: Verify supabase config in built output
        run: |
          CONFIG_FILE=dist/apps/picsa-apps/app/assets/supabase.config.json
          if [ ! -f "$CONFIG_FILE" ]; then
            echo "❌ Missing $CONFIG_FILE in build output!"
            ls dist/apps/picsa-apps/app/assets
            exit 1
          fi
          echo "✅ Found supabase config in build output"
          cat "$CONFIG_FILE"

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}"
          projectId: picsa-apps
          target: extension-toolkit
          channelId: live
