mat-dialog-content {
  width: 300px;
}
mat-form-field {
  display: block;
}
input.mat-mdc-input-element.mdc-text-field__input {
  font-size: 16px;
  height: 48px;
}
.action-buttons-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
