<div style="display: flex">
  <!-- Counters -->
  <div class="counter-container">
    @for (label of labels; track label; let i = $index) {
    <div>
      <div style="display: flex; font-size: small">
        <div style="width: 20px; height: 20px">
          <img class="dot-value-image" [src]="'assets/budget-icons/dot-' + label + '.svg'" />
        </div>
        <div>= {{ values[i] | number: '.0' }}</div>
      </div>
    </div>
    }
  </div>
  <!-- Buttons -->
  <div class="buttons-container">
    <button mat-button class="balance-button" (click)="scaleValues(10)">
      <mat-icon>arrow_upward</mat-icon>
      {{ 'Increase Scale' | translate }}
    </button>
    <button mat-button class="balance-button" (click)="scaleValues(0.1)">
      <mat-icon>arrow_downward</mat-icon>
      {{ 'Decrease Scale' | translate }}
    </button>
  </div>
</div>
