:host {
  display: block;
}
.dot-value {
  height: 1em;
}
.dot-value-image {
  max-height: 1em;
  margin: 1px;
}
.counter-container {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buttons-container {
  flex: 1;
}
